<h1>{{:~GetString("ID_STR_MOVEMENT_DOC")}}</h1>

<div class="pmt-details" data-bind="component: {
    name: 'label-value-list', params: {
        heading: { hidden: true },
        details: [
            { label: jQuery.GetResString('ID_STR_PAYER_NAME'), value: PayerName },
            { label: jQuery.GetResString('ID_STR_PAYER_IBAN'), value: PayerAccountNumber || PayerIBAN },
            { label: jQuery.GetResString('ID_STR_PAYEE_NAME'), value: PayeeName },
            { label: jQuery.GetResString('ID_STR_PAYEE_IBAN'), value: PayeeAccountNumber || PayeeIBAN },
            {
                label: jQuery.GetResString('ID_STR_AMOUNT'),
                value: '{0} {1}'.format(jQuery.format.number(Amount), CCY.SWIFTCode)
            },
            { label: jQuery.GetResString('ID_STR_PAYMENY_DETAILS'), value: Description1 },
            { label: jQuery.GetResString('ID_STR_PAYMENY_DETAILS_ADDTIONAL'), value: Description2 }
        ]
    }
}">
</div>