<h1>{{:~GetString("ID_STR_MOVEMENT_DOC_TYPE_PB")}}</h1>
<div class="pmt-details" data-bind="component: {
    name: 'label-value-list', params: function() {
        var params = {
            heading: { hidden: true }, details: [
                { label: jQuery.GetResString('ID_STR_PAYER_NAME'), value: PayerName },
                { label: jQuery.GetResString('ID_STR_PAYER_IBAN'), value: PayerIBAN },
                { label: jQuery.GetResString('ID_STR_PAYEE_NAME'), value: PayeeName },
                { label: jQuery.GetResString('ID_STR_PAYEE_IBAN'), value: PayeeIBAN },
                {
                    label: jQuery.GetResString('ID_STR_AMOUNT'),
                    value: '{0} {1}'.format(jQuery.format.number(Amount), CCY.SWIFTCode)
                },
                { label: jQuery.GetResString('ID_STR_PAYMENY_DETAILS'), value: Description1 },
                { label: jQuery.GetResString('ID_STR_PAYMENY_DETAILS_ADDTIONAL'), value: Description2 },
                {
                    label: jQuery.GetResString('ID_STR_LIABILITY_DOCUMENT_TYPE'),
                    value: [LiabilityDocumentType, LiabilityDocumentNumber],
                    cssClass: 'list-group-item-block'
                }
            ]
        };
        if (LiabilityDocumentDate) {
            params.details.push({ label: jQuery.GetResString('ID_STR_LIABILITY_DOCUMENT_DATE'), value: jQuery.format.date(LiabilityDocumentDate) });
        }
        if (LiabilityPeriodStartDate || LiabilityPeriodEndDate) {
            params.details.push({
                label: jQuery.GetResString('ID_STR_PAYMENT_PERIOD'),
                value: '{0} - {1}'.format(jQuery.format.date(LiabilityPeriodStartDate), jQuery.format.date(LiabilityPeriodEndDate))
            });
        }
        params.details.push({ label: jQuery.GetResString('ID_STR_LIABILITY_PERSON_HEADER'), value: LiabilityPersonNAME });
        if (LiabilityPersonBULSTAT) {
            params.details.push({ label: jQuery.GetResString('ID_STR_LIABILITY_PERSON_BULSTAT'), value: LiabilityPersonBULSTAT });
        }
        if (LiabilityPersonEGN) {
            params.details.push({ label: jQuery.GetResString('ID_STR_LIABILITY_PERSON_EGN'), value: LiabilityPersonEGN });
        }
        if (LiabilityPersonLNC) {
            params.details.push({ label: jQuery.GetResString('ID_STR_LIABILITY_PERSON_PERSONAL_ID'), value: LiabilityPersonLNC });
        }

        return params;
    }
}">
</div>

{{:~RenderPartial('text!Mobile/Templates/Accounts/Movements/Partials/DatesPaymentSystem.html', #data)}}