<footer class="button-group btn-group-justified">

    <a data-bind="clickWithEffect: MoveBack, clickBubble: false" class="btn btn-secondary" id="wizardButtonBack{{>StepsInformation.currentStep.stepNumber}}">
        <i class="i-left-open-big"></i><span id="pmntWizardBack{{>#data.StepsInformation.currentStep.stepNumber}}">{{:~GetString("ID_STR_BACK")}}</span>
    </a>

    <a data-bind="clickWithEffect: MoveNext, clickBubble: false" class="btn btn-primary" id="wizardButtonNExt{{>StepsInformation.currentStep.stepNumber}}">
        <span id="pmntWizardNext{{>#data.StepsInformation.currentStep.stepNumber}}">{{:~GetString("ID_STR_NEXT")}}</span><i class="i-right-open-big"></i>
    </a>

</footer>

<!--<footer class="button-group btn-group-justified">
    <a href='#' class="btn btn-primary" data-role='button' id="newPayment" data-bind='click: newPayment'>
        {{:~GetString("ID_STR_CREATE_NEW_PAYMENT")}}
    </a>
</footer>-->