<footer class="button-group btn-group-justified">
    <a class="btn btn-secondary" id="summaryBtnMoveBack" data-bind='visible: ViewModelState() != ViewModelStateType.Completed, clickWithEffect: MoveBack, clickBubble: false'>
        {{:~GetString("ID_STR_BACK")}}
    </a>

    <a class="btn btn-primary" id="summaryBtnSave" data-bind='visible: ViewModelState() == ViewModelStateType.WaitingForOperation, clickWithEffect: SavePayment, clickBubble: false'>
        {{:~GetString("ID_STR_PAYMENT_SAVE")}}
    </a>

    <a class="btn btn-primary" id="summaryBtnSaveAndSend" data-bind='visible: ViewModelState() == ViewModelStateType.WaitingForOperation, clickWithEffect: SaveAndSendPayment, clickBubble: false'>
        {{:~GetString("ID_STR_SEND")}}
    </a>

    <a class="btn btn-secondary" id="summaryBtnBackToPrevious" data-bind='visible: ViewModelState() == ViewModelStateType.Completed, clickWithEffect: BackToPreviousPage, clickBubble: false '>
        {{:~GetString("ID_STR_CONTINUE")}}
    </a>

    </footer>

    <!--<footer class="button-group btn-group-justified">

        <a data-bind="click: MoveBack, clickBubble : false" class="btn btn-secondary" id="wizardButtonBack{{>StepsInformation.currentStep.stepNumber}}">
            <span id="pmntWizardBack{{>#data.StepsInformation.currentStep.stepNumber}}">{{:~GetString("ID_STR_BACK")}}</span>
        </a>

        <a data-bind="click: MoveNext, clickBubble : false" class="btn btn-primary" id="wizardButtonNExt{{>StepsInformation.currentStep.stepNumber}}">
            <span id="pmntWizardNext{{>#data.StepsInformation.currentStep.stepNumber}}">{{:~GetString("ID_STR_NEXT")}}</span>
        </a>

    </footer>-->
