<div data-role="content" class="pmtwizard step-2">
    {{:~RenderPartial('text!Mobile/Templates/Payments/Wizard/Steps/CurrentStepTemplate.html', #data.StepsInformation )}}
    <div id="submenu" class="panel select-payee">
        <div class="btn-group btn-group-justified">
            <a href="javascript:void(0);" class="btn" data-bind="clickWithEffect: ShowAPAccounts, css: { 'active': APAccountsSubModelVisible }">{{>strings.ID_STR_OWN_ACCOUNTS}}</a>
            <a href="javascript:void(0);" class="btn" data-bind="clickWithEffect: ShowBeneficiaries, css: { 'active': BeneficiariesSubModelVisible }">{{>strings.ID_STR_BENEFICIARIES}}</a>
        </div>

        <span class="validation-msg" data-bind="validationMessageFor: 'SubModel'" />

        <div data-bind="renderAction: APAccountsSubModel, visible: APAccountsSubModelVisible, validate: APAccountsSubModelVisible" class="beneftypewrap" />
        <div data-bind="renderAction: BeneficiariesSubModel, visible: BeneficiariesSubModelVisible, validate: BeneficiariesSubModelVisible" class="beneftypewrap" />
    </div>
</div>
{{:~RenderPartial('text!Mobile/Templates/Payments/Wizard/ButtonsTemplate.html',#data )}}  