<div data-role="content" class="ui-content pmtwizard">
    {{:~RenderPartial('text!Mobile/Templates/Payments/Wizard/Steps/CurrentStepTemplate.html', #data.StepsInformation )}}  

    <div class="wizradbody panel" style="border-top: 0 none;"> 

        <div data-bind="visible: ViewModelState() == ViewModelStateType.WaitingForOperation">

            <div id="paymentdetails" class="pmt-preview" data-bind="displayFor: { data: $data.Model.PaymentPreview.Document, path: 'Payments/Wizard/Preview/'}" />    
            
            <div class="pmt-preview" style="margin-top:-22px" data-bind="component: { name: 'label-value-list', 
                params: {
                    heading: { hidden: true },
                    details: [
                        { label: jQuery.GetResString('ID_STR_EXECUTE_DATE'), value: jQuery.format.date($data.Model.PaymentPreview.Incarnation.ExecuteDate) }
                    ]
                }
            }"></div>

        </div>

        <div style="margin-top:10px;" data-bind="partial: { path: 'Common/Notifications' }" />
    </div>
</div>

{{:~RenderPartial('text!Mobile/Templates/Payments/Wizard/ButtonsSummaryTemplate.html',#data )}}  