<div class="contentWithFooter">
    <a class="btn btn-sm btn-close" data-bind="clickWithEffect: Close"><i class="i-left-open"></i></a>
    <div data-bind="partial: { path: 'OnlineNotifications/OnlineNotificationTemplate', data: NotificationViewModel() }"></div>
</div>

