﻿<div class="panel-header">
    <div class="overlay panel">
        <h2 class="account-name">{{:~GetString("ID_STR_ONLINE_NOTIF_LIST")}}</h2>        
    </div>    
</div>

<div class="panel" >
    <div id="notifications_list">
        <ul class='list-group info messages' id='notificationsResult' style="clear: both;">
            <!-- ko foreach: $root.Notifications  -->
            <li class="list-group-item" data-bind="css: { notificationSeen: Seen, notificationRead: Read }">
                <a href="#" data-bind="clickWithEffect: $parent.showNotification">
                    <span data-bind='text: $.format.date($data.CreateTimeStamp, "dd.MM.yyyy hh:mm:ss")'></span>
                    <span data-bind='text: $data.Subject'></span>
                </a>
            </li>
            <!-- /ko -->
            <!-- ko if: $root.Notifications().length == 0 -->
            <div class="alert alert-info nodata">
                {{>~GetString("ID_STR_ONLINE_NOTIF_NONE")}}
            </div>
            <!-- /ko -->
            <!-- ko  -->
            <style>
                #submenu > .btn-group {
                  top: 113px;
                }
            </style>
            <!-- /ko -->
        </ul>
    </div>
</div>
