﻿<div id='payments_filter' class="panel panel-filter">
    <div class="form-group">
        <h2 for='movementTypeSelect'>{{:~GetString('ID_STR_ONLINE_NOTIF_SERVICE_TYPE')}}:</h2>
        <div class="input-group-btn" data-bind="partial: {
                path: 'Common/DropDownList',
                data: {
                    value: SelectedService,
                    options: Services(),
                    optionsText: 'ServiceNameLocalized',
                    optionsCaption: jQuery.GetResString('ID_STR_ONLINE_NOTIF_CHOOSE_SERVICE_TYPE')
                }
            }">
        </div>
        <span class="validation-msg" data-bind="validationMessageFor: 'SelectedService'"></span>  
        
        <!--ko if: SelectedServiceHasOptions()-->
        <div data-bind="
            partial: {
                path: 'OnlineNotifications/ServiceOptions/' + SelectedService().Options.$type,
                data: SelectedService().Options,
                parent: SelectedService()
            }">        
        </div>
        <!--/ko-->     
    </div>

    <!--ko if: SelectedService() && SelectedService().ProductType == ProductType_Account-->
    <div class="form-group">
        <h2>{{:~GetString("ID_STR_ONLINE_NOTIF_FOR_ACCOUNT")}}</h2>
        <div data-bind="renderAction: SelectedAccount() != null ? {
                controller: 'AccountOverview',
                action: 'simpleAccountPreview',
                params: [SelectedAccount().BankAccountID]
            } : null, visible: SelectedAccount() != null" />

        <!--ko if: SelectedAccount() == null-->
        <a class="btn btn-secondary btn-block-small btn-payer" data-bind="clickWithEffect: SelectAccount">
            {{:~GetString("ID_STR_CHOOSE_FROM_ACCOUNT")}}
        </a>
        <!--/ko-->
        <!--ko if: SelectedAccount() != null-->
        <a class="btn btn-secondary btn-block-small btn-payer" data-bind="clickWithEffect: SelectAccount">
            {{:~GetString("ID_STR_CHOOSE_OTHER_ACCOUNT")}}
        </a>
        <!--/ko-->
        <span class="validation-msg" data-bind="validationMessageFor: 'SelectedAccount'" />
    </div>
    <!--/ko-->

    <!--ko if: SelectedService() && SelectedService().ProductType == ProductType_BankClient-->
    <div class="form-group">
        <h2>{{:~GetString("ID_STR_ONLINE_NOTIF_FOR_BANKCLIENT")}}</h2>
        <!--ko if: SelectedBankClient() -->
            <ul class="list-group info account-simple">
                <li class="list-group-item">
                    <a class="list-group-item-inner">
                        <div class="description">
                            <span class="prodname" data-bind="text: SelectedBankClient().NAME"></span>
                            <span class="secondarylabel" data-bind="text: SelectedBankClient().BankClientID"></span>
                        </div>                
                    </a>
                </li>
            </ul>
        <!--/ko-->
        
        <!--ko if: SelectedBankClient() == null-->
        <a class="btn btn-secondary btn-block-small btn-payer" data-bind="clickWithEffect: SelectBankClient">
            {{:~GetString("ID_STR_ONLINE_NOTIF_CHOOSE_BANKCLIENT")}}
        </a>
        <!--/ko-->
        <!--ko if: SelectedBankClient() != null-->
        <a class="btn btn-secondary" data-bind="clickWithEffect: SelectBankClient">
            {{:~GetString("ID_STR_ONLINE_NOTIF_CHOOSE_ANOTHER_BANKCLIENT")}}
        </a>        
        <!--/ko-->
        <span class="validation-msg" data-bind="validationMessageFor: 'SelectedBankClient'" />
    </div>
    <!--/ko-->

    
</div>

<footer class="button-group btn-group-justified">
    <a href='#' class="btn btn-primary" data-role='button' id="saveSubscription" data-bind='clickWithEffect: saveSubscription'>
        <i class="i-doc-text"></i>{{:~GetString("ID_STR_ONLINE_NOTIF_SAVE_NEW_SUBSCRIPTION")}}
    </a>
</footer>
