<span class="validation-msg" data-bind="validationMessageFor: 'SelectedAccount'" />
<ul class='list-group my-accounts'>
    <!-- ko if: showOptionAll -->
        <li class='list-group-item selected all-accounts'>
            <a class="list-group-item-inner" href='#' data-bind='clickWithEffect: ClearAccount'>
                <div class="description">
                    <span class="prodname">{{:~GetString("ID_STR_ALL_ACCOUNTS")}}</span>
                    <span class="secondarylabel">{{:~GetString("ID_STR_ALL_ACCOUNTS_SUB")}}</span>
                </div>
            </a>
        </li>
    <!-- /ko -->
    <!-- ko if: showOptionAll == false && APAccounts().length == 0 -->
        <div class="alert alert-info nodata">
            {{>~GetString("ID_STR_NO_ACCOUNTS")}}
        </div>
    <!-- /ko -->
    <!-- ko foreach: APAccounts -->
        <!--ko if: $parent.APAccounts().length > 1-->
            <li class='list-group-item list-group-item-heading' data-bind="text: $data.BankClient.NAME"></li>
        <!-- /ko -->
        <!-- ko foreach: Items -->
            <li class='list-group-item' data-bind="css: $root.SelectedAccount() && ($root.SelectedAccount().BankAccountID == $data.BankAccount.BankAccountID) ? 'selected' : ''">
                <a class="list-group-item-inner" href='#' data-bind='clickWithEffect: $root.SelectAccount'>
                    {{:~RenderPartial('text!Mobile/Templates/Common/AccountLabel.html',#data )}}
                </a>
            </li>
        <!-- /ko -->
    <!-- /ko -->
</ul>