﻿<!-- ko if: NavigationViewModel.PageReachableFromMenu -->
    <a id="trigger" class="navbar-toggle pull-left btn-navig ripple"
        data-bind="clickWithEffect: function () { $('#menuContainer').swipeMenu('toggle'); }">
    <!--<div class="bars">
            <span class="first"></span>
            <span class="second"></span>
            <span class="third"></span>
    </div>-->
    <span class="i-menu"></span>
    </a>
<!-- /ko -->

<!-- ko ifnot: NavigationViewModel.PageReachableFromMenu -->
    <a class="navbar-toggle pull-left ripple"
   data-bind="clickWithEffect: function () { require('utils').callBackOnCurrentViewModel(); }">
    <!--<div class="bars">
        <span class="first"></span>
    </div>-->
    <span class="i-left-open"></span>
</a>
<!-- /ko -->