<div id='AccountHelper' data-role="daispopup" >
    <a class="btn btn-sm btn-close" data-bind="clickWithEffect: Close"><i class="i-left-open"></i></a>
    <ul class="list-group"  id="paymentAccountPicker"> 
    <!-- ko foreach: APAccounts -->
        <li  class="list-group-item" tabindex="1"  data-bind="component: {
            name: 'name-amount-ccy-label',
            params: {
                label: ShortName, CCY: BankAccount.CCY,
                secondaryLabel: jQuery.GetLocalizedString(BankAccount.AccountProductType.Name),
                click : $parent.SelectAccount,
                value: $parent.GetAccountFormattedBalanceFromAccount($data)
            }
        }">
            <!--<a href='#' data-bind='click: $parent.SelectAccount'>
            {{:~RenderPartial('text!Mobile/Templates/Common/AccountLabel.html',#data )}}
            </a>-->
        </li>
    <!-- /ko -->
    </ul>
            
 </div>
