﻿<div class="ui-content" >
    <div class="panel messages" style="margin-top: 10px;padding:10px; "> 
        <label > {{>~format.date(MessageToUser.PopUpDate)}}</label>
        <h1 data-bind="css: MessageToUser.Priority==0?'info':(MessageToUser.Priority==1?'warning':'critical')">
            {{if ~GetLocalizedString(MessageToUser.Subject)}}
                {{>~GetLocalizedString(MessageToUser.Subject)}} 
            {{else}} &nbsp; {{/if}}
        </h1>  
        <div class="separator blank">&nbsp;</div>
        <div id="message_container" data-bind="html:MessageToUser.Body.HtmlBody"> </div>
    </div>
</div>