﻿<div id='messages_filter'> 
<ul class='list-group info messages' id='messagesResult' style="clear: both;">
	<!-- ko foreach: $root.Messages -->
	    <li class="list-group-item" data-bind="css: {messageRead : Read, info : Priority==0, warning: Priority==1, critical : (Priority!=0 && Priority!=1) }">
            <a href="#" data-bind="clickWithEffect: $parent.showMessage" class="list-group-item-inner">
                <div class="description">
                    <span class="prodname" data-bind="text: $.GetLocalizedString(Subject)"></span>
                    <span class='secondarylabel' data-bind='text: $.format.date($data.PopUpDate)'></span>
                </div>
            </a>
	    </li>
    <!-- /ko -->
    <!-- ko if: $root.Messages().length == 0 -->
        <div class="alert alert-info nodata">
            {{>~GetString("ID_STR_NO_MESSAGES")}}
        </div>
    <!-- /ko -->
</ul>

</div>