
<div>
    <label>  {{:~GetString("ID_STR_NAME")}} </label>
    <span data-bind="text: BankAccount.BankClient.NAME"> </span>

    <label>{{:~GetString("ID_STR_PAYEE_IBAN") }} </label>
    <span data-bind="text: BankAccount.IBAN" </span>
    
    
</div>

