<nav class="navbar navbar-fixed-top" id="navbar"></nav>
<div class="picker">
    <div class="overlay">
        <h2>{{:~GetString("ID_STR_BENEFICIARIES")}}</h2>
        <!--<hr />-->
        <a class="btn btn-sm btn-close" data-bind="clickWithEffect: Close"><i class="i-left-open"></i></a>
        <!--<div class="shortdescr">{{:~GetString("ID_STR_PICK_ACC_DESC")}}</div>-->

        <ul class='list-group beneficiaries-list' id="paymentBenefAccountPicker">
            <!-- ko foreach: PayeeAPAsBeneficiariesCommon -->
                <!-- ko foreach: Accounts -->
                    <li class='list-group-item' data-bind='clickWithEffect: $parentContext.$parent.SelectItem'>
                        <a>
                            <span class="prodname" data-bind='text: $parents[0].BeneficiaryName'> </span>
                            <div class="additional-info">
                                <span class="secondarylabel">IBAN: </span><span class="secondarylabel iban" data-bind='text: ($data.AccountNumber != null ? $data.AccountNumber : ($data.IBAN ? $data.IBAN : ""))'> </span>
                        
                                <span class="secondarylabel">{{:~GetString("ID_STR_CCY")}}: </span><span class="secondarylabel ccy-label" data-bind='text: ($data.CCY ? $data.CCY.SWIFTCode : "")'> </span>
                            </div>
                        </a>
                    </li>
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: PayeeAPAsBeneficiariesCommon().length == 0 -->
                <div class="alert alert-info nodata">
                    {{>~GetString("ID_STR_NO_BENEFICIARIES")}}
                </div>
            <!-- /ko -->
        </ul>
    </div>
</div>

    
