<!--<div class="separator" style="margin: 0 -10px; padding: 0">&nbsp;</div>-->
<div class="pmt-details" data-bind="component: { name: 'label-value-list', params: {
    heading: { hidden: true },
    details: [
        { label: jQuery.GetResString('ID_STR_PAYMENT_CREATOR'), value: Creator.Name },
        { label: jQuery.GetResString('ID_STR_CREATE_DATE'), value: jQuery.format.date(CreateDate, 'dd.MM.yyyy HH:mm') },
        { label: jQuery.GetResString('ID_STR_EXECUTE_DATE'), value: jQuery.format.date(ExecuteDate) },
        { label: jQuery.GetResString('ID_STR_EXPIRY_DATE'), value: jQuery.format.date(ExpiryDate) }
    ]
} }"></div>