﻿<div class="form-group">

    <label for="AccountNumber">{{>~GetString("ID_STR_BENEFICIRAY_ACCOUNT_FOREIGN_NUMBER")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Account.AccountNumber, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Account.AccountNumber'" />
</div>
    
    <h1>{{>~GetString("ID_STR_PAYMENT_BENEFICIATY_BANK_DETAILS")}}</h1>

<div class="form-group">
    <label for="BankName">{{>~GetString("ID_STR_BENEFICIRAY_ACCOUNT_FOREIGN_BANK_NAME")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Account.BankName, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Account.BankName'" />
</div>
<div class="form-group">
    <label for="BankAddress">{{>~GetString("ID_STR_BENEFICIRAY_ACCOUNT_FOREIGN_BANK_ADDRESS")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Account.BankAddress, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Account.BankAddress'" />
</div>
<div class="form-group">
    <label for="BankCity">{{>~GetString("ID_STR_BENEFICIRAY_ACCOUNT_FOREIGN_BANK_CITY")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Account.BankCity, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Account.BankCity'" />
</div>
    <!--<label for="BankCode">{{:~GetString("ID_STR_BENEFICIRAY_ACCOUNT_FOREIGN_BANK_CODE")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Account.BankCode, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Account.BankCode'" />-->
<div class="form-group">
    <label for="BankSWIFT">{{>~GetString("ID_STR_BENEFICIRAY_ACCOUNT_FOREIGN_BANK_SWIFT")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Account.BankSWIFT, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Account.BankSWIFT'" />
</div>
<div class="form-group">
    <label for="BankCountry">{{>~GetString("ID_STR_BENEFICIRAY_ACCOUNT_FOREIGN_BANK_COUNTRY")}}</label>
    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
        data: { value: SelectedCountry, options: ViewData.Countries, optionsText: 'Name', optionsCaption: jQuery.GetResString('ID_STR_CHOOSE') }
    }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'SelectedCountry'" />
</div>
