<span class='secondarylabel'>from:</span> <span class=' secondarylabel payer' data-bind='text: $data.Document.PayerAccountName? $data.Document.PayerAccountName : $data.Document.PayerAccountIBAN'></span>

<div data-bind="if:  $data.Document.PayeeAccountName || $data.Document.PayeeAccountIBAN">
    <span class='secondarylabel'>to:</span><span class='secondarylabel payee' data-bind='text: $data.Document.PayeeAccountName? $data.Document.PayeeAccountName : $data.Document.PayeeAccountIBAN '></span>
</div>

<!--<div style="margin-bottom: 5px;" data-bind="if : $data.Document.Details || $data.Document.Details2 || $data.Document.Details3 || $data.Document.Details4">
    <img src="Content/images/icons/document-small-list.png" alt="Description" />
    <span data-bind="text: $data.Document.Details, visible: $data.Document.Details != null" />
    <span data-bind="text: $data.Document.Details2, visible: $data.Document.Details2 != null" />
    <span data-bind="text: $data.Document.Details3, visible: $data.Document.Details3 != null" />
    <span data-bind="text: $data.Document.Details4, visible: $data.Document.Details4 != null" />
</div>-->

<!-- ko if: ($data.PaymentOrderAllowedOperations._Messages && $data.PaymentOrderAllowedOperations._Messages.length > 0) -->
    <div class="alert alert-info">
        <!-- ko foreach: $data.PaymentOrderAllowedOperations._Messages -->
            <span data-bind="text: $data"></span>
        <!-- /ko -->
    </div>
<!-- /ko -->