<div class="panel panel-header panel-lightblue">
    <div class="overlay">
        <h2 class="account-name">{{:~GetString("ID_STR_PAYMENT_ARCHIVE")}}</h2>
        <div data-bind="visible: Filter.Paging.TotalResults() > 0">
            <hr />
            <span class="shortdescr">
                {{:~GetString("ID_STR_TOTAL_RESULTS")}}
                <em data-bind="text: Filter.Paging.TotalResults"></em>
            </span>
        </div>
    </div>
</div>

{{:~RenderPartial('text!Mobile/Templates/Payments/ViewPaymentsFilterTemplate.html',#data )}}

<div class="panel" style="margin-top: 10px;">
    <ul id='paymentsResult' class="list-group list-group-pmt" style="clear: both;">
        <!-- ko foreach: $root.Payments -->
        <li class="list-group-item" tabindex="1" style="height:auto"
            data-bind="css: 'btn-group-' + actionButtons.filter(function (btn) { return btn.enabled == true; }).length,
                component: {
                name: 'name-amount-ccy-label',
                params: {
                    label: jQuery.GetLocalizedString(Incarnation.PaymentType.Description),
                    CCY: $data.Document.CCY,
                    secondaryLabel: jQuery.format.date($data.Incarnation.CreateDate),
                    value: jQuery.format.number($data.Document.Amount),
                    actionButtons: actionButtons,
                    additionalInfoTmpl: { Template: require('text!Mobile/Templates/Payments/ArchivePaymentAdditionalInfoTemplate.html'), Data: $data }
                }
            }">
        </li>
        <!-- /ko -->
        <!-- ko if: isLoaded() == true && $root.Payments().length == 0 -->
        <div class="alert alert-info nodata">
            {{>~GetString("ID_STR_NO_ARCHIVE_PAYMENTS")}}
        </div>
        <!-- /ko -->
    </ul>
    <!-- ko if: $root.Payments().length > 0 -->
    <style>
        #submenu.payments > .btn-group {
            top: 148px;
        }
    </style>
    <!-- /ko -->
</div>

