﻿<div data-role="content">
    <div class="panel" style="padding: 10px">
    <ul data-role="listview" class="listmore">
        <li data-bind="click: viewBranches" class="branches"><a href="#">{{>~GetString('ID_STR_BRANCHES_ATMS')}}</a> </li>
        <li data-bind="click: viewCcyCalc"  class="ccyCalc" ><a href="#">{{>~GetString('ID_STR_CURRENCY_CONVERTER')}}</a> </li>
        <li data-bind="click: viewContacts" class="contacts"><a href="#">{{>~GetString('ID_STR_CONTACTS')}}</a> </li>
        <li data-bind="click: logout" class="logout"><a href="#" >{{>~GetString('ID_STR_LOGOUT_BUTTON')}}</a></li>
    </ul>
    <div class="separator" style="margin-top:10px;">&nbsp;</div>
       <span class="message info">{{:~GetString("ID_STR_MORE_FEATURES_NEXT_VERSION")}}</span>
    </div>
</div>
