﻿body {

}

// Roboto Regular
@font-face {
  font-family: "Roboto-Regular";
  src:url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.font-regular() {
  font-family: "Roboto-Regular";
  font-weight:400;
  font-style: normal;
}

// Roboto Bold
@font-face {
  font-family: "Roboto-Bold";
  src:url("fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.font-bold() {
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-style: normal;
}

// Roboto Thin
@font-face {
  font-family: "Roboto-Thin";
  src:url("fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

.font-thin() {
  font-family: "Roboto-Thin";
  font-weight: 100;
  font-style: normal;
}

// Roboto Light
@font-face {
  font-family: "Roboto-Light";
  src:url("fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.font-light() {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
}

// Roboto Condensed Bold
@font-face {
  font-family: "RobotoCondensed-Bold";
  src:url("fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.font-condensed() {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal; 
}

@font-face {
  font-family: 'mobile-set'; 
  src: url('fonts/mobile-set.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mobile-set';
    src: url('../font/mobile-set.svg?50105950#mobile-set') format('svg');
  }
}
*/
 
 [class^="i-"]:before, [class*=" i-"]:before {
  font-family: "mobile-set";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /*text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);*/
}
 
.i-left-open-big:before { content: '\e800'; } /* '' */
.i-right-open-big:before { content: '\e801'; } /* '' */
.i-left-open-mini:before { content: '\e802'; } /* '' */
.i-right-open-mini:before { content: '\e803'; } /* '' */
.i-up-open-mini:before { content: '\e804'; } /* '' */
.i-down-open-big:before { content: '\e805'; } /* '' */
.i-up-open-big:before { content: '\e806'; } /* '' */
.i-down-open:before { content: '\e807'; } /* '' */
.i-left-open:before { content: '\e808'; } /* '' */
.i-right-open:before { content: '\e809'; } /* '' */
.i-up-open:before { content: '\e80a'; } /* '' */
.i-down-open-mini:before { content: '\e80b'; } /* '' */
.i-down:before { content: '\e80c'; } /* '' */
.i-left:before { content: '\e80d'; } /* '' */
.i-right:before { content: '\e80e'; } /* '' */
.i-up:before { content: '\e80f'; } /* '' */
.i-down-dir:before { content: '\e810'; } /* '' */
.i-left-dir:before { content: '\e811'; } /* '' */
.i-right-dir:before { content: '\e812'; } /* '' */
.i-up-dir:before { content: '\e813'; } /* '' */
.i-down-bold:before { content: '\e814'; } /* '' */
.i-left-bold:before { content: '\e815'; } /* '' */
.i-right-bold:before { content: '\e816'; } /* '' */
.i-up-bold:before { content: '\e817'; } /* '' */
.i-ccw:before { content: '\e818'; } /* '' */
.i-cw:before { content: '\e819'; } /* '' */
.i-arrows-ccw:before { content: '\e81a'; } /* '' */
.i-search:before { content: '\e81b'; } /* '' */
.i-star:before { content: '\e81c'; } /* '' */
.i-star-empty:before { content: '\e81d'; } /* '' */
.i-user:before { content: '\e81e'; } /* '' */
.i-users:before { content: '\e81f'; } /* '' */
.i-user-add:before { content: '\e820'; } /* '' */
.i-menu:before { content: '\e821'; } /* '' */
.i-check:before { content: '\e822'; } /* '' */
.i-cancel:before { content: '\e823'; } /* '' */
.i-cancel-squared:before { content: '\e824'; } /* '' */
.i-cancel-circled:before { content: '\e825'; } /* '' */
.i-plus:before { content: '\e826'; } /* '' */
.i-plus-circled:before { content: '\e827'; } /* '' */
.i-plus-squared:before { content: '\e828'; } /* '' */
.i-minus:before { content: '\e829'; } /* '' */
.i-minus-circled:before { content: '\e82a'; } /* '' */
.i-minus-squared:before { content: '\e82b'; } /* '' */
.i-info:before { content: '\e82c'; } /* '' */
.i-help-circled:before { content: '\e82d'; } /* '' */
.i-help:before { content: '\e82e'; } /* '' */
.i-info-circled:before { content: '\e82f'; } /* '' */
.i-home:before { content: '\e830'; } /* '' */
.i-attach:before { content: '\e831'; } /* '' */
.i-link:before { content: '\e832'; } /* '' */
.i-lock:before { content: '\e833'; } /* '' */
.i-lock-open:before { content: '\e834'; } /* '' */
.i-tag:before { content: '\e835'; } /* '' */
.i-download:before { content: '\e836'; } /* '' */
.i-upload:before { content: '\e837'; } /* '' */
.i-quote:before { content: '\e838'; } /* '' */
.i-code:before { content: '\e839'; } /* '' */
.i-pencil:before { content: '\e83a'; } /* '' */
.i-print:before { content: '\e83b'; } /* '' */
.i-chat:before { content: '\e83c'; } /* '' */
.i-attention:before { content: '\e83d'; } /* '' */
.i-bell:before { content: '\e83e'; } /* '' */
.i-vcard:before { content: '\e83f'; } /* '' */
.i-location:before { content: '\e840'; } /* '' */
.i-direction:before { content: '\e841'; } /* '' */
.i-trash:before { content: '\e842'; } /* '' */
.i-doc-text:before { content: '\e843'; } /* '' */
.i-doc-text-inv:before { content: '\e844'; } /* '' */
.i-book:before { content: '\e845'; } /* '' */
.i-folder:before { content: '\e846'; } /* '' */
.i-archive:before { content: '\e847'; } /* '' */
.i-box:before { content: '\e848'; } /* '' */
.i-cog:before { content: '\e849'; } /* '' */
.i-phone:before { content: '\e84a'; } /* '' */
.i-hourglass:before { content: '\e84b'; } /* '' */
.i-light-down:before { content: '\e84c'; } /* '' */
.i-lamp:before { content: '\e84d'; } /* '' */
.i-light-up:before { content: '\e84e'; } /* '' */
.i-adjust:before { content: '\e84f'; } /* '' */
.i-resize-full:before { content: '\e850'; } /* '' */
.i-resize-small:before { content: '\e851'; } /* '' */
.i-switch:before { content: '\e852'; } /* '' */
.i-play:before { content: '\e853'; } /* '' */
.i-stop:before { content: '\e854'; } /* '' */
.i-pause:before { content: '\e855'; } /* '' */
.i-record:before { content: '\e856'; } /* '' */
.i-list:before { content: '\e857'; } /* '' */
.i-list-add:before { content: '\e858'; } /* '' */
.i-back-in-time:before { content: '\e859'; } /* '' */
.i-monitor:before { content: '\e85a'; } /* '' */
.i-mobile:before { content: '\e85b'; } /* '' */
.i-inbox:before { content: '\e85c'; } /* '' */
.i-install:before { content: '\e85d'; } /* '' */
.i-globe:before { content: '\e85e'; } /* '' */
.i-flash:before { content: '\e85f'; } /* '' */
.i-paper-plane:before { content: '\e860'; } /* '' */
.i-dot-3:before { content: '\e861'; } /* '' */
.i-dot-2:before { content: '\e862'; } /* '' */
.i-dot:before { content: '\e863'; } /* '' */
.i-chart-line:before { content: '\e864'; } /* '' */
.i-chart-bar:before { content: '\e865'; } /* '' */
.i-chart-area:before { content: '\e866'; } /* '' */
.i-chart-pie:before { content: '\e867'; } /* '' */
.i-credit-card:before { content: '\e868'; } /* '' */
.i-floppy:before { content: '\e869'; } /* '' */
.i-clipboard:before { content: '\e86a'; } /* '' */
.i-database:before { content: '\e86b'; } /* '' */
.i-twitter:before { content: '\e86c'; } /* '' */
.i-facebook:before { content: '\e86d'; } /* '' */
.i-facebook-circled:before { content: '\e86e'; } /* '' */
.i-facebook-squared:before { content: '\e86f'; } /* '' */
.i-gplus:before { content: '\e870'; } /* '' */
.i-gplus-circled:before { content: '\e871'; } /* '' */
.i-twitter-circled:before { content: '\e872'; } /* '' */
.i-tumblr:before { content: '\e873'; } /* '' */
.i-tumblr-circled:before { content: '\e874'; } /* '' */
.i-linkedin:before { content: '\e875'; } /* '' */
.i-linkedin-circled:before { content: '\e876'; } /* '' */
.i-ok:before { content: '\e877'; } /* '' */
.i-ok-circled:before { content: '\e878'; } /* '' */
.i-ok-circled2:before { content: '\e879'; } /* '' */
.i-ok-squared:before { content: '\e87a'; } /* '' */
.i-th-list:before { content: '\e87b'; } /* '' */
.i-th-large:before { content: '\e87c'; } /* '' */
.i-th:before { content: '\e87d'; } /* '' */
.i-cancel-1:before { content: '\e87e'; } /* '' */
.i-minus-1:before { content: '\e87f'; } /* '' */
.i-help-1:before { content: '\e880'; } /* '' */
.i-help-circled-1:before { content: '\e881'; } /* '' */
.i-info-circled-1:before { content: '\e882'; } /* '' */
.i-info-1:before { content: '\e883'; } /* '' */
.i-link-ext:before { content: '\e884'; } /* '' */
.i-attach-1:before { content: '\e885'; } /* '' */
.i-lock-1:before { content: '\e886'; } /* '' */
.i-lock-open-1:before { content: '\e887'; } /* '' */
.i-lock-open-alt:before { content: '\e888'; } /* '' */
.i-tag-1:before { content: '\e889'; } /* '' */
.i-tags:before { content: '\e88a'; } /* '' */
.i-bell-alt:before { content: '\e88b'; } /* '' */
.i-cog-1:before { content: '\e88c'; } /* '' */
.i-menu-1:before { content: '\e88d'; } /* '' */
.i-gplus-1:before { content: '\e88e'; } /* '' */
.i-foursquare:before { content: '\e88f'; } /* '' */
.i-call:before { content: '\e890'; } /* '' */
.i-google:before { content: '\e891'; } /* '' */
.i-linkedin-1:before { content: '\e892'; } /* '' */
.i-rss:before { content: '\e893'; } /* '' */
.i-twitter-1:before { content: '\e894'; } /* '' */
.i-youtube:before { content: '\e895'; } /* '' */
.i-vimeo:before { content: '\e896'; } /* '' */
.i-windows:before { content: '\e897'; } /* '' */
.i-email:before { content: '\e898'; } /* '' */
.i-facebook-1:before { content: '\e899'; } /* '' */
.i-gmail:before { content: '\e89a'; } /* '' */
.i-pinboard:before { content: '\e89b'; } /* '' */
.i-tumblr-1:before { content: '\e89c'; } /* '' */
.i-facebook-2:before { content: '\e89d'; } /* '' */
.i-facebook-rect:before { content: '\e89e'; } /* '' */
.i-twitter-2:before { content: '\e89f'; } /* '' */
.i-twitter-bird:before { content: '\e8a0'; } /* '' */
.i-vimeo-1:before { content: '\e8a1'; } /* '' */
.i-vimeo-rect:before { content: '\e8a2'; } /* '' */
.i-tumblr-2:before { content: '\e8a3'; } /* '' */
.i-tumblr-rect:before { content: '\e8a4'; } /* '' */
.i-googleplus-rect:before { content: '\e8a5'; } /* '' */
.i-github-text:before { content: '\e8a6'; } /* '' */
.i-github:before { content: '\e8a7'; } /* '' */
.i-skype:before { content: '\e8a8'; } /* '' */
.i-icq:before { content: '\e8a9'; } /* '' */
.i-yandex:before { content: '\e8aa'; } /* '' */
.i-yandex-rect:before { content: '\e8ab'; } /* '' */
.i-vkontakte-rect:before { content: '\e8ac'; } /* '' */
.i-odnoklassniki:before { content: '\e8ad'; } /* '' */
.i-odnoklassniki-rect:before { content: '\e8ae'; } /* '' */
.i-friendfeed:before { content: '\e8af'; } /* '' */
.i-friendfeed-rect:before { content: '\e8b0'; } /* '' */
.i-blogger-rect:before { content: '\e8b1'; } /* '' */
.i-deviantart:before { content: '\e8b2'; } /* '' */
.i-jabber:before { content: '\e8b3'; } /* '' */
.i-lastfm:before { content: '\e8b4'; } /* '' */
.i-lastfm-rect:before { content: '\e8b5'; } /* '' */
.i-linkedin-2:before { content: '\e8b6'; } /* '' */
.i-linkedin-rect:before { content: '\e8b7'; } /* '' */
.i-picasa:before { content: '\e8b8'; } /* '' */
.i-wordpress:before { content: '\e8b9'; } /* '' */
.i-instagram:before { content: '\e8ba'; } /* '' */
.i-instagram-filled:before { content: '\e8bb'; } /* '' */
.i-diigo:before { content: '\e8bc'; } /* '' */
.i-box-1:before { content: '\e8bd'; } /* '' */
.i-box-rect:before { content: '\e8be'; } /* '' */
.i-tudou:before { content: '\e8bf'; } /* '' */
.i-youku:before { content: '\e8c0'; } /* '' */
.i-win8:before { content: '\e8c1'; } /* '' */
.i-amex:before { content: '\e8c2'; } /* '' */
.i-discover:before { content: '\e8c3'; } /* '' */
.i-mastercard:before { content: '\e8c4'; } /* '' */
.i-houzz:before { content: '\e8c5'; } /* '' */
.i-bandcamp:before { content: '\e8c6'; } /* '' */
.i-codepen:before { content: '\e8c7'; } /* '' */
.i-blogger:before { content: '\e8c8'; } /* '' */
.i-visa:before { content: '\e8c9'; } /* '' */