﻿
<!--<nav class="nav-push nav-push-left" id="menu" data-bind="renderAction: { action: 'index', controller: 'Navigation' }">


</nav>-->

<nav class="navbar navbar-fixed-top" role="navigation" id="navbar">


    <div class="navbar-header ">
        {{if HeaderViewModel}}
            <!-- ko with: HeaderViewModel.RenderedOsNavigationViewModel -->
                    
                    {{:HeaderViewModel.RenderedOsNavigation}}
            
            <!-- /ko -->
            {{:~RenderPartial(HeaderViewModel.HeaderTemplate, HeaderViewModel )}}
        {{/if}}

        {{if NavigationViewModel}}
            {{:~RenderPartial('text!Mobile/Templates/Common/HeaderNavigationTemplate.html', NavigationViewModel )}}
        {{/if}}
    </div>
    
</nav>