


<div id='templates_filter'>
    <div class="panel panel-header panel-brown">
        <div class="overlay">
            <h2 class="account-name">Search</h2>

            <span class="shortdescr"> Search for a created template</span>
            <div class="form-group input-group">
                <input class="form-control" id="templateName" data-bind="value:Filter.TemplateNameContains" />
                <span class="input-group-btn">
                    <a href='#' class="btn btn-primary" data-bind='clickWithEffect: find'> {{:~GetString("ID_STR_SEARCH")}}</a>
                </span>
            </div>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
    </div>




    <!--<div class="row">
        <label for='templateName'> {{:~GetString("ID_STR_NAME")}}</label>
        <input id="templateName" data-bind="value:Filter.TemplateNameContains" />
    </div>

    <div class="row">


    </div>-->
    <ul class='list-group info' id='templatesResult'>
        <!-- ko foreach: $root.Templates -->
            <li class="list-group-item" tabindex="1" data-bind="component: {
                name: 'name-amount-ccy-label',
                params: {
                    click: function () { $parent.createFromTemplate($data); },
                    label: TemplateName,
                    secondaryLabel: jQuery.GetLocalizedString(PaymentType.Description),
                    CCY: CCY,
                    value: jQuery.format.number(Amount)
                }
            }">
            </li>
        <!-- /ko -->
        <!-- ko if: $root.Templates().length == 0 -->
            <div class="alert alert-info nodata">
                {{>~GetString("ID_STR_NO_TEMPLATES")}}
            </div>
        <!-- /ko -->
    </ul>
</div>
