﻿<div data-role="content">
    <!--ko foreach: FeesDetails-->
        <div class="panel" data-bind="component: { name: 'label-value-list', params: $data }"></div>
    <!--/ko-->
    <!--ko if: FeesDetails.length == 0-->
        <div class="alert alert-info nodata">
            {{>~GetString("ID_STR_NO_FACILITY_FEES")}}
        </div>
    <!--/ko-->
</div>