﻿<div class="panel" data-bind="visible: APLoansDetails != null && APLoansDetails.length > 0">
    <!-- ko foreach: APLoansDetails -->
        <div class="panel" data-bind="component: { name: 'label-value-list', params: $data }"></div>
    <!-- /ko -->
</div>
