﻿<!--<div class="separator" style="margin: 0 -10px; padding: 0">&nbsp;</div>-->
<div class="pmt-details" data-bind="component: { name: 'label-value-list', params: function () {
    var params = { details: [] };
    if (PaymentOrderSignatures && PaymentOrderSignatures.length > 0) {
        params.heading = { label: jQuery.GetResString('ID_STR_SIGNATURES') };
        jQuery.each(PaymentOrderSignatures, function(index, signature){
            params.details.push({ label: signature.APerson.Name, value: jQuery.format.date(signature.DateSigned, 'dd.MM.yyyy HH:mm') });
        });
    } else {
        params.heading = { hidden: true };
    }
    if (PaymentOrderSend) {
        params.details.push({ label: jQuery.GetResString('ID_STR_SEND_DATE'), value: jQuery.format.date(PaymentOrderSend.SendDate, 'dd.MM.yyyy HH:mm') });
    }
    
    return params;
} }"></div>