﻿<div data-role="header" data-position="fixed" data-transition="none" data-tap-toggle="false" id="iosheader" class="customosheader">
    <a href="#" class="backbtn" data-shadow="false" data-iconshadow="false" data-bind="clickWithEffect: back">{{>~GetString('ID_STR_BACK')}}</a>
    <img class="logo" alt="RBB Mobile" src="{{:~GetString('ID_STR_HEADLOGO_PATH')}}" />
</div>
