<div data-role="content" class="pmtwizard">
{{:~RenderPartial('text!Mobile/Templates/Payments/Wizard/Steps/CurrentStepTemplate.html', #data.StepsInformation )}}  
<div class="panel">
    <div>
        <p>
            <span id="payerName" data-bind="text: PaymentPreview.Document.PayerName" />
            <span id="payerIban" data-bind="text: PaymentPreview.Document.PayerIBAN" />
        </p>
    </div>

    <div>
        <p>
            <span id="payeeName" data-bind="text: PaymentPreview.Document.PayeeAccountNumber" />
            <!--<span id="payeeIBAN" data-bind="text: Payment.Document.PayeeIBAN" />-->
        </p>
    </div>
    <div>
        <span id="Amount" data-bind="text: PaymentPreview.Document.Amount" />
        <span id="CCY" data-bind="text: PaymentPreview.Document.CCY.SWIFTCode" />

        
        <span id="Details1" data-bind="text: PaymentPreview.Document.Description"/>
        <span id="Details2" data-bind="text: PaymentPreview.Document.Description2"/>
        <span id="Details3" data-bind="text: PaymentPreview.Document.Description3"/>
        <span id="Details4" data-bind="text: PaymentPreview.Document.Description4"/>
    </div>
</div>
</div>


