<div class="form-group">
    <label>{{:~GetString("ID_STR_LIABILITY_PERSON_HEADER")}}</label>

    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
        data: { value: AdditionalViewData.selectedLiabilityPersonType, options: AdditionalViewData.liabilityPersonTypeOptions, optionsText: 'Value' }
    }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'AdditionalViewData.selectedLiabilityPersonType'" />
</div>

    <!-- kofti taka nabiti -->
    <div id="local" data-bind='visible: AdditionalViewData.selectedLiabilityPersonType() == AdditionalViewData.liabilityPersonTypeOptions[0]'>
        <div class="form-group">
            <label for="LiabilityPersonNameLocal">{{:~GetString("ID_STR_LIABILITY_PERSON_NAME")}}</label>
            <div data-bind="partial: { path: 'Common/Input', data: { value: Details.LiabilityPersonName, type: 'text' } }"></div>
            <span class="validation-msg" data-bind="validationMessageFor: 'Details.LiabilityPersonName'" />
        </div>
        <div class="form-group">
            <label for="LiabilityPersonENGLocal">{{:~GetString("ID_STR_LIABILITY_PERSON_EGN")}}</label>
            <div data-bind="partial: { path: 'Common/Input', data: { value: Details.LiabilityPersonEGN, type: 'text' } }"></div>
        </div>
    </div>

    <div id="foreigner" data-bind='visible: AdditionalViewData.selectedLiabilityPersonType() == AdditionalViewData.liabilityPersonTypeOptions[1]'>
        <div class="form-group">
            <label for="LiabilityPersonNameForeigner">{{:~GetString("ID_STR_LIABILITY_PERSON_NAME")}}</label>
            <div data-bind="partial: { path: 'Common/Input', data: { value: Details.LiabilityPersonName, type: 'text' } }"></div>
            <span class="validation-msg" data-bind="validationMessageFor: 'Details.LiabilityPersonName'" />
        </div>
        <div class="form-group">
            <label for="LiabilityPersonENGLocal">{{:~GetString("ID_STR_LIABILITY_PERSON_PERSONAL_ID")}}</label>
            <div data-bind="partial: { path: 'Common/Input', data: { value: Details.LiabilityPersonID, type: 'text' } }"></div>
        </div>
    </div>
     <div id="company" data-bind='visible: AdditionalViewData.selectedLiabilityPersonType() == AdditionalViewData.liabilityPersonTypeOptions[2]'>
         <div class="form-group">
             <label for="LiabilityPersonNameCompany">{{:~GetString("ID_STR_LIABILITY_PERSON_COMPANY_NAME")}}</label>
             <div data-bind="partial: { path: 'Common/Input', data: { value: Details.LiabilityPersonName, type: 'text' } }"></div>
             <span class="validation-msg" data-bind="validationMessageFor: 'Details.LiabilityPersonName'" />
         </div>
         <div class="form-group">
             <label for="LiabilityPersonBulstat">{{:~GetString("ID_STR_LIABILITY_PERSON_BULSTAT")}}</label>
             <div data-bind="partial: { path: 'Common/Input', data: { value: Details.LiabilityPersonBULSTAT, type: 'text' } }"></div>
            </div>
        </div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.LiabilityPersonEGN'" />
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.LiabilityPersonID'" />
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.LiabilityPersonBULSTAT'" />
