<div class="form-group">

    <div data-bind="visible: AdditionalViewData.CreditNumberVisible">
        <h2>{{>~GetString("ID_STR_PAYMENT_CREDIT_NUMBER")}}</h2>
        <input class="form-control" id="bnkCreditNumber" data-bind="value:Details.CreditNumber" />
        <span class="validation-msg" data-bind="validationMessageFor: 'Details.CreditNumber'" />
    </div>

    <h2>{{>~GetString("ID_STR_OPCODETYPE")}}</h2>
    <div data-bind="partial: { path: 'Common/DropDownList',
        data: { 
            value: AdditionalViewData.SelectedOpMode, 
            options: AdditionalViewData.OpModesOptions, 
            optionsText: 'Name', 
            optionsCaption: jQuery.GetResString('ID_STR_CHOOSE') 
        }
    }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.OpCode'" />

    <div data-bind="partial: { path: 'Common/DropDownList',
        data: { 
            value: AdditionalViewData.SelectedOpCode, 
            options: AdditionalViewData.OpCodesOptions, 
            optionsText: 'CodeName', 
            optionsCaption: jQuery.GetResString('ID_STR_CHOOSE') 
        }
    }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.OpCode'" />
    
</div>
