
<h1>{{:~GetString("ID_STR_BENEFICIARY_BANK_CORRESPONDENT")}}</h1>
<div class="form-group">
    <h2 for="CorrBankName">{{:~GetString("ID_STR_CORRBANK_NAME")}}</h2>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.CorrBankName, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.CorrBankName'" />
</div>
<div class="form-group">
    <label for="CorrBankAddress">{{:~GetString("ID_STR_CORRBANK_ADDRESS")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.CorrBankAddress, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.CorrBankAddress'" />
</div>

<div class="form-group">
    <label for="CorrBankCity">{{:~GetString("ID_STR_CORRBANK_CITY")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.CorrBankCity, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.CorrBankCity'" />
</div>

<div class="form-group">
    <label for="CorrBankCountry">{{:~GetString("ID_STR_CORRBANK_COUNTRY")}}</label>

    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
        data: {
            value: AdditionalViewData.SelectedCorespondentCountry,
            options: AdditionalViewData.CountriesOptions,
            optionsText: 'Name',
            optionsCaption: jQuery.GetResString('ID_STR_CHOOSE')
        }
    }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'AdditionalViewData.SelectedCorespondentCountry'" />
</div>

<div class="form-group">
    <label for="CorrBankSWIFT">{{:~GetString("ID_STR_CORRBANK_BICCODE")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.CorrBankSWIFT, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.CorrBankSWIFT'" />
</div>