﻿<div class="panel ccycalc" style="margin-top : -2px; padding:10px">
    <!--<h1 style="margin:10px">{{>~GetString("ID_STR_CURRENCY_CONVERTER")}}</h1>-->

    <div class="alert alert-info">{{>~GetString('ID_STR_CCY_CALC_INFO_TEXT')}} </div>
    <div class="form-group form-group-lg">
        <h2 class="BGN">BGN</h2>
        <div data-bind="partial: { path: 'Common/Input',
            data: { value: subModel['BGN'].Amount, type: 'number' }
        }"></div>
    </div>
    <div class="form-group form-group-lg">
        <h2 class="EUR">EUR</h2>
        <div data-bind="partial: { path: 'Common/Input',
            data: { value: subModel['EUR'].Amount, type: 'number' }
        }"></div>
    </div>
    <div class="form-group form-group-lg">
        <h2 class="USD">USD</h2>
        <div data-bind="partial: { path: 'Common/Input',
            data: { value: subModel['USD'].Amount, type: 'number' }
        }"></div>
    </div>
    <div class="form-group form-group-lg">
        <h2 class="GBP">GBP</h2>
        <div data-bind="partial: { path: 'Common/Input',
            data: { value: subModel['GBP'].Amount, type: 'number' }
        }"></div>
    </div>
    <div class="form-group form-group-lg">
        <h2 class="CHF">CHF</h2>
        <div data-bind="partial: { path: 'Common/Input',
            data: { value: subModel['CHF'].Amount, type: 'number' }
        }"></div>
    </div>
</div>

