<!--ko if: hasOverduedLoan-->
    <div class="alert alert-warning">{{>~GetString("ID_STR_LOAN_OVERDUED_WARNING")}}</div>
<!--/ko-->
<div class="panel" data-bind="component: { name: 'label-value-list', params: $root.ProductDetails }"></div>

{{:~RenderPartial('text!Mobile/Templates/Loans/LoanDetailsTemplate.html', $root)}}