.navbar-fixed-top {
    background: -webkit-radial-gradient(60% 250px, circle, #F3C469 20%, #CF953F 100%);
    min-width: 100%;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);


    .navbar-header {
        display: block !important;
        /*-webkit-transform: scale(1);*/

        h1 {
            .font-light;
            position: absolute;
            text-align: center;
            right: 50px;
            left: 50px;
            padding-top: 0;
            margin: 0;
            color: #fff;
            line-height: 50px;
            font-size: 1.4em;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        }

        .navbar-brand {
            padding: 15px;
            width: 230px;
            margin-left: 15px;
        }

        .page-title {
            .font-light;
            position: absolute;
            text-align: center;
            right: 50px;
            left: 50px;
            padding-top: 0;
            margin: 0;
            color: #fff;
            line-height: 48px;
            font-size: 20px;
            //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            white-space:nowrap;
            text-overflow:ellipsis;
            overflow:hidden;
        }

        .navbar-toggle {
            /*display: block !important;
            border-radius: 0;
            height: 50px;
            width: 50px;
            padding: 12px;
            margin: 0;
            -moz-transition: background-color, border-color 0.5s;
            -o-transition: background-color, border-color 0.5s;
            -webkit-transition: background-color, border-color 0.5s;
            transition: background-color, border-color 0.5s;*/

            
            
            margin:0;
            padding: 0;
            border-radius: 0;

            /*&.lang-toggle {
                //background-color: @brand-primary;
                margin-right: 15px;
                border-radius: 3px;
                height: 28px;
                width: 32px;
                padding: 6px 5px;
                margin: 11px 10px;

                span {
                    font-size: 20px;
                    color: #fff;
                    text-shadow: 1px 1px 0 #1B1B1B;
                    margin-top: -7px;
                    display: block;
                    line-height: 28px;
                }
            }*/

            &.btn-navig {
                //margin-left:-15px;
                padding-top: 2px;
            }

            .i-left-open {
                color: #fff;
                font-size:24px;
                padding: 1px 10px 1px 5px;

                &:before {
                    padding: 12px 0 10px;
                }

            }

            .i-menu {
                color: #fff;
                font-size:30px;
            }

            .i-chart-pie {
                color: #fff;
                font-size:22px;
                padding-right: 8px;
                padding-left: 10px;

                &:before {
                    padding: 13px 0 10px;
                }

            }

            .bars {
                width: 30px;
                height: 22px;
                margin: 12px;
                position: relative;
            }
 
            .bars span, .arrow span {
                width:30px;
	            background-color: #fff;
	            display: block;
	            position: absolute;
	            top: 0;
	            left: 0;
	            //width: 100%;
                //transition: all 300ms ease;
                height: 4px;
	            -webkit-transform: translateY(8px);
                border-radius:4px;
                //-webkit-perspective: 800px;
                transition: all 500ms ease;
            }

            .bars .first {
                -webkit-transform: translateY(8px);
                width:30px;
            }
 
            .bars .second {
	            -webkit-transform: translateY(0);
                width:30px;
            }
 
            .bars .third{
	            -webkit-transform: translateY(16px);
                width:30px;
                
            }

            .arrow {
	            -webkit-transform: rotate(180deg) scale(0.8);
                overflow: visible;
            }

            /*.arrow span {
	            width:18px !important;
            }*/

            .arrow .first {
                -webkit-transform: translateX(8px) translateY(8px);
                width: 18px;
            }
 
            .arrow .second,
            .arrow .third {
	            -webkit-transform: rotate(-45deg) translateY(20px);
                width: 18px;
            }
 
            .arrow .second {
	            -webkit-transform: rotate(45deg) translateY(-8px) translateX(12px);
            }

            .bw {
                width:30px !important;
            }

            /*.icon-bar {
                background: #fff;
                display: block;
                width: 30px;
                height: 5px;
                border-radius: 2px;
                box-shadow: 0 1px 1px rgba(17, 17, 17, 0.4);
            }

            .icon-bar + .icon-bar {
                margin-top: 3px;
            }*/

            .welcome-message {
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}
