@import (reference) "_variables.less";
@import (reference) "_mixins.less";
@import (reference) "typography/_styles.less";
/* Navigation */
 
// UGLY TEMP FIX      
/*#mainPage .nav-push {
    display:none;
}*/


.menu-transition(@menu-transition-timer: 0.2s;) {
    .transition(@menu-transition-timer);
}

#menuContainer {
    position:fixed; 
    z-index:9999; 
    overflow:visible; 
    left: 0; 
    width: 25px; 
    height: 100%;
    top: 50px;
}

.swiper-slide-navigation {
    width:280px !important;
    background: url(../../images/noise.png) repeat top left #000;
    overflow: auto;
    top: -50px;

    .navig-overlay {
        display:none;
        position: fixed;
        top: 0;
        left: 280px;
        width: 3000px;
        bottom: 0;
        background: transparent;
        z-index: 9999;

        &.active {
            display:block;
        }

    }

}

#menu {
    z-index: @zindex-modal;
    font-size: 16px;
    height: 100%;
    -moz-box-shadow: inset -5px 0 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset -5px 0 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset -5px 0 0 rgba(0, 0, 0, 0.25);

    /*-webkit-backface-visibility: hidden;*/

    & > div {
        /*background-image: -webkit-linear-gradient(25deg, #201f1e 35%, #3B3C3B 90%, #43453a);
        background-repeat: no-repeat;
        background-size: cover;*/
        height:100%
    }

    .overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
    }

    ul {
        margin-top: 0;
        display: block !important;

        > li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);

            &.nav-brand {
                background-repeat:no-repeat;
                background-position:center center;
                .img-retina("../../images/logo-text-white.png"; "../../images/logo-text-white-2x.png"; 182px; 43px);
                /*width: 100%;*/
                height: 43px;
                margin: 20px 0 10px;
                border-bottom: none;
            }

            > a {
                .font-thin;
                font-size: 18px;
                color: #fff;
                -webkit-transition: color ease-in-out 0.2s, background-color ease-in-out 0.15s;
                -o-transition: color ease-in-out 0.2s, background-color ease-in-out 0.15s;
                -moz-transition: color ease-in-out 0.2s, background-color ease-in-out 0.15s;
                transition: color ease-in-out 0.2s, background-color ease-in-out 0.15s;
                padding: 10px 15px 10px 10px;

                &:hover, &:active, &:focus {
                    background-color:inherit;
                }

                i {
                    line-height: 45px;
                    float: left;
                    margin-right: 12px;
                    font-size:20px;
                }

                .pull-right {
                    line-height: 45px;
                } 

                .sub {
                    display: block;
                    .font-condensed;
                    font-size: 11px;
                    color: #888;
                    text-transform: uppercase;
                }

                
                &.active {
                    background-color: rgba(0, 0, 0, 0.06);
                    color: #FDF000;

                    .sub {
                        color:#fff;
                    }
                }

            }
        }
    }



    &.push-left {
        left: 0;
        .menu-transition;
    }
}



.scroll-stop {
    overflow:hidden;

    .navig-overlay {
        //display: block;
        //z-index: @zindex-navbar-fixed;
    }

    .swiper-slide-active + .swiper-slide-next {
        display:none;
    }
}