<div class="form-group">
    <h2>
        {{:~GetString("ID_STR_TOKEN")}}
    </h2>
    <label>{{:~GetString("ID_STR_TOKEN_CHALLENGE")}}</label>
    <span class="alert alert-info" data-bind="text: Auth.Challenge"></span>

    <label>{{:~GetString("ID_STR_TOKEN_RESPONSE")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Auth.Response, type: 'number' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Auth.Response'" />
</div>
