<div class="form-group" style="margin-bottom:30px;">
    <h2>
        {{:~GetString("ID_STR_MTAN")}}
    </h2>
    <label>{{:~GetString("ID_STR_TOKEN_RESPONSE")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Auth.Response, type: 'number' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Auth.Response'" />
</div>