﻿<div class="description">
    <span class="prodname" data-bind="text: ShortName"></span>
    <span class="secondarylabel" data-bind="text: jQuery.GetLocalizedString(BankAccount.AccountProductType.Name)"></span>
</div>

<span class="value" data-bind=" text: $root.GetAccountFormattedBalanceFromAccount($data)"> </span>
<span class="ccy" data-bind="text: BankAccount.CCY.SWIFTCode"></span>