<div data-bind="if: EspeciallyNeedsDirtyMoneyDeclaration">
    <div class="form-group">
        <h2 for="dirtyMoneyPicker">{{:~GetString("ID_STR_DIRTY_MONEY_LABEL")}}</h2>
        <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
        data: {
            value: Details.DirtyMoney,
            options: AdditionalViewData.DirtyMoneyOptions,
            optionsText: 'Name',
            optionsValue: 'Value',
            optionsCaption: jQuery.GetResString('ID_STR_CHOOSE')
        }
    }"></div>
        <span class="validation-msg" data-bind="validationMessageFor: 'Details.DirtyMoney'" />
    </div>
</div>