﻿<div class="btn btn-default dais-dropdown ripple" style="position: relative" data-bind="clickWithEffect: ''">
    <span data-bind="text: $data.optionsText ?
        $data.optionsValue ?
            (
                require('underscore').find($data.options, function (option) { return option[$data.optionsValue] === $data.value(); }) ?
                    require('underscore').find($data.options, function (option) { return option[$data.optionsValue] === $data.value(); })[$data.optionsText]
                    : $data.optionsCaption
            )
            : ($data.value() ? $data.value()[optionsText] : $data.optionsCaption)
        : $data.value()"></span>
    <i class="i-down-open-mini"></i>
    <select data-bind="options: $data.options, optionsText: $data.optionsText, value: $data.value, optionsCaption: $data.optionsCaption, optionsValue: $data.optionsValue"
            style="z-index: 999; opacity: 0; position: absolute; top: 0; left: 0; bottom: 0; width: 100%;"></select>
</div>
<span class="highlight"></span>
<span class="bar"></span>