﻿    <div class="notifications">

        <!-- ko foreach: $root.Notifications -->
            <!-- ko if: $data.constructor.name == "UINotification" -->
            <div class="alert" data-bind="
                    text: $data.Message,
                    css: {
                        'alert-error': $data.Type == $data.Types.Error,
                        'alert-success': $data.Type == $data.Types.Success,
                        'alert-info': $data.Type == $data.Types.Info
                    }
                "></div>
            <!-- /ko -->
            <!-- ko if: $data.constructor.name == "UINotificationHtml" -->
        <div class="alert" data-bind="
                    html: $data.MessageHtml,
                    css: {
                        'alert-error': $data.Type == $data.Types.Error,
                        'alert-success': $data.Type == $data.Types.Success,
                        'alert-info': $data.Type == $data.Types.Info
                    }
                "></div>
            <!-- /ko -->
        <!-- /ko -->

    </div>