<nav class="navbar navbar-fixed-top" id="navbar"></nav>
<div class="picker">
    <div class="overlay">
        <h2>{{:~GetString("ID_STR_PICK_ACC")}}</h2>
        <!--<hr />-->
        <a class="btn btn-sm btn-close" data-bind="clickWithEffect: Close"><i class="i-left-open"></i></a>
        <!--<div class="shortdescr">{{:~GetString("ID_STR_PICK_ACC_DESC")}}</div>-->

        {{:~RenderPartial('text!Mobile/Templates/Common/AccountsListHelperTemplate.html',#data )}}
    </div>
</div>            

