<div class="form-group" > 
    <h2>{{:~GetString("ID_STR_EXECUTE_DATE") }}</h2>
    {{InputDate #data id='payment_executeDate' data_bind='datePickerValue: ExecuteDate' class='form-control' /}}
    <span class="validation-msg" data-bind="validationMessageFor: 'ExecuteDate'" />

    <!--<label for="Details2">{{:~GetString("ID_STR_PAYMENY_DETAILS_ADDTIONAL") }}</label>-->
    <input type='hidden' id="paymnet_expiryDate" data-bind="datePickerValue: ExpiryDate"/>
</div>