﻿<!--<a class="btn iconed" data-role="button" data-bind="click:toggleFilter" >Filter</a> <!-- , $event:{ mouseleave: hide}-->
<div id="filterBranches" class="branchFilter" data-bind="visible: filterBranchesVisible() && visible(), hasfocus: filterBranchesVisible() && visible()"><!--, $event:{ blur: visible(false)} -->
    <p><input id="chb_extendeWorkingTime" type="checkbox" data-bind="checked: extendedWorkingTime"/><label for="chb_extendeWorkingTime">{{>~GetString('ID_STR_BRANCH_EXTENDED_WORKING_TIME')}}</label></p>
    <p><input id="chb_worksWeekend" type="checkbox" data-bind="checked: worksWeekend"/><label for="chb_worksWeekend">{{>~GetString('ID_STR_BRANCH_WOKRS_WEEKED')}}</label></p>
</div>
                                                                            <!-- ,$event:{ mouseleave: hide} -->
<div id="filterAtms" class="branchFilter" data-bind="visible: filterAtms() && visible(), hasfocus: filterAtms() && visible()"><!--, $event:{ blur: visible(false)} ,$event:{ vmouseout: hide} -->
        <p> <input id="chb_noStopZone" type="checkbox" data-bind="checked: nonStopZone"/><label for="chb_noStopZone">{{>~GetString('ID_STR_ATM_24H_ZONE')}}</label> </p>
        <p> <input id="chb_isInBank" type="checkbox" data-bind="checked: isInBank"/><label for="chb_isInBank">{{>~GetString('ID_STR_IS_IN_BANK')}}</label></p>    
</div>
