<div class="form-group">
    <label for="Details1">{{:~GetString("ID_STR_PAYMENY_DETAILS") }}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.Details1, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.Details1'" />
</div>
<div class="form-group">
    <label for="Details2">{{:~GetString("ID_STR_PAYMENY_DETAILS_ADDTIONAL") }}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.Details2, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.Details2'" />
</div>

    <div data-bind="partial: { path: 'Payments/Wizard/Details/Partials/PaymentTypeRings' }"></div>
<div class="form-group">
    <label for="payerPaymentType">{{:~GetString("ID_STR_PAYMENT_PAYER_TYPE") }}</label>
    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
    data: {
        options: AdditionalViewData.PayerPaymentTypeOptions,
        optionsCaption: AdditionalViewData.PayerPaymentTypeOptions().length > 0 ? jQuery.GetResString('ID_STR_CHOOSE'): '',
        optionsText: 'localDecription',
        value: AdditionalViewData.selectedPayerPaymentType
    }
}"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.PayerPaymentType'" />
</div>
<div class="form-group">
    <label for="payeePaymentType">{{:~GetString("ID_STR_PAYMENT_PAYEE_TYPE") }}</label>
    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
    data: {
        options: AdditionalViewData.PayeePaymentTypeOptions,
        optionsCaption: AdditionalViewData.PayeePaymentTypeOptions().length > 0 ? jQuery.GetResString('ID_STR_CHOOSE'): '',
        optionsText: 'localDecription',
        value: AdditionalViewData.selectedPayeePaymentType
    }
}"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.PayeePaymentType'" />
</div>
<div class="form-group">
    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
    data: { options: AdditionalViewData.liabilityDocumentTypeOptions, optionsText: 'Desrciption', value: AdditionalViewData.selectedTypeOfDocument }
}"></div>
    </div>
<div class="form-group">
    <label for="liabilityDocNumber">{{:~GetString("ID_STR_LIABILITY_DOCUMENT_NUMBER") }}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.LiabilityDocumentNumber, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.LiabilityDocumentNumber'" />
</div>
<div class="form-group">
    <label for="liabilityDocDate">{{:~GetString("ID_STR_LIABILITY_DOCUMENT_DATE") }}</label>
    {{InputDate #data id='liabilityDocDate' class='form-control' data_bind='datePickerValue: Details.LiabilityDocumentDate' /}}
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.LiabilityDocumentDate'" />
</div>
<div class="form-group" style="overflow:hidden">
    <label>{{:~GetString("ID_STR_PAYMENT_PERIOD") }}</label>
    <div class="col-xs-6">
        <label for="PeriodEnd">{{:~GetString("ID_STR_FROM") }}</label>
        {{InputDate #data id='PeriodStart' class='form-control' data_bind='datePickerValue:  Details.PeriodStartDate' /}}
        <span class="validation-msg" data-bind="validationMessageFor: 'Details.PeriodStartDate'" />
    </div>
    <div class="col-xs-6">
        <label for="PeriodStart">{{:~GetString("ID_STR_TO") }}</label>
        {{InputDate #data id='PeriodEnd' class='form-control' data_bind='datePickerValue: Details.PeriodEndDate' /}}
        <span class="validation-msg" data-bind="validationMessageFor: 'Details.PeriodEndDate'" />
    </div>
</div>
    {{:~RenderPartial('text!Mobile/Templates/Payments/Wizard/Details/Partials/LiabilityPersonDetails.html', #data)}}

    {{:~RenderPartial('text!Mobile/Templates/Common/DirtyMoneyPicker.html', #data)}}
