<div data-role="content"> 
    <div class="panel panel-header panel-blue">
        <div class="overlay">
            <h2 class="account-name">{{> APAccount.ShortName}}</h2>
            
            <span class="shortdescr"> {{>~GetLocalizedString(APAccount.BankAccount.AccountProductType.Name)}}</span>
            <hr />
            <span class="value">
                {{if APAccount.BankAccount.BankAccountBalances}}
                    {{>~format.number(APAccount.BankAccount.BankAccountBalances[0].AvailableBalance)}}
                {{/if}}
                {{> APAccount.BankAccount.CCY.SWIFTCode }}
            </span>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
            
        </div>
        
    </div>
<!--<div class="panel panel-header">
    <ul class="overview" data-role='listview'>
      <li data-role="list-divider"> 
        <span class="shortname">{{> APAccount.ShortName}}</span>
        <span class="value">{{if APAccount.BankAccount.BankAccountBalances}}
                            {{>~format.number(APAccount.BankAccount.BankAccountBalances[0].AvailableBalance)}}
                          {{/if}}
        </span>
        <span class="shortdescr"> {{>~GetLocalizedString(APAccount.BankAccount.AccountProductType.Name)}} {{> APAccount.BankAccount.CCY.SWIFTCode }}</span>
        
      </li>
    </ul>
</div>-->
    
</div>
<div id="submenu">

</div>

<footer class="button-group btn-group-justified">
    <a href='#' class="btn btn-primary" data-role='button' id="newPayment" data-bind='clickWithEffect: newPayment'>
        {{:~GetString("ID_STR_CREATE_NEW_PAYMENT")}}
    </a>
</footer>
