<ul class="list-group info account-simple">
    <li class="list-group-item">
        <a class="list-group-item-inner">
            <div class="description">
                <span class="prodname">{{> APAccount.ShortName}}</span>
                <span class="secondarylabel">
                    {{>~GetLocalizedString(APAccount.BankAccount.AccountProductType.Name)}}
                </span>
                </div>
                {{if APAccount.BankAccount.BankAccountBalances}}

                
                <span class="value">
                    {{>~format.number(APAccount.BankAccount.BankAccountBalances[0].AvailableBalance)}}
                </span>
                <span class="ccy">{{> APAccount.BankAccount.CCY.SWIFTCode }}</span>
                {{/if}}
                
</a>
    </li>
</ul>