
<div class="panel">
	<ul class="list-group" id="debitcardsListView" >
		<li class="list-group-item-heading">{{:~GetString("ID_STR_DEBIT_CARDS")}}</li>
		<!-- ko foreach:  BankCardDebit -->
            <li class="list-group-item btn-group-1" tabindex="1" data-bind="component: {
                name: 'name-amount-ccy-label',
                params: {
                    label: BankCard.BankCardNumber,
                    CCY: BankCard.CCY,
                    secondaryLabel: jQuery.GetLocalizedString(BankCard.BankCardType.Description),
                    actionButtons: actionButtons,
                    value: $root.GetCardFormattedBalanceFromAccount(BankCard)
                }
            }">
            </li>
		<!-- /ko -->
        <!-- ko if: BankCardDebit.length == 0 -->
            <div class="alert alert-info nodata">
                {{>~GetString("ID_STR_NO_DEBIT_CARDS")}}
            </div>
        <!-- /ko -->
	</ul>	
</div>