<footer class="button-group btn-group-justified">
    <a data-bind="clickWithEffect: $data.Cancel, clickBubble: false" class="btn btn-primary prev">
        <i class="i-left-open-big"></i><span>{{:~GetString("ID_STR_CANCEL")}}</span>
    </a>
    <a data-bind="clickWithEffect: $data.Process, clickBubble: false" class="btn btn-primary next">
        <i class="i-direction"></i><span>{{:~GetString("ID_STR_OK")}}</span>
    </a>
</footer>