<div data-bind="visible: $data.State() != $data.Types.State.Completed">
    <div id="Authorization" data-bind="displayFor: { data: $data.Authorization, path: 'Authorization/' }"></div>

    <div data-bind="partial: { path: 'Common/Notifications' }"></div>

    <a id="Refresh" data-bind="click: $data.RefreshAuthorization, visible: $data.Authorization() == null">{{:~GetString("ID_STR_AUTH_REFRESH")}}</a>

    <footer class="button-group btn-group-justified">
        <a id="Cancel" data-bind="clickWithEffect: $data.Cancel, clickBubble: false" class="btn btn-primary prev">
            <i class="i-left-open-big"></i><span>{{:~GetString("ID_STR_CANCEL")}}</span>
        </a>
        <a id="OK" data-bind="visible: $data.Authorization() != null, clickWithEffect: $data.Process, clickBubble: false" class="btn btn-primary next">
            <i class="i-direction"></i><span>{{:~GetString("ID_STR_OK")}}</span>
        </a>
    </footer>
</div>
