    <div class="panel panel-header panel-blue">
        <div class="overlay">
            <h2 class="account-name" data-bind="text: jQuery.GetLocalizedString(BankTimeDeposit.DepositType.FunctionalType.Description)"></h2>

            <div class="shortdescr">
                <span data-bind="text: BankTimeDeposit.BankDepositID"></span>
                <hr />
                <span class="value" data-bind="text: '{0} {1}'.format(jQuery.format.number(BankTimeDeposit.Principal), BankTimeDeposit.BankDepositCCY)">
                </span>
            </div>
        </div>
    </div>
    <div class="panel" data-bind="component: { name: 'label-value-list', params: $root.ProductDetails }"></div>

    <div class="panel" data-bind="component: { name: 'label-value-list', params: $root.DepositBalance }"></div>

