<div class="form-group">
    <label>{{:~GetString("ID_STR_PAYMENT_TYPE")}}</label>
    
    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
        data: {
            value: AdditionalViewData.isRings,
            options: [
                { value: false, text: jQuery.GetResString('ID_STR_PAYMENT_TYPE_BISERA_EXT') },
                { value: true, text: jQuery.GetResString('ID_STR_PAYMENT_TYPE_RINGS_EXT') }
            ],
            optionsText: 'text',
            optionsValue: 'value'
        }
    }"></div>
</div>