﻿<table>
    <tr>
        <td>
            {{>~GetWeekDayByNumber(WeekdayStart)}} - {{>~GetWeekDayByNumber(WeekdayEnd)}}
        </td>
        <td>
            {{>WorkTimeBegin}} - {{>WorkTimeEnd}}
        </td>
    </tr>
    {{if BreakTimeBegin && BreakTimeEnd}}
    <tr>
        <td>
            {{>~GetString('ID_STR_WORK_TIME_BREAK')}}
        </td>
        <td>
            {{>BreakTimeBegin}} - {{>BreakTimeEnd}}
        </td>
    </tr>
    {{/if}}
</table>