    <span class="secondarylabel">from</span>
    <span class="secondarylabel" data-bind='text: $data.Document.PayerAccountName ? $data.Document.PayerAccountName : $data.Document.PayerAccountIBAN'></span>

<div data-bind="if: $data.Document.PayeeAccountName || $data.Document.PayeeAccountIBAN">
    <span class="secondarylabel">to</span>
    <span class="secondarylabel" data-bind='text: $data.Document.PayeeAccountName ? $data.Document.PayeeAccountName : $data.Document.PayeeAccountIBAN '></span>
</div>
        
<!--<div data-bind="if: $data.Document.Details || $data.Document.Details2 || $data.Document.Details3 || $data.Document.Details4">
    <span class="secondarylabel" data-bind="text: $data.Document.Details, visible: $data.Document.Details != null" />
    <span class="secondarylabel" data-bind="text: $data.Document.Details2, visible: $data.Document.Details2 != null" />
    <span class="secondarylabel" data-bind="text: $data.Document.Details3, visible: $data.Document.Details3 != null" />
    <span class="secondarylabel" data-bind="text: $data.Document.Details4, visible: $data.Document.Details4 != null" />
</div>-->   
         
<div style="margin-bottom: 5px;" data-bind="if: PaymentOrderSend && PaymentOrderSend.RefID">
    <span class="secondarylabel" data-bind="text: PaymentOrderSend.RefID"></span>
</div>
 
<!-- ko if: PaymentOrderSend && PaymentOrderSend.PaymentOrderSendStatus && PaymentOrderSend.PaymentOrderSendStatus.StatusID != 0 -->
    <div class="alert alert-info" style="margin-top: 5px;margin-bottom: 0" >
        <span class="" data-bind=" text: jQuery.GetLocalizedString(PaymentOrderSend.PaymentOrderSendStatus.StatusName)"></span>
    </div>
<!-- /ko --> 

<!-- ko if:!(PaymentOrderSend && PaymentOrderSend.PaymentOrderSendStatus && PaymentOrderSend.PaymentOrderSendStatus.StatusID != 0) && PaymentState -->
    <div class="alert alert-info" style="margin-top: 5px;margin-bottom: 0">
        <span class="" data-bind="text: jQuery.GetLocalizedString(PaymentState.StatusName)"></span>
</div>
<!-- /ko -->