<div class="panel">
    <!-- ko foreach: $root.Payments -->
    <div data-bind="visible: $root.State() != $root.Types.State.Completed,
            component: { name: 'label-value-list', params: {
                cssClass: 'list-group-block',
                heading: { hidden: true },
                details: [
                    {
                        label: jQuery.GetResString('ID_STR_PAYER_IBAN'),
                        value: $data.Document.PayerAccountName ? $data.Document.PayerAccountName : $data.Document.PayerAccountIBAN
                    },
                    {
                        label: jQuery.GetResString('ID_STR_PAYEE_IBAN'),
                        value: $data.Document.PayeeAccountName ? $data.Document.PayeeAccountName : $data.Document.PayeeAccountIBAN
                    },
                    {
                        label: jQuery.GetResString('ID_STR_AMOUNT'),
                        value: '{0} {1}'.format(jQuery.format.number($data.Document.Amount), $data.Document.CCY != null ? $data.Document.CCY.SWIFTCode : '')
                    },
                    {
                        label: jQuery.GetResString('ID_STR_EXECUTE_DATE'),
                        value: jQuery.format.date($data.Incarnation.ExecuteDate)
                    }
                ]
            }
        }"></div>
    <!-- /ko -->

    <div id="AuthorizationContainer" data-bind="renderAction: $root.SubPage, visible: $root.State() == $root.Types.State.Sign">
        &nbsp;
    </div>

    <div data-bind="partial: { path: 'Common/Notifications' }"></div>
</div>

<footer class="button-group btn-group-justified" data-bind="visible: $root.State() != $root.Types.State.Sign">

    <a data-bind="visible: $root.State() == $root.Types.State.Send, clickWithEffect: $root.Cancel, clickBubble: false" class="btn btn-secondary">
        <i class="i-left-open-big"></i><span>{{:~GetString("ID_STR_CANCEL")}}</span>
    </a>

    <a data-bind="visible: $root.State() == $root.Types.State.Send, clickWithEffect: $root.Send, clickBubble: false" class="btn btn-primary">
        <i class="i-direction"></i><span>{{:~GetString("ID_STR_SEND")}}</span>
    </a>

    <a data-bind="visible: $root.State() != $root.Types.State.Send, clickWithEffect: $root.Back, clickBubble: false" class="btn btn-primary">
        <span>{{:~GetString("ID_STR_CONTINUE")}}</span><i class="i-right-open-big"></i>
    </a>

</footer>
