<div id='payments_filter' class="panel panel-filter">
    <div class="form-group row simple-filter">
        <h2>
            {{:~GetString("ID_STR_FILTER_BY_DATE")}}

            <a href="#" class="btn btn-secondary btn-block-small advanced-filter-toggler"
               data-bind="clickWithEffect: ShowHideAdvancedFilter">
                <span class="i-cog"></span>
                <i data-bind="css: AdvancedFilterVisible() ? 'i-up-open' : 'i-down-open'">
                </i>
                <!--<span data-bind="text: AdvancedFilterVisible() ? jQuery.GetResString('ID_STR_LESS_OPTIONS') : jQuery.GetResString('ID_STR_MORE_OPTIONS')">
        </span>-->
            </a>
        </h2>
        <div class="col-xs-6">
            <!--<h2 for='dateStart'>{{:~GetString("ID_STR_FROM")}}</h2>-->
            {{InputDate #data id='dateStart' class='form-control' data_bind='datePickerValue: Filter.CreatePeriod.DateEnd' /}}
            <span class="validation-msg" data-bind="validationMessageFor: 'Filter.CreatePeriod.DateEnd'" />
        </div>
        <div class="col-xs-6">
            <!--<h2 for='dateEnd'>{{:~GetString("ID_STR_TO")}}</h2>-->
            {{InputDate #data id='dateEnd' class='form-control' data_bind='datePickerValue: Filter.CreatePeriod.DateStart' /}}
            <span class="validation-msg" data-bind="validationMessageFor: 'Filter.CreatePeriod.DateStart'" />
        </div>
    </div>


    <div class="advancedFilter">

        <div class="form-group">

            <h2>{{:~GetString("ID_STR_FROM_ACCOUNT")}}</h2>
            <div data-bind="renderAction: selectedAccount() != null ? {
                                            controller: 'AccountOverview',
                                            action: 'simpleAccountPreview',
                                            params: [selectedAccount().BankAccountID]
                                    } : null, visible: selectedAccount() != null" />

            <!--ko if: selectedAccount() == null-->
            <a class="btn btn-secondary btn-block-small btn-payer" data-bind="clickWithEffect: GetAPAccountsHandler">
                {{:~GetString("ID_STR_CHOOSE_FROM_ACCOUNT")}}
            </a>
            <!--/ko-->
            <!--ko if: selectedAccount() != null-->
            <a class="btn btn-secondary btn-block-small btn-payer" data-bind="clickWithEffect: GetAPAccountsHandler">
                {{:~GetString("ID_STR_CHOOSE_OTHER_ACCOUNT")}}
            </a>
            <!--/ko-->




            <span class="validation-msg" data-bind="validationMessageFor: 'selectedAccount'" />
        </div>

        <div class="form-group">
            <h2 for='movementTypeSelect'>{{:~GetString('ID_STR_TYPE')}}:</h2>
            <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
                data: {
                    value: selectedPaymentType,
                    options: paymentTypesForFilterSelect,
                    optionsText: 'DescriptionLocalized',
                    optionsCaption: jQuery.GetResString('ID_STR_ALL')
                }
            }"></div>

        </div>
    </div>
    <div class="form-group form-group-buttons">
        <a id="search" class="btn btn-primary btn-block-small btn-search" href="#" data-bind='clickWithEffect: find'>
            <i class="i-search"></i>
            {{:~GetString("ID_STR_SEARCH")}}
        </a>
        
    </div>
</div>
