﻿<form data-bind="submit: getPlace" class="container-search">
<!--Ima secltori po clasove,  tipove i id-ta v js-to na kontrolata-->
    <a class="btn btn-search" id="showSearch" data-bind="visible: !visible(), clickWithEffect: show"><i class="i-search"></i></a>
<div class="searchDiv"  data-bind="visible: visible"><!---->
    <input class="form-control" type="search" placeholder="{{>~GetString('ID_STR_ENTER_LOCATION')}}" /> <!--event:{ blur:hideSearch}--> <!-- data-bind="value: searchAddress"-->
<!--    <a data-bind="click: codeAddress">Search</a>-->
</div>
</form>


