<h2>{{:~GetString("ID_STR_BALANCE_BY_TYPE")}}</h2>
<div style="position:relative">
    <div id="overviewDonutChart"></div>
    <div class="total-amt">
        <h2 data-bind="text: jQuery.format.number(TotalAmount)"><!--<em>BGN</em>--></h2>
        <span>{{:~GetString("ID_STR_TOTAL_AMOUNTS_BGN")}}</span>
        
    </div>
</div>
<hr />
<h2 data-bind="visible: BarChartVisible, text: productsListLabel"></h2>
<div id="overviewBarChart"></div>