<div class="products">
    {{if APAccounts.length <= 0 && APTimeDeposits.length <= 0 && APTimeDeposits.length <= 0 && ExtendedProperties.APFacilities.length <= 0}}
    <div class="alert alert-info nodata">
        {{>~GetString("ID_STR_NO_ACTIVE_PRODUCTS")}}
    </div>
    {{else}}
    {{if APAccountsViewModel.length > 0 }}
    <ul class="list-group" id="accountsLitView">
        <li class="list-group-item list-group-item-heading">
            <h2>{{:~GetString("ID_STR_PRODUCTS_ACCOUNTS")}}</h2>
            <div class="av-balance">
                <span data-bind="text: selectedAccTotalAmount() ? $.format.number(selectedAccTotalAmount().Amount) : ''"></span>
                <div class="change-ccy" data-bind="partial: { path: 'Common/DropDownList',
                data: { value: selectedAccTotalAmount, options: AccountsTotalAmounts, optionsText: 'SWIFTCode' }
            }"></div>
            </div>

        </li>
        <!-- ko foreach:  APAccountsViewModel -->
        <li class="list-group-item btn-group-2" tabindex="1"
            data-bind="css: $parent.GetAccountFormattedBalanceFromAccount($data) < 0 ? 'debit' : '',
            component: {
                name: 'name-amount-ccy-label',
                params: {
                    label: ShortName, CCY: BankAccount.CCY,
                    secondaryLabel: jQuery.GetLocalizedString(BankAccount.AccountProductType.Name),
                    actionButtons: actionButtons,
                    value: $parent.GetAccountFormattedBalanceFromAccount($data)
                }
            }">
        </li>
        <!-- /ko -->
    </ul>

    {{/if}}
    {{if APTimeDepositsViewModel.length > 0 }}
    <ul class="list-group" id="depositsListView">

        <li class="list-group-item list-group-item-heading">
            <h2>{{:~GetString("ID_STR_PRODUCTS_DEPOSITS")}}</h2>
            <div class="av-balance">
                <span data-bind="text: selectedDepTotalAmount() ? $.format.number(selectedDepTotalAmount().Amount) : ''"></span>
                <div class="change-ccy" data-bind="partial: { path: 'Common/DropDownList',
                data: { value: selectedDepTotalAmount, options: DepositTotalAmounts, optionsText: 'SWIFTCode' }
            }"></div>
            </div>
        </li>
        <!-- ko foreach:  APTimeDepositsViewModel -->
           <li class="list-group-item btn-group-1" tabindex="1" 
                data-bind="component: {
                    name: 'name-amount-ccy-label',
                    params: {
                        label: jQuery.GetLocalizedString($data.BankTimeDeposit.DepositType.FunctionalType.Description),
                        secondaryLabel: jQuery.format.date(BankTimeDeposit.FinalMaturityDate),
                        CCY: { SWIFTCode: BankTimeDeposit.BankDepositCCY },
                        actionButtons: actionButtons,
                        value: jQuery.format.number(BankTimeDeposit.Principal)
                    }
                }">
            </li>
        <!-- /ko -->
    </ul>

    {{/if}}
    {{if BankCardCredit.length > 0 }}

    <ul class="list-group" id="rpccardsListView">
        <li class="list-group-item list-group-item-heading">{{:~GetString("ID_STR_CREDIT_CARDS")}}</li>

        <!-- ko foreach:  BankCardCredit -->
        <li class="list-group-item btn-group-1" tabindex="1" 
                data-bind="component: {
                    name: 'name-amount-ccy-label',
                    params: {
                        label: BankCard.BankCardNumber,
                        secondaryLabel: jQuery.GetLocalizedString(BankCard.BankCardType.Description),
                        CCY: BankCard.CCY,
                        actionButtons: actionButtons,
                        value: $root.GetCardFormattedBalanceFromAccount($data.BankCard)
                    }
                }">
        </li>
        <!-- /ko -->
    </ul>
    {{/if}}
    {{if ExtendedProperties.APFacilitiesViewModel.length > 0 }}

    <ul class="list-group" id="facilitiesListView">
        <li class="list-group-item list-group-item-heading">{{:~GetString("ID_STR_LOANS")}}</li>
        <!-- ko foreach: ExtendedProperties.APFacilitiesViewModel -->
        <li class="list-group-item btn-group-1" tabindex="1" 
            data-bind="component: {
                name: 'name-amount-ccy-label',
                params: {
                    css: {warning: $root.HasOverduedLoan($data) },
                    label: jQuery.GetLocalizedString(BankFacility.FacilityType.Description),
                    CCY: BankFacility.FacilityCCY,
                    actionButtons: actionButtons,
                    value: jQuery.format.number(BankFacility.FacilityAmount)
                }
            }">
        </li>
        <!-- /ko -->
    </ul>
    {{/if}}
    {{/if}}
</div>
