﻿
<div class="btn-group" data-bind="foreach: actionButtons, css: 'btn-group-' + actionButtons.filter(function (btn) { return __ko.unwrap(btn.enabled); }).length">
    <!-- ko if: enabled -->
        <a tabindex="-1" class="btn" href="#" data-bind="clickWithEffect: click, css: type">
            <i class="icon"></i>
            <span class="context-label" data-bind="text:label">
            </span>
        </a>
    <!-- /ko -->
</div>

<a class="list-group-item-inner" data-bind="clickWithEffect: click, css: css">
    <div class="description">
        <span class="prodname" data-bind="text: label"></span>
        <span class="secondarylabel" data-bind="text: secondaryLabel, visible: secondaryLabel != null"></span>
        <!-- ko if: additionalInfoTmpl != null -->
        <div class="additional-info" data-bind="template: { nodes: $(additionalInfoTmpl.Template), data: additionalInfoTmpl.Data }"></div>
        <!-- /ko -->
    </div>

    <span class="value" data-bind=" text: value"></span>
    <span class="ccy" data-bind="text: CCY != null ? CCY.SWIFTCode : ''"></span>
    
    
</a>

