﻿<div class="form-group">
    <label for="IBAN">{{:~GetString("ID_STR_BENEFICIRAY_ACCOUNT_HOME_IBAN")}}</label>
    <input id="IBAN" class="form-control" type="text" data-bind="value: Account.IBAN, valueUpdate: 'afterkeydown', event: { blur: IBANtoUpper }" />
    <span class="validation-msg" data-bind="validationMessageFor: 'Account.IBAN'" />
</div>