﻿<h4>{{>~GetLocalizedString(bankStructure.City)}} </h4>
<p>{{>~GetLocalizedString(bankStructure.Address) }}</p>

<a data-bind="daisClick: showATM" data-icon="back" class="btn btn-primary pull-right">{{>~GetString('ID_STR_MORE')}}</a>