﻿
    <!--tuka nqkav class-->
<div id="submenu">
    <div data-bind="visible: visible" class="btn-group btn-group-justified">
        <div data-bind="attr: { id: mapTypeButtons.Branches.id }, clickWithEffect: brancesHandler" class="maptypebutton btn active">
            {{>~GetString('ID_STR_BRANCHES')}}
        </div>
        <div data-bind="attr: { id: mapTypeButtons.ATMs.id }, clickWithEffect: ATMsHandler" class="maptypebutton btn">
            {{>~GetString('ID_STR_ATMS')}}
        </div>
    </div>
</div> 
