﻿<div class="panel-header">
    <div class="overlay panel">
        <h2 class="account-name">{{:~GetString("ID_STR_ONLINE_NOTIF_SUBSCRIPTION_LIST")}}</h2>
    </div>
</div>


<div class="panel">
    <div id="subsciptions_list">
        <ul class='list-group' id='subsciptionsResult' style="clear: both;">
            <!-- ko foreach:  Subscriptions -->
            <li class="list-group-item btn-group-1" tabindex="1"
                data-bind="css: { subscriptionActive: IsActive },
                    component: {
                        name: 'name-amount-ccy-label',
                        params: {
                            label: $data.BankCorrespondent.Name, 
                            secondaryLabel: $data.BankProduct.REFID,
                            actionButtons: actionButtons,
                          
                        }
                    }">
            </li>
            <!-- /ko -->

        </ul>
    </div>
</div>


<!-- ko -->
<style>
    #submenu > .btn-group {
        top: 113px;
    }

    .subscriptionActive:after {
        content: 'aide dedeeeeeeeeeeeeeeeeeee';
    }
</style>
<!-- /ko -->


<footer class="button-group btn-group-justified">
    <a href='#' class="btn btn-primary" data-role='button' id="newSubscription" data-bind='clickWithEffect: newSubscription'>
        <i class="i-doc-text"></i>{{:~GetString("ID_STR_ONLINE_NOTIF_CREATE_NEW_SUBSCRIPTION")}}
    </a>
</footer>
