// RBB Mobile Mixins 
// --------------------------------------------------;


@import (reference) "../../libs/bootstrap/less/mixins";

.parallax() {
    -moz-perspective: 1px;
    -ms-perspective: 1px;
    -webkit-perspective: 1px;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;

    .group() {
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .layer() {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .back() {
        -moz-transform: translateZ(-2px) scale(3);
        -ms-transform: translateZ(-2px) scale(3);
        -o-transform: translateZ(-2px) scale(3);
        -webkit-transform: translateZ(-2px) scale(3);
        transform: translateZ(-2px) scale(3);
        -moz-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        -o-transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    .base() {
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .foreground() {
        -moz-transform: translateZ(1px);
        -ms-transform: translateZ(1px);
        -o-transform: translateZ(1px);
        -webkit-transform: translateZ(1px);
        transform: translateZ(1px);
    }
}
 

// Responsive image
//
// Keep images from scaling beyond the width of their parents.
.img-responsive(@display: block) {
  display: @display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}


// Retina image
//
// Short retina mixin for setting background-image and -size. Note that the
// spelling of `min--moz-device-pixel-ratio` is intentional.
.img-retina(@file-1x; @file-2x; @width-1x; @height-1x) {
  background-image: url("@{file-1x}");

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("@{file-2x}");
    background-size: @width-1x @height-1x;
  }
}
