<h1 data-bind="text: (PayerIBAN && PayerIBAN.length > 0) && (PayeeIBAN && PayeeIBAN.length > 0) ? jQuery.GetResString('ID_STR_CAHS_MOVT_TRANSFER') : jQuery.GetResString('ID_STR_CAHS_MOVT_CASH_OPERATION')"></h1>

<div class="pmt-details" data-bind="component: {
    name: 'label-value-list', params: function() {
        var params = { heading: { hidden: true }, details: [] };
        if (PayerIBAN && PayerIBAN.length > 0) {
            params.details.push({ label: jQuery.GetResString('ID_STR_PAYER_NAME'), value: PayerName });
            params.details.push({ label: jQuery.GetResString('ID_STR_PAYER_IBAN'), value: PayerIBAN });
            params.details.push({ value: jQuery.GetResString('ID_STR_CAHS_MOVT_CASH_CASH_WITHDRAWAL') });
        } else if (PayeeIBAN && PayeeIBAN.length > 0) {
            params.details.push({ label: jQuery.GetResString('ID_STR_PAYEE_NAME'), value: PayeeName });
            params.details.push({ label: jQuery.GetResString('ID_STR_PAYEE_IBAN'), value: PayeeIBAN });
            params.details.push({ value: jQuery.GetResString('ID_STR_CAHS_MOVT_DEPOSIT') });
        }
        params.details.push({
            label: jQuery.GetResString('ID_STR_AMOUNT'),
            value: '{0} {1}'.format(jQuery.format.number(Amount), CCY.SWIFTCode)
        });
        params.details.push({ label: jQuery.GetResString('ID_STR_DATE'), value: jQuery.format.date(PaymentDate) });
        if (DocumentReference) {
            if (PaymentType == 'TT') {
                params.details.push({ label: jQuery.GetResString('ID_STR_REFERENCE'), value: DocumentReference.substring(9,14) });
                params.details.push({ label: jQuery.GetResString('ID_STR_CASH_MOVT_CASHIER'), value: DocumentReference.substring(14,17) });
            } else if (PaymentType == 'GE-TT') {
                params.details.push({ label: jQuery.GetResString('ID_STR_REFERENCE'), value: DocumentReference.substring(10,15) });
                params.details.push({ label: jQuery.GetResString('ID_STR_CASH_MOVT_CASHIER'), value: DocumentReference.substring(15,18) });
            }
        }
        params.details.push({ label: jQuery.GetResString('ID_STR_PAYMENY_DETAILS'), value: [ Description1, Description2, Description3, Description4, Description5 ] });

        return params;
    }
}"></div>