<div id='movements_filter' class="panel panel-filter">
    <!--<h1>{{:~GetString("ID_STR_ACCOUNT_MOVEMENTS")}}</h1>
    <div class="form-group row">
        <div class="col-xs-6">
            <h2 for='dateStart' data-bind='text: strings.ID_STR_FROM'></h2>
            {{InputDate #data id='dateStart' class='form-control' data_bind='datePickerValue: MovementsFilter.Period.DateStart' /}}
            <span class="validation-msg" data-bind="validationMessageFor: 'MovementsFilter.Period.DateStart'" />
        </div>
        <div class="col-xs-6">
            <h2 for='dateEnd' data-bind='text: strings.ID_STR_TO'></h2>
            {{InputDate #data id='dateEnd' class='form-control' data_bind='datePickerValue: MovementsFilter.Period.DateEnd' /}}
            <span class="validation-msg" data-bind="validationMessageFor: 'MovementsFilter.Period.DateEnd'" />
        </div>
        <a href="#" class="advanced-filter-toggler"
            data-bind="click: ShowHideAdvancedFilter, text: AdvancedFilterVisible() ? jQuery.GetResString('ID_STR_LESS') : jQuery.GetResString('ID_STR_MORE')" />
        <div class="advancedFilter" data-bind="visible: AdvancedFilterVisible">
            <div class="form-group">
                <h2 data-bind='text: strings.ID_STR_MOVEMENT_TYPE'></h2>
                <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
                    data: { value: MovementsFilter.MovementType, options: MovementTypeSelect, optionsText: 'text', optionsValue: 'value' }
                }"></div>
    </div>
        </div>
    <div class="form-group">
        <a class="btn btn-primary btn-block" href='#' data-bind='text: strings.ID_STR_SEARCH, clickWithEffect: find' />
    </div>
    </div>-->



    <div class="form-group row simple-filter">
        <h2>
            {{:~GetString("ID_STR_FILTER_BY_DATE")}}

            <a href="#" class="btn btn-secondary btn-block-small advanced-filter-toggler"
               data-bind="clickWithEffect: ShowHideAdvancedFilter">
                <span class="i-cog"></span>
                <i data-bind="css: AdvancedFilterVisible() ? 'i-up-open' : 'i-down-open'">
                </i>
                <!--<span data-bind="text: AdvancedFilterVisible() ? jQuery.GetResString('ID_STR_LESS_OPTIONS') : jQuery.GetResString('ID_STR_MORE_OPTIONS')"></span>-->

            </a>
        </h2>
        <div class="col-xs-6">
            {{InputDate #data id='dateStart' class='form-control' data_bind='datePickerValue: MovementsFilter.Period.DateStart' /}}
            <span class="validation-msg" data-bind="validationMessageFor: 'MovementsFilter.Period.DateStart'" />
        </div>
        <div class="col-xs-6">
            {{InputDate #data id='dateEnd' class='form-control' data_bind='datePickerValue: MovementsFilter.Period.DateEnd' /}}
            <span class="validation-msg" data-bind="validationMessageFor: 'MovementsFilter.Period.DateEnd'" />
        </div>
    </div>


    <div class="advancedFilter">

        <div class="form-group">
            <h2 data-bind='text: strings.ID_STR_MOVEMENT_TYPE'></h2>
            <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
                    data: { value: MovementsFilter.MovementType, options: MovementTypeSelect, optionsText: 'text', optionsValue: 'value' }
                }"></div>

        </div>


    </div>
    <div class="form-group form-group-buttons">
        <a id="search" class="btn btn-primary btn-block-small btn-search" href="#" data-bind='clickWithEffect: find'>
            <i class="i-search"></i>
            {{:~GetString("ID_STR_SEARCH")}}
        </a>
        
    </div>


</div>



<div class="panel" style="margin-top: 10px;">
    <ul class='list-group list-group-pmt' id='movementsResult'>
        <li class='list-group-item-heading' data-bind="visible: Movements().length > 0">{{:~GetString("ID_STR_ACCOUNT_MOVEMENTS")}}</li>
        <!-- ko foreach: $root.Movements -->
        <li class="list-group-item" tabindex="1" style="height:auto" data-bind="css: $data.MovementType == 0 ? 'debit' : 'credit',
            component: {
                name: 'name-amount-ccy-label',
                params: {
                    label: $data.OppositeSideName,
                    CCY: $data.CCY,
                    secondaryLabel: jQuery.format.date($data.PaymentDate),
                    value: jQuery.format.number($data.MovementAmount),
                    click: $data.HasAdvice ? function () { $parent.showMovementDocumentHandler($data) } : '',
                    additionalInfoTmpl: { Template: require('text!Mobile/Templates/Accounts/Movements/AccountMovementAdditionalInfoTemplate.html'), Data: $data }
                }
        }">
        </li>
        <!--$data.Narrative-->
        <!-- /ko -->
        <!-- ko if: isLoaded() == true && Movements().length == 0 -->
        <div class="alert alert-info nodata">
            {{>~GetString("ID_STR_NO_MOVEMENTS")}}
        </div>
        <!-- /ko -->
    </ul>
</div>
