<h2>{{>~GetString("ID_STR_ATM")}}</h2>
<ul class="list-group info list-group-block">
    <li class="list-group-item">
        <label>{{>~GetString('ID_STR_NASELENO_MYASTO')}}:</label>
        <span class="value">{{>~GetLocalizedString(City)}}</span>
    </li>
    <li class="list-group-item">
        <label> {{>~GetString('ID_STR_ADDRESS')}}:</label>
        <span class="value">{{>~GetLocalizedString(Address) }}</span>
    </li>
    <li class="list-group-item">
        {{if (AddressObject[0] != '' && AddressObject[0] != null ) || (AddressObject[1] != '' && AddressObject[1] != null )}}
        <label>{{>~GetString('ID_STR_ATM_SITE')}}: </label>
        <span class="value">{{>~GetLocalizedString(AddressObject) }}</span>
        {{/if}}
    </li>
    <li class="list-group-item">
        <label>{{if IsInBank}} {{>~GetString('ID_STR_IS_IN_BANK')}} {{/if}}</label>
    </li>
    <li class="list-group-item">
        {{:~RenderPartial('text!Mobile/Templates/BankBranches/ViewBankStructure/OfferedBankServices.html', #data)}}
    </li>
</ul>
    

