<nav class="navbar navbar-fixed-top" id="navbar"><a class="btn btn-sm btn-close" data-bind="clickWithEffect: Close"><i class="i-left-open"></i></a></nav>
<div data-bind="displayFor: { data: $data.BankStructure, path: 'BankBranches/ViewBankStructure/'}" />        

