﻿{{if Level && Level.Name}}
<h2>
    {{>~GetLocalizedString(Level.Name)}} - {{>~GetLocalizedString(Name)}} 
</h2>
{{/if}}
<ul class="list-group info list-group-block">

    <li class="list-group-item">
        <label>{{>~GetString('ID_STR_NASELENO_MYASTO')}}:</label>
        <span class="value">{{>CountryLocation.PostCode}} {{>~GetLocalizedString(CountryLocation.Name)}}</span>
    </li>

    <li class="list-group-item">
        <label> {{>~GetString('ID_STR_ADDRESS')}}:</label>
        <span class="value">{{>~GetLocalizedString(Address)}}</span>
    </li>

    <li class="list-group-item">
        <label>{{>~GetString('ID_STR_PHONE')}}: </label><a href="tel:{{>InformationPhone}}" class="value">{{>InformationPhone}}</a>
    </li>
    {{if Fax && Fax != ''}}
    <li class="list-group-item">
        <label>{{>~GetString('ID_STR_FAX')}}: </label>
        <a href="tel:{{>Fax}}" class="value">{{>Fax}}</a>
    </li>
    {{/if}}
    {{if (ContactPresonName[0].Value != '' && ContactPresonName[0].Value != null ) || (ContactPresonName[1].Value != '' && ContactPresonName[1].Value != null )}}
    <li class="list-group-item">
        
        <label>{{>~GetString('ID_STR_CONTACT_PERSON')}}:</label>
        <span class="value">{{>~GetLocalizedString(ContactPresonName)}}</span>
       
    </li>
    {{/if}}
    {{if  Mail && Mail != ''}}
    <li class="list-group-item">
        <label>{{>~GetString('ID_STR_E_MAIL')}}</label>
        <a href="mailto:{{>Mail}}" class="value">{{>Mail}}</a>
    </li>
    {{/if}}

    <li class="list-group-item">
        {{:~RenderPartial('text!Mobile/Templates/BankBranches/ViewBankStructure/OfferedBankServices.html', #data)}}
    </li>

    {{if WorkTimes && WorkTimes.length > 0}}
    <li class="list-group-item">
        <label>{{>~GetString('ID_STR_WORK_TIME')}}:</label>
        <!--ko foreach: WorkTimes -->
        <div data-bind="displayFor: { data: $data, path: 'BankBranches/ViewBankStructure/WorkTimes/'}" />
        <!--/ko-->
    </li>
    {{/if}}











    

    

    

    
    
   
    

</ul>