﻿<ul class="list-group info label-value list-group-block">
    <li class="list-group-item list-group-item-heading" data-bind="text: heading.label, visible: !heading.hidden, css: heading.cssClass"></li>
    <!-- ko foreach: details -->
    <li class="list-group-item" data-bind="css: $data.cssClass">
        <label data-bind="text: $data.label, visible: $data.label"></label>
        <!-- ko if: jQuery.isArray(value) -->
        <!-- ko foreach: value -->
        <span class="value value-block" data-bind="text: $data"></span>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: jQuery.isArray(value) -->
        <span class="value" data-bind="text: $data.value"></span>
        <!-- /ko -->
    </li>
    <!-- /ko -->
</ul>