﻿
<div class="container captcha" data-bind="visible: CaptchaRequired">
    <div class="form-group captcha-img">
        <hr />
        <img data-bind="attr: { src: ImageSrc }" alt="{{:~GetString('ID_STR_CAPTCHA_LABEL')}}" />
        <a class="btn" href="javascript:void(0);" data-bind="clickWithEffect: LoadCaptcha">
            <i class="i-cw"></i>
            {{:~GetString('ID_STR_CAPTCHA_GENERATE_NEW')}}
        </a>
        <br/>
        <!--login page style-->
        
        <input class="form-control input-lg" placeholder="{{:~GetString('ID_STR_CAPTCHA_LABEL')}}" id="CaptchaCode" data-bind="value: CaptchaCode" />
        <span class="validation-msg" data-bind="validationMessageFor: 'CaptchaCode'"></span>

        <!--form style-->
        <!--<label class="control-label" for="CaptchaCode">{{:~GetString("ID_STR_CAPTCHA_LABEL") }}</label>
        <input class="form-control" type="text" id="CaptchaCode" name="CaptchaCode" data-bind="value: CaptchaCode" />
        <span data-bind="validationMessageFor: 'CaptchaCode'" />-->
    </div>
</div>