﻿<a class="changelang navbar-toggle ripple" id="languageFlip" data-bind="clickWithEffect: toggleLanguage">{{:~GetString('ID_STR_LANGUAGE_BG_ENG')}}</a>

<div class="container login">
    <div class="overlay">
        <div class="logo"></div>
       
        <!--<a class="close" data-role="button" id="closebtn" data-bind="visible: closeButtonVisible, click: close">&nbsp;</a>    -->


        <!--<h1>{{:~GetString('ID_STR_WELCOME_1')}} {{:~GetString('ID_STR_WELCOME_2')}} {{:~GetString('ID_STR_WELCOME_3')}}</h1>-->

        <hr />

        <!--<p class="note" data-bind="visible: ShowLoginForm">
            {{:~GetString('ID_STR_PLEASE_ENTER_LOGIN_AND_PASSWORD')}}
        </p>-->
        <form data-bind="submit: login">
            <div data-bind="visible: ShowLoginForm" class="form-login">

                <p>
                    <input id="loginName" class="form-control" data-bind="value: loginName, event: { focus: scrollToElement }" placeholder="{{:~GetString('ID_STR_LOGIN')}}" />
                    <span class="validation-msg" data-bind="validationMessageFor: 'loginName'" />
                </p>
                <p>
                    <input id="password" type="password" data-bind="value: password, event: { focus: scrollToElement }" class="form-control" placeholder="{{:~GetString('ID_STR_PASSWORD')}}" />
                    <span class="validation-msg" data-bind="validationMessageFor: 'password'" />
                </p>

                <div data-bind="partial: { data: Captcha, path: 'CaptchaTemplate' }" />

                <p>
                    <button class="btn btn-primary btn-block" id="login" data-bind="clickWithEffect: login">{{>~GetString('ID_STR_LOGIN_BUTTON')}}</button>
                </p>
                <hr />
            </div>
            <div data-bind="partial: { path: 'Common/Notifications' }"></div>
        </form>


        <div id="banners" class="swiper-container">
            <div class="swiper-wrapper" data-bind="foreach: PromotionFeedMessages">
                <div class="swiper-slide">
                    <a target="_blank" data-bind="attr: { href: $data.SourceURI }">
                        <img data-bind="attr: { src: $data.Image[0].Value, alt: $data.Title }" />
                    <div class="carousel-caption" data-bind="text: $data.Text"></div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>

            <!--<div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>-->
        </div>

        <hr />

        <ul class="social-links">
            <li class="fb"><a class="ripple" target="_blank" href="http://www.facebook.com/RBB.bg"><i class="i-facebook-1"></i></a></li>
            <li class="yt"><a class="ripple" target="_blank" href="http://www.youtube.com/user/raiffeisenbg"><i class="i-youtube"></i></a></li>
            <li class="tw"><a class="ripple" target="_blank" href="http://twitter.com/RaiffeisenBG"><i class="i-twitter-1"></i></a></li>
            <li class="mail"><a class="ripple" href="mailto:call.center@raiffeisen.bg"><i class="i-email"></i></a></li>
            <li class="gp"><a class="ripple" target="_blank" href="http://www.rbb.bg"><i class="i-gplus-1"></i></a></li>
        </ul>
        
        <hr />

        <div class="news-section" data-bind="foreach: NewsFeedMessages">
            <p class="news-item">
                <span class="news-date" data-bind="text: jQuery.format.date(PostDate)"></span>
                <a class="news-heading" target="_blank" data-bind="text: Title, attr: { href: SourceURI }"></a>
            </p>
        </div>

    </div>
</div>

<style>

    .navbar-fixed-top {
        border-bottom:none;
    }

    body #loading-indicator {
        top: 0;
    }

    #mainPage {
        padding:0;
    }
</style>