﻿<div id="menuContainer" class="swiper-container">
    <div class="swiper-wrapper" style="overflow:visible;">
        <div class="swiper-slide swiper-slide-navigation" style="">
            <nav id="menu">
                <div class="overlay">
                    <ul class="nav nav-sidebar">
                        <li class="nav-brand"></li>
                        <!-- ko foreach: NavigationItems -->
                            <li data-bind="component: { name: 'navigation-item', params: $data }"></li>
                        <!-- /ko --> 
                    </ul>
                </div>
            </nav>
            <div class="navig-overlay"></div>
        </div>
        <div class="swiper-slide dummy-slider" style="width:25px;">&nbsp;</div>
    </div>
    <div class="navig-overlay"></div>
</div>