<nav class="navbar navbar-fixed-top" id="navbar"></nav>
<div class="panel pmt-preview" style="margin: 0">
    <a class="btn btn-sm btn-close" data-bind="clickWithEffect: Close"><i class="i-left-open"></i></a>
    <!-- ko if: $data.MovementDocument -->
    <div id="paymentdetails"  data-bind="displayFor: { data: $data.MovementDocument, path: 'Accounts/Movements/'}" />        
    <!-- /ko --> 
    <!-- ko ifnot: $data.MovementDocument -->
        <div style="margin-top:40px">
           <span class="message info">  {{>~GetString("ID_STR_MOVEMENT_NOT_AVAILABLE")}} </span>
        </div>
    <!-- /ko  -->
</div>
