﻿html, body {
    height: 100%;
    //overflow-x: hidden;
}

body {
    .font-regular;
    min-height: 100%;
}

//used to fix pre-load foc
body.loading-on {
    background-color: #D1963F;

    #submenu {
        display: none;
    }

    #loading-indicator {
        top: 0;
    }
}

@import (reference) "../../libs/bootstrap/less/mixins.less";
@import (reference) "_variables.less";
@import (reference) "_mixins.less";
@import "typography/_styles";


.login-gradient {
    #gradient > .vertical(#D1963F,#765626);
}

/* Loading bar indicator */

body #loading-indicator {
    position: fixed;
    top: 49px;
    left: 0;
    right: 0;
    height: 5px;
    overflow: hidden;
    background-color: #000;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    z-index: 9999;
    opacity: 0.25;
    -moz-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    -webkit-transition: opacity 0.15s;
    transition: opacity 0.15s;
}

body.scroll-stop #loading-indicator {
    left: 300px;
}

#loading-indicator.loading-indicator-hidden {
    opacity: 0;
}

.loading-indicator {
    background-color: #444;
    margin-top: 0;
    margin-left: -100%;
    -moz-animation-name: bounce_loadingProgressG;
    -moz-animation-duration: 2.4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: bounce_loadingProgressG;
    -webkit-animation-duration: 2.4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-name: bounce_loadingProgressG;
    -ms-animation-duration: 2.4s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: bounce_loadingProgressG;
    -o-animation-duration: 2.4s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: bounce_loadingProgressG;
    animation-duration: 2.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 100%;
    height: 5px;
}

@-moz-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -100%;
    }

    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -100%;
    }

    100% {
        margin-left: 100%;
    }
}

@-ms-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -100%;
    }

    100% {
        margin-left: 100%;
    }
}

@-o-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -100%;
    }

    100% {
        margin-left: 100%;
    }
}

@keyframes bounce_loadingProgressG {
    0% {
        margin-left: -100%;
    }

    100% {
        margin-left: 100%;
    }
}

/* Containers */

* {
    outline: none;
}

.scroll-stop {
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
}

body > .container {
    height: 100%;
    border-top: 10px solid #666;
}

#mainPage {
    position: relative;
    min-width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-transform: none !important;
}

.panel {
    background: transparent;
    box-shadow: none;
    //.font-bold;
}

/* Headings and typo */

body {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    color: inherit;
    text-decoration: none !important;
    outline: none !important;
}

hr {
    margin: 20px 30px;
    border-top: 1px solid #eee;
    opacity: 0.2;
}

h1 {
    .font-thin;
    font-size: 1.7em;
}

h2 {
    .font-light;
    font-size: 1.4em;
}

h3 {
    .font-condensed;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* Inputs */

.form-control, .dais-dropdown {
    .font-light;
    display: block;
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    height: auto;
    line-height: 1.42857143 !important;
    color: #555555;
    background-color: transparent;
    background-image: none;
    background: #F5F5F5;
    border: none;
    border-bottom: 2px solid #cccccc;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .2s, background-color ease-in-out .18s;
    -o-transition: border-color ease-in-out .2s, background-color ease-in-out .18s;
    transition: border-color ease-in-out .2s, background-color ease-in-out .18s;

    &::-webkit-input-placeholder {
        color: #ccc;
    }

    &:focus {
        background-color: rgba(255, 255, 255, 0.1);
        border-color: #D1963F;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.dais-dropdown {
    border-radius: 0;
    text-align: left;

    span {
        /*width: 90%;
        overflow: hidden;
        display: inline-block;*/
    }

    i {
        float: right;
    }

    select {
        /*font-size:inherit;*/
    }
}

.form-group {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

    &.form-group-buttons {
        text-align: center;
    }

    .col-xs-6 {
        padding-left: 5px;
        padding-right: 5px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    h2 {
        text-align: center;
        font-size: 1.2em;
        text-align: center;
        color: #BB8C3D;
        margin-bottom: 8px;
    }

    &:focus {

        h2 {
            color: #DFA94E;
        }
    }

    .form-control {
        display: block;
        width: 100%;
        background: #F5F5F5;
        border: none;
        border-bottom: 2px solid #ccc;
        // background: rgba(204, 204, 204, 0.25);
        color: #444;
        border-radius: 0;
        box-shadow: none;
    }



    .form-control:focus {
        outline: none;
        background: rgba(204, 204, 204, 0.35);
    }
    /* LABEL ======================================= */
    label {
        .font-light;
        display: block;
        font-size: 1.2em;
        text-align: center;
        color: #BB8C3D;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    /* active state 
    .form-control:focus ~ label, .form-control:valid ~ label {
        top: -25px;
        font-size: 16px;
        color: #fff;
    }*/
    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 100%;
    }

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: #DFA94E;
        transition: 0.4s ease all;
        -moz-transition: 0.4s ease all;
        -webkit-transition: 0.4s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }
    /* active state */
    .form-control:focus ~ .bar:before, .form-control:focus ~ .bar:after {
        width: 50%;
    }
    /* HIGHLIGHTER ================================== */
    .highlight {
        position: absolute;
        height: 45px;
        width: 100%;
        bottom: 0;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    /* active state */
    .form-control:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }
    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #333;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: #333;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @keyframes inputHighlighter {
        from {
            background: #333;
        }

        to {
            width: 0;
            background: transparent;
        }
    }
}

/* Alerts and validation */

span.validation-msg {
    .font-condensed;
    font-size: 14px;
    color: #a94442;
    text-transform: uppercase;
    padding: 5px 10px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    display: block;
    line-height: 1.2;
    border: none;
    clear: both;

    &:before {
        font-family: "mobile-set";
        content: '\e823';
        font-size: 20px;
        margin-right: 4px;
        top: 2px;
        position: relative;
    }
}

.alert {
    .font-condensed;
    font-size: 14px;
    color: #a94442;
    text-transform: uppercase;
    padding: 10px 5px 10px 30px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    display: block;
    line-height: 1.2;
    border: none;
    /*padding-left:45px;*/
    position: relative;


    &:before {
        font-family: mobile-set;
        position: absolute;
        top: 50%;
        font-size: 20px;
        margin-top: -12px;
        left: 15px;
    }

    &.alert-error {
        color: #a94442;

        &:before {
            content: '\e823';
            margin-top: -11px;
        }

        span {
            color: #a94442 !important;
        }
    }

    &.alert-success {
        color: #799425;
        padding-left: 35px;

        &:before {
            content: '\e822';
        }

        span {
            color: #799425 !important;
        }
    }

    &.alert-info {
        color: #4790AB;
        padding-left: 45px;

        &:before {
            content: '\e82f';
        }

        span {
            color: #4790AB !important;
        }
    }

    &.alert-warning {
        color: #BB8C3D;
        padding-left: 45px;

        &:before {
            content: '\e83d';
        }

        span {
            color: #BB8C3D !important;
        }
    }
    /*&:before, :before {
        margin-right: 5px;
        //margin-left: 5px;
        font-size: 0.8em;
    }*/
}

.notifications {
    text-align:center;
    padding: 5px 0;

    .alert {
        display:inline-block;
        text-align: left;
    }
}

.has-error .form-control {
    border-color: #a94442 !important;
    box-shadow: none !important;
}

/* Buttons */



.btn {
    border-radius: 3px;
    padding: 10px;
    transition: background-color ease-in-out .2s, border-color ease-in-out .2s;
    position: relative;
    overflow: hidden;

    &:active {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &.btn-primary {
        color: #ffffff;
        background-color: #D89F45;
        border-color: #D89F45;
    }

    &.btn-secondary {
        //background: rgba(216, 159, 69, 0.85);
        background: #D3D3D3;
        color: #808080;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.32);
    }

    &.btn-block {
        .font-condensed;
        //color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        padding: 12px 10px;
        width: 50%;
        margin: 0 auto;
        min-width: 200px;
    }

    &.btn-block-small {
        .font-condensed;
        //color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        padding: 10px;
        display: inline-block;
    }
}

.fab {
    border-radius: 50%;
    margin: 0;
    padding: 20px;
}

.material {
    position: relative;
    color: white;
    margin: 20px auto;
    height: 400px;
    width: 500px;
    background: #f45673;
}

.ripple {
    overflow: hidden;
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    -moz-animation: ripple-animation 2s;
    -o-animation: ripple-animation 2s;
    -webkit-animation: ripple-animation 2s;
    animation: ripple-animation 2s;
}

@-webkit-keyframes ripple-animation {
    from {
        transform: scale3d(1,1,1);
        opacity: 0.4;
    }

    to {
        transform: scale3d(100,100,1);
        opacity: 0;
    }
}

@keyframes ripple-animation {
    from {
        transform: scale3d(1,1,1);
        opacity: 0.4;
    }

    to {
        transform: scale3d(100,100,1);
        opacity: 0;
    }
}

// footer buttons
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-spacing: 10px;
    z-index: 1000;

    .btn {
        .font-condensed;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        padding: 12px 10px;
        max-width: 160px;

        i {
            margin-left: -10px;

            &.i-right-open-big {
                margin-left: 10px;
            }
        }

        &.btn-primary {
            color: #fff;
        }

        &.btn-secondary {
            background: rgba(216, 159, 69, 0.85);
            color: #fff;
            text-shadow: none;
        }
    }
}

.ui-loadingpanel-active ~ #mainPage .btn:not(.active) {
    color: #fff !important;
}


.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    box-shadow: none;
}

// Onload buttons disabled; 'no data' message hidden

.ui-loadingpanel-active ~ #mainPage .btn-primary, .ui-loadingpanel-active ~ #mainPage .btn-secondary {
    opacity: 0.85;
    text-shadow: none;
}

.ui-loadingpanel-active ~ #mainPage .nodata {
    display: none;
}


/* Overlapping footer content fix */

#mainPage > div:last-child {
    padding-bottom: 50px;
}

.daisui-submenu {
    padding-bottom: 50px;
}

/* Login page */

/*.controller-login ~ #loading-indicator {
    top:0;
}*/

.controller-login {

    #navbar {
        background: transparent;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        position:absolute;


        h1 {
            display: none;
        }
    }

    .changelang {
        z-index: 1090;
        .font-condensed;
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        width: 80px;
        text-align: right;
        line-height: 1;
        margin-right: 0;
        margin-top: 4px;
    }
}

.container.login {
    background-color: #D1963F;
    .login-gradient;
    background-size: 400%;
    /*-webkit-animation: bgPos 20s ease infinite;
    -moz-animation: bgPos 20s ease infinite;
    -o-animation: bgPos 20s ease infinite;
    animation: bgPos 20s ease infinite;*/
    // should test animation performance
    min-height: 100%;

    & > * {
        -webkit-backface-visibility: hidden;
    }

    .overlay {
        background-image: url("../../images/logo-overlay.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
    }

    .logo {
        width: 191px;
        height: 46px;
        margin: 20px auto 0;
        background-repeat: no-repeat;
        .img-retina("../../images/logo-text.png "; "../../images/logo-text-2x.png"; 191px; 46px);
    }

    h1 { 
        margin-top: 15px;
        text-align: center;
        color: #fff;
    }

    .form-control {
        background: rgba(95, 73, 42, 0.4);
        color: #F2C16D;
        font-size: 1.2em;
        border: none;

        &::-webkit-input-placeholder {
            //color: #DFA94E;
            color: #fff;
        }

        &:focus {
            background-color: rgba(95, 73, 42, 0.6);
            //color: #DFA94E;
            color: #fff;
        }
    }

    .btn-block {
        margin-top: 20px;
        background: #C6A575;
        border: none;
        /*&:focus {
            background-color: rgba(95, 73, 42, 0.6);
            color: #D1963F;
        }*/
    }

    .captcha-img {
        text-align: center;
    }

    .alert {
        //background: rgba(255, 255, 255, 0.6);
        margin-bottom: 0;
    }

    .social-links {
        display: table-row;

        > li {
            display: table-cell;
            width: 1%;
            padding: 0 5px;

            a {
                display: block;
                text-decoration: none;
                line-height: 2.5em;
                position: relative;
                text-align: center;

                i {
                    color: #fff;
                    font-size: 20px;
                }
            }
            /*&.fb a {
                background: url("../../images/social/facebook.png") no-repeat center center transparent;
            }

            &.yt a {
                background: url("../../images/social/youtube.png") no-repeat center center transparent;
            }

            &.tw a {
                background: url("../../images/social/twitter.png") no-repeat center center transparent;
            }

            &.mail a {
                background: url("../../images/social/mail.png") no-repeat center center transparent;
            }

            &.gp a {
                background: url("../../images/social/googleplus.png") no-repeat center center transparent;
            }*/
        }
    }
    // Carousel
    #banners {
        /*margin-bottom:50px;*/
        overflow-x: hidden;
        overflow-y: visible;

        .swiper-slide {
            margin-right: 2px;

            img {
                border-radius: 4px;
                border: 5px solid rgba(255, 255, 255, 0.4);
                width: 100%;
            }

            .carousel-caption {
                position: absolute;
                left: 5px;
                right: 5px;
                bottom: 5px;
                z-index: 10;
                padding-top: 5px;
                padding-bottom: 5px;
                color: #ffffff;
                text-align: center;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
                background: rgba(0, 0, 0, 0.4);
                font-size: 0.8em;
                .font-condensed;
                text-transform: uppercase;
            }
        }

        .swiper-pagination {
            position: relative;
            bottom: 0;
            margin-top: 15px;


            .swiper-pagination-bullet {
                border-radius: 1px;
                width: 30px;
                height: 12px;
                margin: 0 1px;
                background: rgba(255, 255, 255, 0.8);
                border: none;

                &.swiper-pagination-bullet-active {
                    background: #fff;
                }
            }
        }
    }
    // old carousel
    .carousel {
        margin-bottom: 50px;

        .carousel-indicators {
            bottom: -44px;

            li {
                border-radius: 1px;
                width: 30px;
                height: 10px;
                margin: 0;
                background: rgba(255, 255, 255, 0.2);
                border: none;

                &.active {
                    background: #fff;
                }
            }
        }

        .carousel-inner {
            position: relative;
            overflow: hidden;
            width: 100%;
            max-width: 715px;
            margin: 0 auto;

            img {
                border-radius: 4px;
                border: 5px solid rgba(255, 255, 255, 0.4);
            }

            .carousel-caption {
                position: absolute;
                left: 5px;
                right: 5px;
                bottom: 5px;
                z-index: 10;
                padding-top: 5px;
                padding-bottom: 5px;
                color: #ffffff;
                text-align: center;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
                background: rgba(0, 0, 0, 0.4);
                font-size: 0.8em;
                .font-condensed;
                text-transform: uppercase;
            }
        }

        .carousel-control {
            position: absolute;
            padding-top: 0;
            top: 50%;
            margin-top: -17px;
            width: 50px;
            background: none;

            &.left {
                left: -15px;

                i {
                    font-size: 26px;
                }
            }

            &.right {
                left: auto;
                right: -15px;

                i {
                    font-size: 26px;
                }
            }

            i {
            }
        }
    }
    // News section
    .news-section {
        margin: 0 20px;
        margin-top: 30px;

        .news-item {

            .news-date {
                .font-condensed;
                font-size: 0.8em;
                color: #D8B872;
                display: block;
            }

            .news-heading {
                .font-light;
                font-size: 0.9em;
                color: #fff;
                display: block;

                &:after {
                    font-family: mobile-set;
                    content: '\e884';
                    margin-left: 5px;
                    top: 1px;
                    position: relative;
                }
            }
        }
    }
}

.ellipsis() {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*list-views*/
@font-size: @font-size-base*1.571428571428571;

.products {
    /*padding-top: 10px;*/
}

.list-group {
    overflow: hidden;

    .list-group-item {
        @context-button-width: 70px;
        @context-button-count: 2;
        @move-index: @context-button-width*@context-button-count;

        position: relative;
        min-height: 52px;
        left: 0;
        border-radius: 0;
        margin-left: -@move-index;
        /*-moz-transition: left 0.12s ease-in-out;
        -o-transition: left 0.12s ease-in-out;*/
        -webkit-transition: 0.12s ease-in-out;
        transition: 0.12s ease-in-out;
        -webkit-transform: translate3d(0,0,1px);
        transform: translate3d(0,0,1px);
        overflow: hidden;
        padding: 8px 10px;
        

        /*&:last-child {
            margin-bottom:0;
        }*/
        &.btn-group-1 {
            margin-left: -70px;

            > a {
                margin-left: 70px;
            }

            &:focus {
                -webkit-transform: translate3d(70px,0,1px);
                transform: translate3d(70px,0,1px);
            }
        }

        &.btn-group-2 {
            margin-left: -140px;

            > a {
                margin-left: 140px;
            }

            &:focus {
                -webkit-transform: translate3d(140px,0,1px);
                transform: translate3d(140px,0,1px);
            }
        }

        &.btn-group-3 {
            margin-left: -210px;

            > a {
                margin-left: 210px;
            }

            &:focus {
                -webkit-transform: translate3d(210px,0,1px);
                transform: translate3d(210px,0,1px);
            }
        }

        &.btn-group-4 {
            margin-left: -280px;

            > a {
                margin-left: 280px;
            }

            &:focus {
                -webkit-transform: translate3d(280px,0,1px);
                transform: translate3d(280px,0,1px);
            }
        }

        &.btn-group-5 {
            margin-left: -350px;

            > a {
                margin-left: 350px;
            }

            &:focus {
                -webkit-transform: translate3d(350px,0,1px);
                transform: translate3d(350px,0,1px);
            }
        }

        .btn-group {
            position: absolute;
            overflow: hidden;
            white-space: nowrap;
            //negate the list-group-item paddings;
            margin-top: 0;
            margin-left: -10px;
            margin-right: 0;
            bottom: 0;
            font-size: 0;
            height: 100%;
            z-index: 2;
            //width and height
            .btn {
                font-size: 11px;
                float: none;
                .square(@context-button-width);
                //height: 59px;
                border-radius: 0;
                border-width: 0;
                height: 100%;

                .icon {
                    font-family: mobile-set;
                    color: #fff;
                    font-style: normal;
                }

                span {
                    color: #fff;
                }

                &.btn-gray {
                    background: #9198A3;
                }

                &.btn-green {
                    background: #6B8F00;
                }

                &.btn-green-light {
                    background: #99CC00;
                }

                &.btn-red {
                    background: #FF4D4D;
                }

                &.btn-blue {
                    background: #7EB7CD;
                }

                &:hover, &:focus, &:active {
                    border: none;
                }

                .icon {
                    font-size: 20px;
                }

                .context-label {
                    .font-condensed;
                    display: block;
                    text-transform: uppercase;
                    position: absolute;
                    bottom: 4px;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }
        }
        /*&:focus, &.active {
            left: @move-index;
        }*/
        &-heading {
            margin-left: 0;
            margin-bottom: 0;
            border: none;
            color: #000;
            .font-light;
            font-size: 24px;
            text-align: center;
            height: auto;
            padding-top: 0;
            margin-top: 20px;
            min-height: initial !important;

            h2 {
                .font-light;
                font-size: inherit;
            }

            &:first-child {
                margin-top: 15px;
            }



            .av-balance {
                margin: 0 auto;
                max-width: 300px;

                > span {
                    display: inline-block;
                }

                .change-ccy {
                    display: inline-block;

                    .dais-dropdown {
                        color: inherit;
                        background-color: transparent;
                        border: 0;
                        border-radius: 0;
                        padding: 5px;
                        position: relative;
                        bottom: 3px;
                        border-left: 1px solid #e1e1e1;
                        display: inline-block;

                        > span {
                            font-size: 22px;
                            color: #A3A3A3;
                        }

                        i {
                            display: inline-block;
                            font-size: 22px;
                            color: #A3A3A3;

                            &:before {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
        // ripple effect and row coloring
        .ripple-effect {
            background-color: #F3F3F3;
        }

        &:nth-child(2n+1):not(.list-group-item-heading) {
            background-color: #F3F3F3;

            .ripple-effect {
                background-color: #FFF;
            }
        }
        // Link items

        //flex
        .list-group-item-inner {
            display: flex;
            //width: 100%;
            justify-content: space-between; 

            .description {
                display: flex;
                flex-shrink:300;
                flex-wrap: wrap;

                span {
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: block;
                      width: 100%;
                      line-height: 1.34;

                      &.prodname {
                            font-size: 18px;
                            font-family: @font-family-light;
                            .ellipsis();
                            display: block;
                        }

                        &.secondarylabel {
                            font-family: "RobotoCondensed-Bold";
                            font-weight: 700;
                            font-style: normal;
                            font-size: 11px;
                            text-transform: uppercase;
                            margin-right: 2px;
                            .ellipsis();
                        }

                }
            }

             > span {
                display: flex;
                //min-height: 3em;
                align-items: center;
                
                white-space:nowrap;
                color: #585858;

                &.value {
                    //float: right;
                    .font-condensed;
                    //line-height: 38px;
                    font-size: 20px;

                    //flex
                    flex-grow:300;
                    justify-content: flex-end;
                }

                &.ccy {
                    .font-regular;
                    font-size: 14px;
                    color: #585858;
                    margin-top: 4px;
                    margin-left: 4px;
                    justify-content: flex-end;
                }
            }

        }

        //old
        /*> a {
            //display: block;
            text-decoration: none;
            margin-left: @move-index;
            overflow: hidden;

            span {
                color: #585858;

                &.prodname {
                    font-size: 20px;
                    font-family: @font-family-light;
                    line-height: 25px;
                    .ellipsis();
                    display: block;
                    max-width: 57%;
                    float: left;
                }

                &.secondarylabel {
                    clear: left;
                    float: left;
                    font-family: "RobotoCondensed-Bold";
                    font-weight: 700;
                    font-style: normal;
                    line-height: 15px;
                    font-size: 11px;
                    text-transform: uppercase;
                    margin-right: 2px;
                    .ellipsis();
                    max-width: 57%;
                }

                &.ccy {
                    float: right;
                    .font-condensed;
                    line-height: 42px;
                    text-shadow: 1px 1px #FFF;
                    font-size: 14px;
                    margin-left: 5px;
                    color: #585858;
                }

                &.value {
                    float: right;
                    .font-condensed;
                    line-height: 38px;
                    font-size: 20px;
                }
            }
        }


        span {
            //color: #585858;
            &.prodname {
                font-size: 22px;
                .font-light;
                line-height: 40px;
                .ellipsis();
                display: block;
                max-width: 57%;
                float: left;
            }

            &.ccy {
                float: right;
                .font-condensed;
                line-height: 42px;
                text-shadow: 1px 1px #FFF;
                font-size: 14px;
                margin-left: 5px;
                color: #727272;
            }

            &.value {
                float: right;
                .font-condensed;
                line-height: 40px;
                font-size: 20px;
            }
        }*/

        &.debit {
            .value {
                color: #FF4D4D;
            }
        }
    }
    // Non-link items
    &.info {
        .list-group-item {
            margin-left: 0;
            overflow: hidden;
            height: auto;

            > a {
                margin-left: 0;
            }

            label {
                font-size: 16px;
                .font-light;
                line-height: 40px;
                .ellipsis();
                display: block;
                max-width: 57%;
                float: left;
                margin-bottom: 0;
                line-height: 1.2;
            }

            .value {
                float: right;
                .font-bold;
                line-height: 42px;
                font-size: 18px;

                &.value-block {
                    float: none;
                    clear: both;
                    display: block;
                    line-height: 1;
                }
            }
        }
    }
    // Non-link items
    &.list-group-pmt {
        .list-group-item {
            /*margin-left: 0;
            overflow: hidden;*/
            span {
                //color: #585858;
                &.prodname {
                    font-size: 18px;
                    line-height: normal;
                    .font-light;
                    //line-height: 40px;
                    .ellipsis();
                    display: block;
                    max-width: 57%;
                    float: left;
                    margin-bottom: 0;
                    color: #BB8C3D;
                }

                &.ccy {
                    align-items: baseline;
                    color: #727272;
                }

                &.value {
                    .font-condensed;
                    position: absolute;
                    right: 40px;
                    top: 10px;
                    line-height: 1;
                }

                &.secondarylabel {
                    clear: both;
                    float: left;
                    .font-condensed;
                    //line-height: 38px;
                    //font-size: 20px;
                    color: #585858;

                    .payer, .payee {
                        /*color:#525252;*/
                    }
                }
            }

            .additional-info {
                width:100%;
                //clear:both;
                span {
                    width:auto;
                }

                .secondarylabel {
                    clear: none;
                    color: #999;
                    margin-right: 2px;

                    &.payer, &.payee {
                        color: #585858;
                    }
                }
            }

            .alert {
                margin: 0;
                padding: 0;
                padding-top: 4px;
                clear: both;
                font-size: 12px;

                &:before {
                    display: none;
                }
            }
        }
    }
    // Label / value list-group
    &.label-value {
        .list-group-item {
            margin-left: 0;
            overflow: hidden;
            height: auto;
            min-height: 64px;

            > a {
                margin-left: 0;
            }

            label {
                font-size: 16px;
                .font-light;
                line-height: 40px;
                .ellipsis();
                display: block;
                max-width: 55%;
                float: left;
                margin-bottom: 0;
                line-height: 44px;
            }

            .value {
                float: right;
                .font-bold;
                line-height: 44px;
                font-size: 18px;

                &.value-block {
                    float: none;
                    clear: both;
                    display: block;
                    line-height: 1;
                }
            }
        }
    }
    // Context menu coloring and icons
    /*&#accountsLitView {
        .list-group-item:focus, .list-group-item.active {
            left: 120px;
        }
    }*/
    &#accountsLitView {
        .list-group-item-heading {
            color: #6B8F00;
            border-bottom: 2px solid #6B8F00;
        }

        .prodname {
            color: #6B8F00;
        }
    }

    &#depositsListView {
        .list-group-item-heading {
            color:#0092bc;
            border-bottom: 2px solid #0092bc;
        }

        .prodname {
            color:#0092bc;
        }
    }

    &#rpccardsListView {
        .list-group-item-heading {
            color: #00c7b1;
            border-bottom: 2px solid #00c7b1;
        }

        .prodname {
            color: #008E7E;
        }
    }

    &#facilitiesListView {
        .list-group-item-heading {
            color: #e57200;
            border-bottom: 2px solid #e57200;
        }

        .prodname {
            color: #A15000;
        }

        .list-group-item {
            span.prodname {
                line-height: 38px;
            }
        }

        .list-group-item a.warning {
            span.prodname {
                color: #FF4D4D;

                &:before {
                    font-family: mobile-set;
                    content: '\e83d';
                    margin-right: 5px;
                }
            }
        }
    }
}

.list-group-block {

    .list-group-item {

        label {
            max-width: 100% !important;
            float: none !important;
            line-height: 1.4 !important;
            white-space: normal !important;
        }

        .value {
            float: none !important;
            line-height: 1.4 !important;

            &.number {
                //line-height: 1.8 !important;
            }
        }
    }
}

/* Icons defined by page controller */

//Products page
.controller-products {
    h2 {
        margin-top: 0;
    }

    .btn-gray {

        .icon {
            &:before {
                content: '\e883';
            }
        }
    }

    .btn-green {

        .icon {

            &:before {
                content: '\e837';
            }
        }
    }

    .btn-green-light {

        .icon {
            &:before {
                content: '\e883';
            }
        }
    }

    .btn-red {

        .icon {
            &:before {
                content: '\e883';
            }
        }
    }

    .btn-blue {

        .icon {
            &:before {
                content: '\e82f';
            }
        }
    }
}

// Account details - debit cards tab

.action-debitcardslist {

    .ccy, .value {
        display: none;
    }

    .prodname, .secondarylabel {
        max-width: 100% !important;
    }

    .btn-blue {

        .icon {
            &:before {
                content: '\e82f';
            }
        }
    }
}

/* Header panel (strange background thing at the top)  */
.panel {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    position: relative;
}

.panel-header {
    background-image: url("../../images/background/bg-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*height: 175px;*/
    overflow: hidden;
    margin-bottom: 0;
    /*-webkit-animation: bgPos 60s ease infinite;
    -moz-animation: bgPos 60s ease infinite;
    animation: bgPos 60s ease infinite;*/
    &.panel-blue {
        background-image: url("../../images/background/bg-1.jpg");
    }

    &.panel-green {
        background-image: url("../../images/background/bg-2.jpg");
    }

    &.panel-grey {
        background-image: url("../../images/background/bg-6.jpg");
    }

    &.panel-brown {
        background-image: url("../../images/background/bg-3.jpg");
    }

    &.panel-lightblue {
        background-image: url("../../images/background/bg-5.jpg");
    }

    &.panel-orange {
        background-image: url("../../images/background/bg-4.jpg");
    }


    @-webkit-keyframes bgPos {
        0% {
            background-position: 100% 0%;
        }

        50% {
            background-position: 0% 100%;
        }

        100% {
            background-position: 100% 0%;
        }
    }

    @-moz-keyframes bgPos {
        0% {
            background-position: 100% 0%;
        }

        50% {
            background-position: 0% 100%;
        }

        100% {
            background-position: 100% 0%;
        }
    }

    @keyframes bgPos {
        0% {
            background-position: 100% 0%;
        }

        50% {
            background-position: 0% 100%;
        }

        100% {
            background-position: 100% 0%;
        }
    }

    .overlay {
        background-image: url("../../images/logo-overlay.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        /*position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;*/
        padding-top: 30px;
        padding-bottom: 30px;
    }

    h2 {
        color: #fff;
        text-align: center;
        font-size: 26px;
        .font-thin;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .value {
        color: #fff;
        text-align: center;
        display: block;
        font-size: 26px;
        .font-thin;
        margin-top: -5px;
    }

    .shortdescr {
        color: #fff;
        text-align: center;
        display: block;
        .font-condensed;
        font-size: 11px;
        text-transform: uppercase;
        width: 80%;
        margin: 0 auto;

        em {
            color: rgba(238, 238, 238, 0.8);
            font-style: normal;
        }
    }

    hr {
        margin: 5px auto;
        width: 150px;
        opacity: 0.8;
    }

    .glyphicon-chevron-left, .glyphicon-chevron-right {
        position: absolute;
        top: 40%;
        left: 25px;
        margin-top: -10px;
        color: #fff;
        font-size: 1.4em;
        display: none;
    }

    .glyphicon-chevron-right {
        right: 25px;
        left: auto;
    }

    .steps-indicator {
        border: 1px solid #eee;
        overflow: hidden;
        margin: 0 auto;
        line-height: 0;
        width: 167px;
        height: 11px;
        padding: 1px;
        margin-bottom: 10px;

        div {
            width: 40px;
            height: 7px;
            float: left;
            margin: 0;
            margin-right: 1px;
            background: rgba(238, 238, 238, 0.45);
            line-height: 0;
            padding: 0;

            &:last-child {
                margin-right: 0;
            }
        }

        &.step1 {
            div:first-child {
                background: rgba(238, 238, 238, 0.85);
            }
        }

        &.step2 {
            div:first-child, div:nth-child(2) {
                background: rgba(238, 238, 238, 0.85);
            }
        }

        &.step3 {
            div:first-child, div:nth-child(2), div:nth-child(3) {
                background: rgba(238, 238, 238, 0.85);
            }
        }

        &.step4 {
            div {
                background: rgba(238, 238, 238, 0.85);
            }
        }
    }
}

// Table styles

table {
    width:100%;

    td {
        padding:5px;
        vertical-align:middle;
    }
}

/* Product Details pages */

// Account details

.controller-accountoverview {
    .panel-header {
        .overlay {
            padding-bottom: 50px;
        }
    }
}


.controller-accountmovements {

    .additional-info {

        .secondarylabel {
            float: none;
            clear: both;
        }
    }
}

// Card details

.controller-carddetails {
    .panel-header {
        .overlay {
            padding-bottom: 60px;
        }
    }
}


// Loan details

.controller-facilitiesdetails {
    .panel-header {
        .overlay {
            padding-bottom: 54px;
        }
    }

    .alert-warning {
        color: #FF4D4D;
        margin: 15px 5px -10px;
    }

    #submenu > .btn-group {
        /*position:absolute;
        top:200px;
        margin:0;*/
    }
}


// Payments
.controller-viewpayments {
    .panel-header {
        .overlay {
            padding-bottom: 50px;
        }
    }

    .list-group-item {



    }

    .btn-gray {

        .icon {

            &:before {
                content: '\e83a';
            }
        }
    }

    .btn-green {
        // multiple line label
        > span {
            white-space: normal;
            line-height: 11px;
        }

        .icon {

            &:before {
                content: '\e844';
            }
        }
    }

    .btn-green-light {

        .icon {
            &:before {
                content: '\e841';
            }
        }
    }

    .btn-red {

        .icon {
            &:before {
                content: '\e842';
            }
        }
    }

    .btn-blue {

        .icon {
            &:before {
                content: '\e843';
            }
        }
    }
}

/* Overview page charts */

.controller-overview {

    h2 {
        text-align:center;
    }

    hr {
        opacity:1
    }

    #overviewDonutChart {
        min-width:320px;
        max-width:400px;
        margin:10px auto;

        .dxc-tooltip {

            tspan:nth-child(2) {
              fill: #444;
              baseline-shift: -4px;
            }

        }

        .dxc-legend {

            .dxc-item {
                tspan:nth-child(2) {
                  baseline-shift: -4px;
                }
            }

            .dxc-item:first-child  {
                tspan:first-child {
                  fill:#6B8F00;
                }
            }

            .dxc-item:nth-child(2)  {
                tspan:first-child {
                  fill: #00c7b1;
                }
            }

            .dxc-item:last-child  {
                tspan:first-child {
                  fill:#0092bc;
                }
            }
        }

        /*&:before {
            content:'AVAILABLE BALANCE';
        }*/

    }

    .total-amt {
          position: absolute;
          top: 145px;
          text-align: center;
          left: 50%;
          width: 160px;
          margin-left: -80px;
          z-index: -1;

          h2 {
              font-size:26px;
              margin:0;

              em {
                  color:#666;
              }
          }

          span {
              display: block;
              .font-condensed;
              line-height: 15px;
              font-size: 11px;
              text-transform: uppercase;
              white-space: nowrap;
              color: #898989;
          }

    }

    #overviewBarChart {

        .dxc-labels {

            /*text {
                transform: translate(0,-15px);
            }

            tspan {
                  //fill: #444;
                  fill: #333;
                  
                  font-size: 12px;
                  
            }

            tspan:first-child {
                  fill: #33B4E5;
                  baseline-shift: 0;
                  //baseline-shift: 0;
                  //transform: translate(74px,0px);
            }*/
        }

    }

}
/* Messages */

.messages {

    .list-group-item {

        &.critical {
            border-left: 8px solid #FF4D4D;
        }

        &.warning {
            border-left: 8px solid #FFBB33;
        }

        &.info {
            border-left: 8px solid #33B5E5;
        }

        & > a {
            margin-left: 0;

            span.prodname {
                max-width: 100%;
                white-space: normal;
            }
        }
    }
}

// Tabs
#submenu {

    > .btn-group {
        margin-top: -38px;

        .btn {
            background: rgba(204, 204, 204, 0.15);
            color: #fff;
            text-align: center;
            .font-condensed;
            font-size: 12px;
            text-transform: uppercase;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
            border-top: 3px solid transparent;
            border-radius: 0;
            padding: 8px 2px 10px;
            z-index: 1;

            &.active {
                border-top: 3px solid #DFA94E;
                color: #BB8C3D;
                background: #fff;
            }
        }
    }

    #submenu_container {
        /*margin-top: 20px;*/
    }
}

// CCY converter

.controller-ccyrates {
    background: rgba(204, 204, 204, 0.15);

    .form-group {
        margin-bottom: 10px;
        text-align: center;
    }

    h2 {
        display: inline-block;
        margin: 20px auto 5px auto;
        background-repeat: no-repeat;
        background-position: 0 -2px;
        padding-left: 30px;
        font-size: 19px;
    }

    .list-group-item-heading {
          display: block;
          width: 70px;
          margin: 10px auto 0px auto !important;
          background-repeat: no-repeat;
          background-position: 0 2px;
          padding: 0 0 0 30px !important;
          font-size: 19px;
          min-height: 40px;
          color: #BB8C3D;
        }


    /* Flag icons thanks to www.icondrawer.com */
    .BGN {
        background-size: 24px;
        .img-retina('../../images/flags/bg.png','../../images/flags/bg.png',24px, 24px);
    }

    .EUR {
        background-size: 24px;
        .img-retina('../../images/flags/eu.png','../../images/flags/eu.png',24px, 24px);
    }

    .USD {
        background-size: 24px;
        .img-retina('../../images/flags/usa.png','../../images/flags/usa.png',24px, 24px);
    }

    .GBP {
        background-size: 24px;
        .img-retina('../../images/flags/uk.png','../../images/flags/uk.png',24px, 24px);
    }

    .CHF {
        background-size: 24px;
        .img-retina('../../images/flags/sw.png','../../images/flags/sw.png',24px, 24px);
    }
}

.ccyclac {
}

#submenu.page-ccy {
    margin-top: 15px;
    background: transparent;

    .panel {
        background: #fff;
    }

    .btn-group {
        margin-top: 0;

        .btn {
            background: transparent;
            color: #666;

            &.active {
                border-top: 3px solid #DFA94E;
                color: #BB8C3D;
                background: #fff;
            }
        }
    }

    .list-group-item {
        label {
            max-width: 75%;
        }
    }

    .list-group-item-heading {
        margin-top: 0;
        padding-top: 20px;
    }
}

// Filter panel

.panel-filter {
    //background: #f3f3f3;
    padding: 10px;
    margin: 10px !important;
    border-radius: 2px;
    //border: 1px solid #ccc;
    .form-group {
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 5px;
    }

    .account-simple {
        margin-bottom: 10px;
    }

    .simple-filter {
    }

    .advancedFilter {
        /*border-top:1px solid #ccc;
        background:#f7f7f7;*/
        height: 100%;
        max-height: 0;
        overflow: hidden;
        -moz-transition: max-height 0.2s ease-in-out;
        -o-transition: max-height 0.2s ease-in-out;
        -webkit-transition: max-height 0.2s ease-in-out;
        transition: max-height 0.2s ease-in-out;

        &.open {
            max-height: 250px;
        }

        .btn-payer {
            width: 180px;
            margin: 0 auto;
            display: block;
        }

        .col-xs-6 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .btn-search {
    }

    .advanced-filter-toggler {
        background:#fff;

        span:before, i:before {
            margin: 0;
        }
    }

    .form-group-buttons {
        margin-bottom: 20px;
    }
}

// Payments

#submenu.payments {
    .panel-header {
        /*padding-bottom:30px;*/
    }

    > .btn-group {
        position: absolute;
        top: 125px;
        margin-top: 0;
        z-index: 1;
    }

    .panel-filter {
        margin: 0;
        position: relative;
        overflow: hidden;

        .btn-block {
            width: 200px;
            margin: 10px auto;
        }
    }
}




// payer picker / filter by account

/*.my-accounts {

        .list-group-item {
            margin-left: -100px;

            > a {
                margin-left:120px;

                &:before {
                    font-family: mobile-set;
                    content: '\e863';
                    position: absolute;
                    left: 117px;
                    top: 20px;
                    color: #777;
                }
            }

            &.all-accounts {
              margin-bottom: 20px;
            }

        }

        

        .list-group-item.selected {
            margin-left: -100px;
            background:#D89F45 !important;
            color: #fff;

            > a {

                &:before {
                    font-family: mobile-set;
                    content: '\e878';
                    position: absolute;
                    left: 109px;
                    top: 14px;
                    color: #fff;
                    font-size: 22px;
                }

                > span {
                    color: #fff;
                    text-shadow: none;
                }
            }
        }

        .list-group-item-heading {
            color: #BB8C3D;
            margin-left: 0;
            font-size: 1.4em;
        }
    }*/

// Payment wizard
.pmtwizard {

    &.step-2 {

        .panel-header .overlay {
            padding-bottom: 60px;
        }
    }

    h1 {
        color: #BB8C3D;
        text-align: center;
        font-size: 1.4em;
        .font-light;
    }

    .btn-payer {
        width: 180px;
        margin: 10px auto;
        display: block;
    }

    .wizardbody {

        hr {
            opacity: 1;
            width: 200px;
            margin: 10px auto;
        }

        .account-simple {
            margin-bottom: 0;
        }

        h2 {
            text-align: center;
        }
    }

    .my-accounts {

        .list-group-item {
            margin-left: -100px;

            > a {
                margin-left: 125px;

                &:before {
                    font-family: mobile-set;
                    content: '\e863';
                    position: absolute;
                    left: 117px;
                    top: 20px;
                    color: #777;
                }
            }
        }



        .list-group-item.selected {
            margin-left: -100px;
            background: #D89F45 !important;
            color: #fff;

            > a {

                &:before {
                    font-family: mobile-set;
                    content: '\e878';
                    position: absolute;
                    left: 109px;
                    top: 14px;
                    color: #fff;
                    font-size: 22px;
                }

                > span {
                    color: #fff;
                    text-shadow: none;
                }
            }
        }

        .list-group-item-heading {
            color: #BB8C3D;
            margin-left: 0;
            font-size: 1.4em;
        }
    }



    .select-payee {
        /*margin-top:20px;*/
        h1 {
            margin-bottom: 25px;
        }

        .btn-loadbeneficiary {
            width: 200px;
            margin: 20px auto 10px;

            i {
                margin-right: 5px;
            }
        }

        a {
            /*color: #444;
            display: block;
            margin: 0 auto;
            width: 80%;
            position:relative;
            font-size: 26px;
            padding-right: 10px;

            &:focus {
                background:#f7f7f7;
            }*/
            .payee-title {
                .font-light;
                font-size: 22px;

                em {
                    color: #B28439;
                    font-style: normal;
                }
            }

            .subtext {
                .font-condensed;
                display: block;
                line-height: 15px;
                font-size: 11px;
                text-transform: uppercase;
                color: #777;
                margin-left: 4px;
            }

            .i-right-open-big {
                position: absolute;
                right: -10px;
                top: 50%;
                margin-top: -10px;
                font-size: 20px;
                color: #777;
            }
        }

        hr {
            opacity: 1;
        }
    }
}

// Picker popups

.daispopup {
    /*position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../../images/background/bg-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    height: auto;
    overflow: auto;
    margin-bottom: 0;
    padding-top:50px;*/
    .btn-close {
        .font-thin;
        font-size: 30px;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1090;
        padding: 0;
    }

    footer {
        //background: #7B5524;
    }
    // fix for payment previews
    .list-group-item {

        &.all-accounts {
            margin-bottom: 20px;

            & > a > span {
                overflow: auto;
                max-width: 100%;
            }
        }

        &.selected {
            //background:#906731 !important;
        }

        > a {
            margin-left: 140px;
        }

        label {
            max-width: 100%;
        }
    }
}

.picker {
    height: 100%;


    .overlay {
    }

    h2 {
        .font-light;
        position: fixed;
        text-align: center;
        top: 0;
        right: 50px;
        left: 50px;
        padding-top: 0;
        margin: 0;
        color: #fff;
        line-height: 48px;
        font-size: 20px;
        //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        z-index: 1090;
    }

    .value {
        color: #fff;
        text-align: center;
        display: block;
        font-size: 2em;
        .font-thin;
        /*margin-top: -8px;*/
    }

    .shortdescr {
        color: #fff;
        text-align: center;
        display: block;
        .font-condensed;
        font-size: 11px;
        text-transform: uppercase;
        width: 80%;
        margin: 0 auto;

        em {
            color: rgba(238, 238, 238, 0.45);
            font-style: normal;
        }
    }

    hr {
        margin: 5px auto;
        width: 150px;
        opacity: 0.8;
    }

    .list-group {
        /*width: 98%;*/
        margin: 0 auto;
        margin-top: 20px;
    }
}

// Payment preview

.pmt-preview {
    h1 {
        .font-light;
        position: fixed;
        text-align: center;
        top: 0;
        right: 50px;
        left: 50px;
        padding-top: 0;
        margin: 0;
        color: #fff;
        line-height: 48px;
        font-size: 20px;
        //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        z-index: 1090;
    }

    hr {
        margin: 10px;
        display: none;
    }

    .shortdescr {
        color: #fff;
        text-align: left;
        display: block;
        .font-condensed;
        font-size: 11px;
        text-transform: uppercase;
        width: 80%;
        margin: 0;
        margin-bottom: 20px;
        margin-left: 5px;

        &.create-like {
            line-height: 11px;
            white-space: normal;
        }
    }

    .btn-close {
        top: 8px;
    }

    .list-group.label-value {

        .list-group-item {

            label {
                max-width: 100%;
                float: none;
                line-height: 1.6;
                white-space: normal;
            }

            .value {
                float: none;
                line-height: 1.2;
            }
        }
    }

    footer {
        .btn {
            padding: 0;

            i {
                font-size: 24px;
                display: block;
                margin: 0 auto;
            }

            .shortdescr {
                text-align: center;
                margin: 0 auto;
                margin-bottom: 5px;
            }
        }
    }
}

// Templates page

.controller-viewtemplates {
    .panel-header {
        /*height: 160px;*/
    }

    .form-group {
        width: 50%;
        margin-top: 10px;
        margin-bottom: 0;

        .btn {
            background: rgba(255,255,255,0.2);
            border-color: transparent;
            border-bottom: 2px solid rgba(255,255,255,0.4);
            border-left: 0;
            .font-condensed;
            font-size: 15px;
            text-transform: uppercase;
            margin-left: 0;
        }

        .form-control {
            background: rgba(204, 204, 204, 0.25);
            color: #fff;

            &:focus {
            }
        }
    }
}

// Load beneficiary popup

.beneficiaries-list {

    .list-group-item {
        /*margin-left: -100px;*/
        > a {

            &:after {
                font-family: mobile-set;
                content: '\e812';
                position: absolute;
                right: 10px;
                top: 20px;
                color: #777;
            }

            span {

                &.prodname {
                    max-width: 100%;
                    color: #BB8C3D;
                }
            }

            .additional-info {
                clear: both;

                span.secondarylabel {
                    clear: none;
                    color: #999;

                    &.iban, &.ccy-label {
                        color: #585858;
                    }
                }
            }
        }
    }
}

// Contacts
.action-contacts {
    .panel-header {

        h2 {
            font-size: 24px;
        }

        /*height: 145px;*/
    }
}

// Branches and ATM map

.controller-bankbranches {

    .page-title {
        display: none;
    }

    h2 {
        .font-light;
        position: fixed;
        text-align: center;
        top: 0;
        right: 50px;
        left: 50px;
        padding-top: 0;
        margin: 0;
        color: #fff;
        line-height: 48px;
        font-size: 20px;
        //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        z-index: 1090;
    }

}

.pac-container {
    z-index: 1050;
}

.pac-item {
    cursor: pointer;
    padding: 7px 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
    font-family: sans-serif;
    font-size: 12px;
    background: #fff;
    z-index: 1051;
}

.pac-item:nth-child(odd) {
    background: #f6f6f6;
}

.cluster div {
    color: #fff !important;
}

#bankBranches {
    /*padding-bottom:0 !important;*/
    margin-top: 0;
    overflow: visible !important;
    z-index: 1050;

    & > .gm-style {
        overflow: visible !important;
    }

    .filterContainer {
        top: -5px !important;
        width: 200px;
        background: #fff;
        //padding-top: 2px;

        p {
            margin: 10px;

            input[type=checkbox] {
                display: none;
            }

            input[type=checkbox] + label {
                .font-condensed;
                font-size:12px;
                text-transform:uppercase;
                padding-left:6px;
                margin-bottom: 0;

                &:before {
                    font-family:mobile-set;
                    content: '\e863';
                    margin-right: 13px;
                    font-size: 14px;
                    color: #ccc;
                }

            }

            input[type=checkbox]:checked + label {
                padding-left:0;

                &:before {
                    font-family:mobile-set;
                    content: '\e877';
                    margin-right: 8px;
                    font-size: 14px;
                    color: #106F10;
                }

            }
        }
    }

    .container-search {
        margin-top: -48px;

        .searchDiv {
            width: 260px;
            margin-right: 5px;
        }

        .form-control {
              color: #656565;
              background-color: #fff;
              border: none;
              margin-top: 2px;

            &::-webkit-input-placeholder {
                color: #656565;
            }
        }

        .btn {
            color: #fff;
            font-size: 18px;
        }
    }

    #submenu {
        margin-top: -48px;

        & > .btn-group {
            margin-top: 0;
            width: 200px;

            .btn {
                font-size: 14px;
                padding: 10px 2px;
                background: transparent;

                &.active {
                    background: #fff;
                }
            }
        }
    }

    #centerOnMe {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        padding: 0;
        text-align: center;
        padding-top: 9px;
        margin-right: 10px;
        margin-bottom: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.55);

        .i-location:before {
            font-size: 28px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
        }
    }

    .infoBox {
        padding: 10px;
        opacity: 1 !important;

        h4 {
            margin-top:0;
            
        }

        p {
            font-size: 14px;
            color: #646060;
        }

    }

}
