<span class="prodname" data-bind='text: $data.MovementDescription'></span>
<span class="secondarylabel" style="clear:both;" data-bind="text: jQuery.GetResString('ID_STR_DATE') + ': '"></span>
<span class ="secondarylabel" style="color: #585858;" data-bind='text: jQuery.format.date($data.MovementPostDate)'></span>

    <span class="secondarylabel" style="clear:both;" data-bind="text: jQuery.GetResString('ID_STR_PAYMENT_VALUE_DATE') + ': '"></span>
    <span class="secondarylabel" style="color: #585858;" data-bind="text: jQuery.format.date($data.MovementValueDate)"></span>

    <span class="secondarylabel" style="clear:both;color: #585858;" data-bind="text: Reference"></span>
