<div class="panel panel-header panel-orange">
    <div class="overlay">
        <h2 class="account-name">{{>BankCard.BankCardNumber}}</h2>

        <div class="shortdescr">
            <span data-bind="text: jQuery.GetLocalizedString(BankCard.BankCardType.Description)"></span>
            <span>{{>BankCard.BankAccount.IBAN}}</span>
        </div>
        <hr />
        <span class="value">
            {{if BankCard.BankAccount.BankAccountBalances}}
                {{>~format.number(BankCard.BankAccount.BankAccountBalances[0].AvailableBalance)}}
            {{/if}}
            {{>BankCard.CCY.SWIFTCode}}
        </span>

    </div>

</div>

<div id="submenu" data-role="content" data-bind="submenu: Submenu" />

