<div id='movements_filter' class="panel panel-filter"> 
    
    <div class="form-group row">
        <div class="col-xs-6">
            <h2 for='dateStart'>{{:~GetString("ID_STR_FROM")}}</h2>
            {{InputDate #data id='dateStart' class='form-control' data_bind='datePickerValue: MovementsFilter.Period.DateStart' /}}
            <span class="validation-msg" data-bind="validationMessageFor: 'MovementsFilter.Period.DateStart'" />
        </div>

        <div class="col-xs-6">
            <h2 for='dateEnd'>{{:~GetString("ID_STR_TO")}}</h2>
            {{InputDate #data id='dateEnd' class='form-control' data_bind='datePickerValue: MovementsFilter.Period.DateEnd' /}}
            <span class="validation-msg" data-bind="validationMessageFor: 'MovementsFilter.Period.DateEnd'" />
        </div>
    </div>
        <div class="form-group">
            <a class="btn btn-primary btn-block" href='#' data-role='button' data-theme='b' data-bind='clickWithEffect: find'>{{:~GetString("ID_STR_SEARCH")}}</a>
        </div>
    </div>

<div class="panel" style="margin-top: 10px;">
    <ul class='list-group info list-group-pmt' id='movementsResult'>
        <li class='list-group-item-heading' data-bind="visible: Movements().length > 0">{{:~GetString('ID_STR_ACCOUNT_MOVEMENTS')}}</li>
	    <!-- ko foreach: $root.Movements -->
            <li class="list-group-item" tabindex="1" style="height:auto" data-bind="css: $data.MovementType == 0 ? 'debit' : 'credit',
                component: {
                    name: 'name-amount-ccy-label',
                    params: {
                        CCY: $data.MovementCCY,
                        value: jQuery.format.number($data.MovementAmount),
                        additionalInfoTmpl: { Template: require('text!Mobile/Templates/Cards/CardMovementAdditionalInfoTemplate.html'), Data: $data }
                    }
            }">
            </li>
        <!-- /ko -->
        <!-- ko if: isLoaded() == true && Movements().length == 0 -->
            <div class="alert alert-info nodata">
                {{>~GetString("ID_STR_NO_MOVEMENTS")}}
            </div>
        <!-- /ko -->
    </ul>
</div>