<div class="btn-group btn-group-justified" data-role="navbar" data-id="{{>ID}}" data-bind="css: IsLoading() ? 'submenu-loading' : ''">
    {{for Items }}
        <!--ko with: $root.Items[{{:#index}}] -->
            <a href="javascript:void(0);" class="btn" data-bind="css: liCss, clickWithEffect: $parent.ClickHandler">
                {{>Label}}
            </a>
        <!--/ko -->
    {{/for}}
</div>
<div id="{{>ID}}_container">&nbsp;</div>