 <div class="form-group">
    <h2 for="bankeExpenses" >{{:~GetString("ID_STR_PAYMENT_BANK_EXPENSES")}}</h2>
    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
        data: { options: AdditionalViewData.ExpensesOptions, optionsText: 'Value', value: AdditionalViewData.SelectedExpenses }
    }"></div>
</div>