<div class="form-group">
    <h2 for="paymentAccountPicker">{{:~GetString("ID_STR_PAYEE_VALUE_DATE")}}</h2>
    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
        data: { options: AdditionalViewData.ValueDateOptions, optionsText: 'Value', value: AdditionalViewData.SelectedValueDate }
    }"></div>
</div>

<div class="form-group">
    <h2 for="Direction">{{:~GetString("ID_STR_PAYMENT_DIRECTION")}}</h2>
    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
        data: { options: AdditionalViewData.DiretionOptions, optionsText: 'Value', value: AdditionalViewData.SelectedDirection }
    }"></div>
</div>