﻿<nav class="navbar navbar-fixed-top" id="navbar"></nav>
<div class="picker">
    <div class="overlay">
        <h2>{{:~GetString("ID_STR_CHOOSE_BANK_CLIENT")}}</h2>
        <a class="btn btn-sm btn-close" data-bind="clickWithEffect: Close"><i class="i-left-open"></i></a>
          
        <ul class='list-group'>
        <!-- ko foreach: BankClients -->
          <li class="list-group-item" tabindex="1"  >                
                <a class="list-group-item-inner" data-bind="clickWithEffect: $parent.SelectBankClient, css: ($parent.SelectedBankClient() && $parent.SelectedBankClient().BankClientID == BankClientID) ? 'selected' : ''">
                    <div class="description">
                        <span class="prodname" data-bind="text: NAME"></span>
                        <span class="secondarylabel" data-bind="text: BankClientID"></span>    
                    </div>
                </a>                
            </li>           
        <!-- /ko -->

        </ul>
    </div>
</div>