﻿<div class="panel-body available-funds">
    <h3>{{>~GetString('ID_STR_AVAILABLE_FUNDS')}}</h3>

    <div class="input-group input-group-lg" data-bind="with: OverviewSum">
        <span data-bind="text: $.format.number(Amount())" class="input-group-addon">no data</span>
        <div data-bind="partial: { data: { value: SelectedCCY, options: CCYs }, path: 'Common/DropDownList' }" class="input-group-btn">
        </div>
    </div>
</div>