<div id='movements_filter' class="panel"> 
    
    <ul class='list-group' id='movementsResult'>
        <li class="list-group-item-heading">{{:~GetString("ID_STR_ACCOUNT_MOVEMENTS_BLOCKS")}}</li>
	        <!-- ko foreach: $root.Movements -->
	        <li class="list-group-item" data-bind='attr: { "class" : ($data.MovementType == 0 ? "debit": "credit") }'>

                <span class='prodname' data-bind='text: $data.OurSideAccount'></span>
                <span class='ccy' data-bind='text: $data.CCY.SWIFTCode'> </span>
		        <span class='value' data-bind='text: jQuery.format.number($data.MovementAmount)'> </span>

                
                <span class='date secondarylabel' data-bind='text: jQuery.format.date($data.PaymentDate)'></span> 
                <div class="additional-info">
                    <span class='descr secondarylabel' data-bind='text: $data.Narrative'> </span>
                </div>
	        </li>
            <!-- /ko -->
    </ul>   
    <div class="alert alert-info nodata" data-bind="visible: $root.Loaded() && $root.Movements().length == 0">
        {{:~GetString("ID_STR_NO_RESULTS")}}
    </div>
</div>