﻿
<div class="btn btn-secondary btn-block btn-loadbeneficiary" data-bind="clickWithEffect: GetBeneficiariesHandler"><i class="i-upload"></i>{{>~GetString("ID_STR_LOAD_BENEFICIARY")}}</div>
<hr />

<h1>{{>~GetString("ID_STR_PAYMENT_BENEFICIARY_DETAILS")}}</h1>

<div class="form-group">
    
    <label for="BeneficiaryName">{{>~GetString("ID_STR_BENEFICIRAY_NAME")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: BeneficiaryInput().BeneficiaryName, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'BeneficiaryInput.BeneficiaryName'" />
</div>

<!--<label for="BeneficiaryAddress">{{:~GetString("ID_STR_BENEFICIRAY_ADDRESS")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: BeneficiaryInput().BeneficiaryAddress, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'BeneficiaryInput.BeneficiaryAddress'" />-->
<div class="form-group">
    <label for="AccountType">{{:~GetString("ID_STR_BENEFICIRAY_ACCOUNT_TYPE")}}</label>
    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
        data: {
            value: AccountType,
            options: [
                { value: Types.AccountTypes.Home, text: jQuery.GetResString('ID_STR_BENEFICIRAY_ACCOUNT_TYPE_HOME') },
                { value: Types.AccountTypes.Foreign, text: jQuery.GetResString('ID_STR_BENEFICIRAY_ACCOUNT_TYPE_FOREIGN') }
            ],
            optionsText: 'text',
            optionsValue: 'value'
        }
    }">
    </div>
    <span class="validation-msg" data-bind="validationMessageFor: 'BeneficiaryAccountInput'" />
    <span class="validation-msg" data-bind="validationMessageFor: 'AccountType'" />
</div>

<div id="AccountContainer" data-bind="displayFor: { path: 'Beneficiary/EditAccounts/', data: AccountViewModel }">
</div>