<div data-role="content">
    <div class="panel panel-header panel-grey">
        <div class="overlay">
            <h2 class="account-name" data-bind="text: jQuery.GetLocalizedString(BankFacility.FacilityType.Description)"></h2>

            <span class="shortdescr"></span>
            <hr />
            <span class="value">
                {{>~format.number(BankFacility.FacilityAmount)}}
                {{>BankFacility.FacilityCCY.SWIFTCode}}
            </span>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>

        </div>
    </div>
    <div id="submenu">
    </div>
</div>