﻿<div data-role="content">
    <div class="panel panel-header panel-orange">
        <div class="overlay">
            <h2 class="account-name">{{:~GetString('ID_STR_CONTACTS_BANK_TITLE')}}</h2>
            <hr />
            <span class="shortdescr"><em>{{:~GetString('ID_STR_ADDRESS')}}:</em> {{:~GetString('ID_STR_CONTACTS_BANK_ADDRESS')}}</span>
        </div>
    </div>

    <ul class="list-group info label-value list-group-block">
        <li class="list-group-item"><label>{{:~GetString('ID_STR_PHONE')}}: </label><a href="tel:+359291985101" class="value number">+359291985101</a></li>
        <li class="list-group-item"><label>{{:~GetString('ID_STR_FAX')}}: </label><a href="fax:+35929434528" class="value number">+35929434528</a></li>
        <li class="list-group-item"><label>SWIFT/BIC: </label><span class="value">RZBBBGSF</span></li>
        <li class="list-group-item"><a class="value" href="http://www.rbb.bg" target="_blank">www.rbb.bg</a></li>

        <li class="list-group-item list-group-item-heading">IT Help Desk</li>

        <li class="list-group-item">
            <label>{{:~GetString('ID_STR_PHONES')}}: </label>
            <span class="value value-block"><a href='tel:070010000' class="number">070010000 (Vivacom)</a></span>
            <span class="value value-block"><a href='tel:1721' class="number"> 1721 (M-tel {{:~GetString('ID_STR_AND')}} Globul)</a></span>
            <span class="value value-block"><a href='tel:+3592861066' class="number">+35928610666</a></span>
        </li>

        <li class="list-group-item"><label>{{:~GetString('ID_STR_FAX')}}: </label><a href="fax:+35929628350" class="value number">+35929628350</a></li>

        <li class="list-group-item"><label>E-mail: </label><a href="mailto:help.desk@raiffeisen.bg" class="value mail">help.desk@raiffeisen.bg</a></li>
    </ul>
</div>
