{{for wizardStepsBefore}}
<div class="step prev">
<div class="stepid">{{>stepNumber}}</div>
<h1>{{>~GetLocalizedString(tittle)}}</h1>
<!--<h5>{{>~GetLocalizedString(description)}}</h5>-->
</div>    
{{/for}}