
<!--<div class="panel step current">


<h1><span class="stepid highlight">{{>currentStep.stepNumber}}</span> / 4 {{>~GetLocalizedString(currentStep.tittle)}}</h1>
<div class="message info">{{>~GetLocalizedString(currentStep.description)}}</div>

</div>-->    


<div class="panel panel-header panel-blue">
    <div class="overlay">
        <h2 class="account-name">{{>~GetLocalizedString(currentStep.tittle)}}</h2>
        <div class="steps-indicator step{{>currentStep.stepNumber}}">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <span class="shortdescr"><em>{{:~GetString("ID_STR_STEP")}} {{>currentStep.stepNumber}}/4:</em> {{>~GetLocalizedString(currentStep.description)}}</span>
        <!--<hr />-->
        <!--<span class="glyphicon glyphicon-chevron-left"></span>
        <span class="glyphicon glyphicon-chevron-right"></span>-->

    </div>

</div>