
<div class="panel pmt-preview" style="margin: 0">
    <h1 data-bind='text: jQuery.GetLocalizedString($data.Payment.Incarnation.PaymentType.Description)'></h1>
    <hr />
    <!--<div class="shortdescr">payment details</div>-->
    <div data-bind="displayFor: { data: $data.Payment.Document, path: 'Payments/Wizard/Preview/'}" />


    <div data-bind="displayFor: { data: $data.Payment.Incarnation, path: 'Payments/Wizard/Preview/Incarnations/'}" />

    <div data-bind="displayFor: { data: $data.Payment.IncarnationAdditionalInfo, path: 'Payments/Wizard/Preview/IncarnationAdditionalInfo/'}" />


    <footer class="button-group btn-group-justified">
        <!--ko with: Payment-->
        <!--ko if: $data.PaymentOrderAllowedOperations-->

        <a class="btn btn-primary" href='#' data-role='button'
           data-bind='visible: $data.PaymentOrderAllowedOperations.ExtendedProperties.CanPerformCurrentOperation && Incarnation.PaymentType.IsActive, clickWithEffect: $parent.signPayment'>
            <i class="i-direction"></i>
            <span class="shortdescr">{{:~GetString("ID_STR_SEND")}}</span>
        </a>

        <a class="btn btn-secondary" href='#' data-role='button'
           data-bind='visible: PaymentOrderAllowedOperations.CanIEdit && !PaymentOrderAllowedOperations.Expired && Incarnation.PaymentType.IsActive && Incarnation.PaymentType.EditAllowed, clickWithEffect: $parent.editPayment'>
            <i class="i-pencil"></i>
            <span class="shortdescr">{{:~GetString("ID_STR_EDIT")}}</span>
        </a>

        <!-- /ko -->

        <a class="btn btn-secondary" href='#' data-role='button'
           data-bind='visible: Incarnation.PaymentType.IsActive && Incarnation.PaymentType.CreateLikeAllowed, clickWithEffect: $parent.copyPayment'>
            <i class="i-doc-text-inv"></i>
            <span class="shortdescr create-like">{{:~GetString("ID_STR_CREATE_LIKE")}}</span>
        </a>

        <!--ko if: $data.PaymentOrderAllowedOperations-->

        <a class="btn btn-danger" href='#' data-role='button'
           data-bind='visible: PaymentOrderAllowedOperations.CanIDelete && Incarnation.PaymentType.IsActive, clickWithEffect: $parent.deletePayment'>
            <i class="i-trash"></i>
            <span class="shortdescr">{{:~GetString("ID_STR_DELETE")}}</span>
        </a>

        <!-- /ko -->
        <!-- /ko -->
    </footer>
</div>