<nav class="navbar navbar-fixed-top" id="navbar"></nav>
<div class="contentWithFooter">
    <a class="btn btn-sm btn-close" data-bind="clickWithEffect: Close"><i class="i-left-open"></i></a>
    <div data-bind="partial: { path: 'Payments/ViewPaymentTemplate', data : PaymentViewModel() }"></div>
</div>

