<div class="panel panel-header">
    <div class="overlay">
        <h2 class="account-name">{{:~GetString("ID_STR_PENDING_PAYMENT")}}</h2>
        <div data-bind="visible: Filter.Paging.TotalResults() > 0">
            <hr />
            <span class="shortdescr">
                {{:~GetString("ID_STR_TOTAL_RESULTS")}}
                <em data-bind="text: Filter.Paging.TotalResults"></em>
            </span>
        </div>
    </div>
</div>

{{:~RenderPartial('text!Mobile/Templates/Payments/ViewPaymentsFilterTemplate.html',#data )}}

<div class="panel" style="margin-top: 10px;">
    <ul id='paymentsResult' class="list-group list-group-pmt">
        <!-- ko foreach: $root.Payments -->
        <li class="list-group-item" tabindex="1" style="height:auto"
            data-bind="css: 'btn-group-' + actionButtons.filter(function (btn) { return btn.enabled == true; }).length,
                    component: {
                    name: 'name-amount-ccy-label',
                    params: {
                        css: { expired: $data.PaymentOrderAllowedOperations.Expired },
                        label: jQuery.GetLocalizedString(Incarnation.PaymentType.Description),
                        CCY: $data.Document.CCY,
                        secondaryLabel: jQuery.format.date($data.Incarnation.ExecuteDate),
                        value: jQuery.format.number($data.Document.Amount),
                        actionButtons: actionButtons,
                        additionalInfoTmpl: { Template: require('text!Mobile/Templates/Payments/PendingPaymentAdditionalInfoTemplate.html'), Data: $data }
                    }
                }">
        </li>
        <!-- /ko -->
        <!-- ko if: isLoaded() == true && $root.Payments().length == 0 -->
        <div class="alert alert-info nodata">
            {{>~GetString("ID_STR_NO_PENDING_PAYMENTS")}}
        </div>
        <!-- /ko -->
    </ul>
    <!-- ko if: $root.Payments().length > 0 -->
    <style>
        #submenu.payments > .btn-group {
          top: 148px;
        }
    </style>
    <!-- /ko -->
</div>

<footer class="button-group btn-group-justified">
    <a href='#' class="btn btn-primary" data-role='button' id="newPayment" data-bind='clickWithEffect: newPayment'>
        <i class="i-doc-text"></i>{{:~GetString("ID_STR_CREATE_NEW_PAYMENT")}}
    </a>

    <a href='#' class="btn btn-secondary" data-role='button' id="newPaymentFromTemplate" data-bind='clickWithEffect: paymentTemplates'>
        <i class="i-upload"></i>{{:~GetString("ID_STR_NEW_PAYMENT_FROM_TEMPLATE")}}
    </a>
</footer>