<div class="pmtwizard">
    {{:~RenderPartial('text!Mobile/Templates/Payments/Wizard/Steps/CurrentStepTemplate.html', #data.StepsInformation )}}

    <div class="wizardbody panel">

        <div class="form-group" style="margin-bottom: 0;">
            <h2>{{:~GetString("ID_STR_FROM_ACCOUNT")}}</h2>
                <div data-bind="renderAction: selectedAccount() != null ? {
                                            controller: 'AccountOverview',
                                            action: 'simpleAccountPreview',
                                            params: [selectedAccount().BankAccountID]
                                    } : null, visible: selectedAccount() != null" />
           
                <!--ko if: selectedAccount() == null-->
            <a class="btn btn-secondary btn-block btn-payer" data-bind="clickWithEffect: GetAPAccountsHandler">
                {{:~GetString("ID_STR_CHOOSE_FROM_ACCOUNT")}}
            </a>
                <!--/ko-->
                <!--ko if: selectedAccount() != null-->
            <a class="btn btn-secondary btn-block-small btn-payer" data-bind="clickWithEffect: GetAPAccountsHandler">
                {{:~GetString("ID_STR_CHOOSE_OTHER_ACCOUNT")}}
            </a>
                <!--/ko-->
            
            <span class="validation-msg" data-bind="validationMessageFor: 'selectedAccount'" />
        </div>
        <div class="form-group" style="overflow:hidden;">
            <h2>{{:~GetString("ID_STR_AMOUNT")}} / {{:~GetString("ID_STR_CCY")}}</h2>
            <div class="col-xs-6">


                <div data-bind="partial: { path: 'Common/Input', data: { value: amount, type: 'number' } }"></div>

            </div>
            <div class="col-xs-6">
                <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
                data: { value: selectedCCY, options: Model.AllowedCCYs, optionsText: 'SWIFTCode', ElementID: 'selectedCCY' }
            }"></div>

            </div>
            <span class="validation-msg" data-bind="validationMessageFor: 'amount'" />
            <span class="validation-msg" data-bind="validationMessageFor: 'selectedCCY'" />
        </div>
    </div>
</div>
{{:~RenderPartial('text!Mobile/Templates/Payments/Wizard/ButtonsTemplate.html',#data )}}   