﻿<div data-role="content" class="ui-content pmtwizard">
{{:~RenderPartial('text!Mobile/Templates/Payments/Wizard/Steps/CurrentStepTemplate.html', #data.StepsInformation )}}  

    <div class="wizardbody panel">
    <div class="separator blank">&nbsp;</div> 
        <div id="paymentdetails"  data-bind="displayFor: { data: $data.DetailsViewModel, path: 'Payments/Wizard/Details/'}" ></div>

        <div id="paymentincarnation"  data-bind="displayFor: { data: $data.IncarnationViewModel, path: 'Payments/Wizard/Incarnations/'}" ></div>

        
    </div>
</div>
{{:~RenderPartial('text!Mobile/Templates/Payments/Wizard/ButtonsTemplate.html',#data )}}  
