﻿<div>        
    <label for="AmountLimitOptions_Limit"> {{:~GetString("ID_STR_ONLINE_NOTIF_LIMIT")}}</label> <!--//data-bind="text:JSON.stringify($data)-->
    <input id="AmountLimitOptions_Limit" class="form-control" type="number" data-bind="value: Limit, valueUpdate: 'afterkeydown'" />
    <span class="validation-msg" data-bind="validationMessageFor: 'Limit'"></span>    
</div>