﻿<div>  
    
    <div class="form-group row">
        <label>{{:~GetString("ID_STR_CCY")}}</label>
        <!--ko foreach: AvailableOptions.CurrencyCode-->
        <div class="col-xs-3">
            <label data-bind="text: Text"></label>
            <input id="CurrencyRateOptions_CurrencyCode" class="form-control" type="checkbox"
                data-bind="value: Value, checked: $parent.CurrencyCode" />
        </div>
        <!--/ko-->
        <span class="validation-msg" data-bind="validationMessageFor: 'CurrencyCode'"></span>
    </div>

    
    <div class="form-group row">
        <label>{{:~GetString("ID_STR_ONLINE_NOTIF_MESSAGE_HOURS")}}</label>
        <!--ko foreach: AvailableOptions.MessageHours-->
       <div class="col-xs-4">
            <label data-bind="text: Text"></label>
            <input id="CurrencyRateOptions_MessageHours" class="form-control" type="checkbox"
                data-bind="value: Value, checked: $parent.MessageHours" />
        </div>
        <!--/ko-->
        <span class="validation-msg" data-bind="validationMessageFor: 'MessageHours'"></span>
    </div> 

    
</div>