﻿<div>
    <div class="form-group row">
        <label>{{:~GetString("ID_STR_ONLINE_NOTIF_DAYS_PRIOR_TO_WARNING")}}</label>
        <!--ko foreach: AvailableOptions.DaysPriorToWarning-->
        <div class="col-xs-4">
            <label data-bind="text: Text"></label>
            <input id="CurrencyRateOptions_CurrencyCode" class="form-control" type="checkbox"
                data-bind="value: Value, checked: $parent.DaysPriorToWarning" />
        </div>
        <!--/ko-->
        <span class="validation-msg" data-bind="validationMessageFor: 'DaysPriorToWarning'"></span>
    </div>   
</div>