﻿<a href="javascript:void(0)" data-bind="click: navigate, css: { 'active': isActive }">
    <span data-bind="text: label"> </span>
    <i data-bind="css: icon"></i> 
            <span class="pull-right">&rsaquo;</span>
    <div class="sub" data-bind="text : subLabel"></div>
</a>

