﻿html,
body {
  height: 100%;
}
body {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
}
body.loading-on {
  background-color: #D1963F;
}
body.loading-on #submenu {
  display: none;
}
body.loading-on #loading-indicator {
  top: 0;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(../typography/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../typography/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url(../typography/fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../typography/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url(../typography/fonts/RobotoCondensed-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'mobile-set';
  src: url(../typography/fonts/mobile-set.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mobile-set';
    src: url('../font/mobile-set.svg?50105950#mobile-set') format('svg');
  }
}
*/
[class^="i-"]:before,
[class*=" i-"]:before {
  font-family: "mobile-set";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /*text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);*/
}
.i-left-open-big:before {
  content: '\e800';
}
/* '' */
.i-right-open-big:before {
  content: '\e801';
}
/* '' */
.i-left-open-mini:before {
  content: '\e802';
}
/* '' */
.i-right-open-mini:before {
  content: '\e803';
}
/* '' */
.i-up-open-mini:before {
  content: '\e804';
}
/* '' */
.i-down-open-big:before {
  content: '\e805';
}
/* '' */
.i-up-open-big:before {
  content: '\e806';
}
/* '' */
.i-down-open:before {
  content: '\e807';
}
/* '' */
.i-left-open:before {
  content: '\e808';
}
/* '' */
.i-right-open:before {
  content: '\e809';
}
/* '' */
.i-up-open:before {
  content: '\e80a';
}
/* '' */
.i-down-open-mini:before {
  content: '\e80b';
}
/* '' */
.i-down:before {
  content: '\e80c';
}
/* '' */
.i-left:before {
  content: '\e80d';
}
/* '' */
.i-right:before {
  content: '\e80e';
}
/* '' */
.i-up:before {
  content: '\e80f';
}
/* '' */
.i-down-dir:before {
  content: '\e810';
}
/* '' */
.i-left-dir:before {
  content: '\e811';
}
/* '' */
.i-right-dir:before {
  content: '\e812';
}
/* '' */
.i-up-dir:before {
  content: '\e813';
}
/* '' */
.i-down-bold:before {
  content: '\e814';
}
/* '' */
.i-left-bold:before {
  content: '\e815';
}
/* '' */
.i-right-bold:before {
  content: '\e816';
}
/* '' */
.i-up-bold:before {
  content: '\e817';
}
/* '' */
.i-ccw:before {
  content: '\e818';
}
/* '' */
.i-cw:before {
  content: '\e819';
}
/* '' */
.i-arrows-ccw:before {
  content: '\e81a';
}
/* '' */
.i-search:before {
  content: '\e81b';
}
/* '' */
.i-star:before {
  content: '\e81c';
}
/* '' */
.i-star-empty:before {
  content: '\e81d';
}
/* '' */
.i-user:before {
  content: '\e81e';
}
/* '' */
.i-users:before {
  content: '\e81f';
}
/* '' */
.i-user-add:before {
  content: '\e820';
}
/* '' */
.i-menu:before {
  content: '\e821';
}
/* '' */
.i-check:before {
  content: '\e822';
}
/* '' */
.i-cancel:before {
  content: '\e823';
}
/* '' */
.i-cancel-squared:before {
  content: '\e824';
}
/* '' */
.i-cancel-circled:before {
  content: '\e825';
}
/* '' */
.i-plus:before {
  content: '\e826';
}
/* '' */
.i-plus-circled:before {
  content: '\e827';
}
/* '' */
.i-plus-squared:before {
  content: '\e828';
}
/* '' */
.i-minus:before {
  content: '\e829';
}
/* '' */
.i-minus-circled:before {
  content: '\e82a';
}
/* '' */
.i-minus-squared:before {
  content: '\e82b';
}
/* '' */
.i-info:before {
  content: '\e82c';
}
/* '' */
.i-help-circled:before {
  content: '\e82d';
}
/* '' */
.i-help:before {
  content: '\e82e';
}
/* '' */
.i-info-circled:before {
  content: '\e82f';
}
/* '' */
.i-home:before {
  content: '\e830';
}
/* '' */
.i-attach:before {
  content: '\e831';
}
/* '' */
.i-link:before {
  content: '\e832';
}
/* '' */
.i-lock:before {
  content: '\e833';
}
/* '' */
.i-lock-open:before {
  content: '\e834';
}
/* '' */
.i-tag:before {
  content: '\e835';
}
/* '' */
.i-download:before {
  content: '\e836';
}
/* '' */
.i-upload:before {
  content: '\e837';
}
/* '' */
.i-quote:before {
  content: '\e838';
}
/* '' */
.i-code:before {
  content: '\e839';
}
/* '' */
.i-pencil:before {
  content: '\e83a';
}
/* '' */
.i-print:before {
  content: '\e83b';
}
/* '' */
.i-chat:before {
  content: '\e83c';
}
/* '' */
.i-attention:before {
  content: '\e83d';
}
/* '' */
.i-bell:before {
  content: '\e83e';
}
/* '' */
.i-vcard:before {
  content: '\e83f';
}
/* '' */
.i-location:before {
  content: '\e840';
}
/* '' */
.i-direction:before {
  content: '\e841';
}
/* '' */
.i-trash:before {
  content: '\e842';
}
/* '' */
.i-doc-text:before {
  content: '\e843';
}
/* '' */
.i-doc-text-inv:before {
  content: '\e844';
}
/* '' */
.i-book:before {
  content: '\e845';
}
/* '' */
.i-folder:before {
  content: '\e846';
}
/* '' */
.i-archive:before {
  content: '\e847';
}
/* '' */
.i-box:before {
  content: '\e848';
}
/* '' */
.i-cog:before {
  content: '\e849';
}
/* '' */
.i-phone:before {
  content: '\e84a';
}
/* '' */
.i-hourglass:before {
  content: '\e84b';
}
/* '' */
.i-light-down:before {
  content: '\e84c';
}
/* '' */
.i-lamp:before {
  content: '\e84d';
}
/* '' */
.i-light-up:before {
  content: '\e84e';
}
/* '' */
.i-adjust:before {
  content: '\e84f';
}
/* '' */
.i-resize-full:before {
  content: '\e850';
}
/* '' */
.i-resize-small:before {
  content: '\e851';
}
/* '' */
.i-switch:before {
  content: '\e852';
}
/* '' */
.i-play:before {
  content: '\e853';
}
/* '' */
.i-stop:before {
  content: '\e854';
}
/* '' */
.i-pause:before {
  content: '\e855';
}
/* '' */
.i-record:before {
  content: '\e856';
}
/* '' */
.i-list:before {
  content: '\e857';
}
/* '' */
.i-list-add:before {
  content: '\e858';
}
/* '' */
.i-back-in-time:before {
  content: '\e859';
}
/* '' */
.i-monitor:before {
  content: '\e85a';
}
/* '' */
.i-mobile:before {
  content: '\e85b';
}
/* '' */
.i-inbox:before {
  content: '\e85c';
}
/* '' */
.i-install:before {
  content: '\e85d';
}
/* '' */
.i-globe:before {
  content: '\e85e';
}
/* '' */
.i-flash:before {
  content: '\e85f';
}
/* '' */
.i-paper-plane:before {
  content: '\e860';
}
/* '' */
.i-dot-3:before {
  content: '\e861';
}
/* '' */
.i-dot-2:before {
  content: '\e862';
}
/* '' */
.i-dot:before {
  content: '\e863';
}
/* '' */
.i-chart-line:before {
  content: '\e864';
}
/* '' */
.i-chart-bar:before {
  content: '\e865';
}
/* '' */
.i-chart-area:before {
  content: '\e866';
}
/* '' */
.i-chart-pie:before {
  content: '\e867';
}
/* '' */
.i-credit-card:before {
  content: '\e868';
}
/* '' */
.i-floppy:before {
  content: '\e869';
}
/* '' */
.i-clipboard:before {
  content: '\e86a';
}
/* '' */
.i-database:before {
  content: '\e86b';
}
/* '' */
.i-twitter:before {
  content: '\e86c';
}
/* '' */
.i-facebook:before {
  content: '\e86d';
}
/* '' */
.i-facebook-circled:before {
  content: '\e86e';
}
/* '' */
.i-facebook-squared:before {
  content: '\e86f';
}
/* '' */
.i-gplus:before {
  content: '\e870';
}
/* '' */
.i-gplus-circled:before {
  content: '\e871';
}
/* '' */
.i-twitter-circled:before {
  content: '\e872';
}
/* '' */
.i-tumblr:before {
  content: '\e873';
}
/* '' */
.i-tumblr-circled:before {
  content: '\e874';
}
/* '' */
.i-linkedin:before {
  content: '\e875';
}
/* '' */
.i-linkedin-circled:before {
  content: '\e876';
}
/* '' */
.i-ok:before {
  content: '\e877';
}
/* '' */
.i-ok-circled:before {
  content: '\e878';
}
/* '' */
.i-ok-circled2:before {
  content: '\e879';
}
/* '' */
.i-ok-squared:before {
  content: '\e87a';
}
/* '' */
.i-th-list:before {
  content: '\e87b';
}
/* '' */
.i-th-large:before {
  content: '\e87c';
}
/* '' */
.i-th:before {
  content: '\e87d';
}
/* '' */
.i-cancel-1:before {
  content: '\e87e';
}
/* '' */
.i-minus-1:before {
  content: '\e87f';
}
/* '' */
.i-help-1:before {
  content: '\e880';
}
/* '' */
.i-help-circled-1:before {
  content: '\e881';
}
/* '' */
.i-info-circled-1:before {
  content: '\e882';
}
/* '' */
.i-info-1:before {
  content: '\e883';
}
/* '' */
.i-link-ext:before {
  content: '\e884';
}
/* '' */
.i-attach-1:before {
  content: '\e885';
}
/* '' */
.i-lock-1:before {
  content: '\e886';
}
/* '' */
.i-lock-open-1:before {
  content: '\e887';
}
/* '' */
.i-lock-open-alt:before {
  content: '\e888';
}
/* '' */
.i-tag-1:before {
  content: '\e889';
}
/* '' */
.i-tags:before {
  content: '\e88a';
}
/* '' */
.i-bell-alt:before {
  content: '\e88b';
}
/* '' */
.i-cog-1:before {
  content: '\e88c';
}
/* '' */
.i-menu-1:before {
  content: '\e88d';
}
/* '' */
.i-gplus-1:before {
  content: '\e88e';
}
/* '' */
.i-foursquare:before {
  content: '\e88f';
}
/* '' */
.i-call:before {
  content: '\e890';
}
/* '' */
.i-google:before {
  content: '\e891';
}
/* '' */
.i-linkedin-1:before {
  content: '\e892';
}
/* '' */
.i-rss:before {
  content: '\e893';
}
/* '' */
.i-twitter-1:before {
  content: '\e894';
}
/* '' */
.i-youtube:before {
  content: '\e895';
}
/* '' */
.i-vimeo:before {
  content: '\e896';
}
/* '' */
.i-windows:before {
  content: '\e897';
}
/* '' */
.i-email:before {
  content: '\e898';
}
/* '' */
.i-facebook-1:before {
  content: '\e899';
}
/* '' */
.i-gmail:before {
  content: '\e89a';
}
/* '' */
.i-pinboard:before {
  content: '\e89b';
}
/* '' */
.i-tumblr-1:before {
  content: '\e89c';
}
/* '' */
.i-facebook-2:before {
  content: '\e89d';
}
/* '' */
.i-facebook-rect:before {
  content: '\e89e';
}
/* '' */
.i-twitter-2:before {
  content: '\e89f';
}
/* '' */
.i-twitter-bird:before {
  content: '\e8a0';
}
/* '' */
.i-vimeo-1:before {
  content: '\e8a1';
}
/* '' */
.i-vimeo-rect:before {
  content: '\e8a2';
}
/* '' */
.i-tumblr-2:before {
  content: '\e8a3';
}
/* '' */
.i-tumblr-rect:before {
  content: '\e8a4';
}
/* '' */
.i-googleplus-rect:before {
  content: '\e8a5';
}
/* '' */
.i-github-text:before {
  content: '\e8a6';
}
/* '' */
.i-github:before {
  content: '\e8a7';
}
/* '' */
.i-skype:before {
  content: '\e8a8';
}
/* '' */
.i-icq:before {
  content: '\e8a9';
}
/* '' */
.i-yandex:before {
  content: '\e8aa';
}
/* '' */
.i-yandex-rect:before {
  content: '\e8ab';
}
/* '' */
.i-vkontakte-rect:before {
  content: '\e8ac';
}
/* '' */
.i-odnoklassniki:before {
  content: '\e8ad';
}
/* '' */
.i-odnoklassniki-rect:before {
  content: '\e8ae';
}
/* '' */
.i-friendfeed:before {
  content: '\e8af';
}
/* '' */
.i-friendfeed-rect:before {
  content: '\e8b0';
}
/* '' */
.i-blogger-rect:before {
  content: '\e8b1';
}
/* '' */
.i-deviantart:before {
  content: '\e8b2';
}
/* '' */
.i-jabber:before {
  content: '\e8b3';
}
/* '' */
.i-lastfm:before {
  content: '\e8b4';
}
/* '' */
.i-lastfm-rect:before {
  content: '\e8b5';
}
/* '' */
.i-linkedin-2:before {
  content: '\e8b6';
}
/* '' */
.i-linkedin-rect:before {
  content: '\e8b7';
}
/* '' */
.i-picasa:before {
  content: '\e8b8';
}
/* '' */
.i-wordpress:before {
  content: '\e8b9';
}
/* '' */
.i-instagram:before {
  content: '\e8ba';
}
/* '' */
.i-instagram-filled:before {
  content: '\e8bb';
}
/* '' */
.i-diigo:before {
  content: '\e8bc';
}
/* '' */
.i-box-1:before {
  content: '\e8bd';
}
/* '' */
.i-box-rect:before {
  content: '\e8be';
}
/* '' */
.i-tudou:before {
  content: '\e8bf';
}
/* '' */
.i-youku:before {
  content: '\e8c0';
}
/* '' */
.i-win8:before {
  content: '\e8c1';
}
/* '' */
.i-amex:before {
  content: '\e8c2';
}
/* '' */
.i-discover:before {
  content: '\e8c3';
}
/* '' */
.i-mastercard:before {
  content: '\e8c4';
}
/* '' */
.i-houzz:before {
  content: '\e8c5';
}
/* '' */
.i-bandcamp:before {
  content: '\e8c6';
}
/* '' */
.i-codepen:before {
  content: '\e8c7';
}
/* '' */
.i-blogger:before {
  content: '\e8c8';
}
/* '' */
.i-visa:before {
  content: '\e8c9';
}
/* '' */
.login-gradient {
  background-image: -webkit-linear-gradient(top, #d1963f 0%, #765626 100%);
  background-image: -o-linear-gradient(top, #d1963f 0%, #765626 100%);
  background-image: linear-gradient(to bottom, #d1963f 0%, #765626 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd1963f', endColorstr='#ff765626', GradientType=0);
}
/* Loading bar indicator */
body #loading-indicator {
  position: fixed;
  top: 49px;
  left: 0;
  right: 0;
  height: 5px;
  overflow: hidden;
  background-color: #000;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 9999;
  opacity: 0.25;
  -moz-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}
body.scroll-stop #loading-indicator {
  left: 300px;
}
#loading-indicator.loading-indicator-hidden {
  opacity: 0;
}
.loading-indicator {
  background-color: #444;
  margin-top: 0;
  margin-left: -100%;
  -moz-animation-name: bounce_loadingProgressG;
  -moz-animation-duration: 2.4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: bounce_loadingProgressG;
  -webkit-animation-duration: 2.4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -ms-animation-name: bounce_loadingProgressG;
  -ms-animation-duration: 2.4s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: bounce_loadingProgressG;
  -o-animation-duration: 2.4s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: bounce_loadingProgressG;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 100%;
  height: 5px;
}
@-moz-keyframes bounce_loadingProgressG {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 100%;
  }
}
@-webkit-keyframes bounce_loadingProgressG {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 100%;
  }
}
@-ms-keyframes bounce_loadingProgressG {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 100%;
  }
}
@-o-keyframes bounce_loadingProgressG {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes bounce_loadingProgressG {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 100%;
  }
}
/* Containers */
* {
  outline: none;
}
.scroll-stop {
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
}
body > .container {
  height: 100%;
  border-top: 10px solid #666;
}
#mainPage {
  position: relative;
  min-width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-transform: none !important;
}
.panel {
  background: transparent;
  box-shadow: none;
}
/* Headings and typo */
body {
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none !important;
  outline: none !important;
}
hr {
  margin: 20px 30px;
  border-top: 1px solid #eee;
  opacity: 0.2;
}
h1 {
  font-family: "Roboto-Thin";
  font-weight: 100;
  font-style: normal;
  font-size: 1.7em;
}
h2 {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  font-size: 1.4em;
}
h3 {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 0.8em;
  text-transform: uppercase;
}
/* Inputs */
.form-control,
.dais-dropdown {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  display: block;
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  height: auto;
  line-height: 1.42857143 !important;
  color: #555555;
  background-color: transparent;
  background-image: none;
  background: #F5F5F5;
  border: none;
  border-bottom: 2px solid #cccccc;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.2s, background-color ease-in-out 0.18s;
  -o-transition: border-color ease-in-out 0.2s, background-color ease-in-out 0.18s;
  transition: border-color ease-in-out 0.2s, background-color ease-in-out 0.18s;
}
.form-control::-webkit-input-placeholder,
.dais-dropdown::-webkit-input-placeholder {
  color: #ccc;
}
.form-control:focus,
.dais-dropdown:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #D1963F;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dais-dropdown {
  border-radius: 0;
  text-align: left;
}
.dais-dropdown span {
  /*width: 90%;
        overflow: hidden;
        display: inline-block;*/
}
.dais-dropdown i {
  float: right;
}
.dais-dropdown select {
  /*font-size:inherit;*/
}
.form-group {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  /* LABEL ======================================= */
  /* active state 
    .form-control:focus ~ label, .form-control:valid ~ label {
        top: -25px;
        font-size: 16px;
        color: #fff;
    }*/
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
.form-group.form-group-buttons {
  text-align: center;
}
.form-group .col-xs-6 {
  padding-left: 5px;
  padding-right: 5px;
}
.form-group .col-xs-6:first-child {
  padding-left: 0;
}
.form-group .col-xs-6:last-child {
  padding-right: 0;
}
.form-group h2 {
  font-size: 1.2em;
  text-align: center;
  color: #BB8C3D;
  margin-bottom: 8px;
}
.form-group:focus h2 {
  color: #DFA94E;
}
.form-group .form-control {
  display: block;
  width: 100%;
  background: #F5F5F5;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #444;
  border-radius: 0;
  box-shadow: none;
}
.form-group .form-control:focus {
  outline: none;
  background: rgba(204, 204, 204, 0.35);
}
.form-group label {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  display: block;
  font-size: 1.2em;
  text-align: center;
  color: #BB8C3D;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.form-group .bar {
  position: relative;
  display: block;
  width: 100%;
}
.form-group .bar:before,
.form-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #DFA94E;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}
.form-group .bar:before {
  left: 50%;
}
.form-group .bar:after {
  right: 50%;
}
.form-group .form-control:focus ~ .bar:before,
.form-group .form-control:focus ~ .bar:after {
  width: 50%;
}
.form-group .highlight {
  position: absolute;
  height: 45px;
  width: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.form-group .form-control:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #333;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #333;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #333;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* Alerts and validation */
span.validation-msg {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #a94442;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  display: block;
  line-height: 1.2;
  border: none;
  clear: both;
}
span.validation-msg:before {
  font-family: "mobile-set";
  content: '\e823';
  font-size: 20px;
  margin-right: 4px;
  top: 2px;
  position: relative;
}
.alert {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #a94442;
  text-transform: uppercase;
  padding: 10px 5px 10px 30px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  display: block;
  line-height: 1.2;
  border: none;
  /*padding-left:45px;*/
  position: relative;
  /*&:before, :before {
        margin-right: 5px;
        //margin-left: 5px;
        font-size: 0.8em;
    }*/
}
.alert:before {
  font-family: mobile-set;
  position: absolute;
  top: 50%;
  font-size: 20px;
  margin-top: -12px;
  left: 15px;
}
.alert.alert-error {
  color: #a94442;
}
.alert.alert-error:before {
  content: '\e823';
  margin-top: -11px;
}
.alert.alert-error span {
  color: #a94442 !important;
}
.alert.alert-success {
  color: #799425;
  padding-left: 35px;
}
.alert.alert-success:before {
  content: '\e822';
}
.alert.alert-success span {
  color: #799425 !important;
}
.alert.alert-info {
  color: #4790AB;
  padding-left: 45px;
}
.alert.alert-info:before {
  content: '\e82f';
}
.alert.alert-info span {
  color: #4790AB !important;
}
.alert.alert-warning {
  color: #BB8C3D;
  padding-left: 45px;
}
.alert.alert-warning:before {
  content: '\e83d';
}
.alert.alert-warning span {
  color: #BB8C3D !important;
}
.notifications {
  text-align: center;
  padding: 5px 0;
}
.notifications .alert {
  display: inline-block;
  text-align: left;
}
.has-error .form-control {
  border-color: #a94442 !important;
  box-shadow: none !important;
}
/* Buttons */
.btn {
  border-radius: 3px;
  padding: 10px;
  transition: background-color ease-in-out 0.2s, border-color ease-in-out 0.2s;
  position: relative;
  overflow: hidden;
}
.btn:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.btn-primary {
  color: #ffffff;
  background-color: #D89F45;
  border-color: #D89F45;
}
.btn.btn-secondary {
  background: #D3D3D3;
  color: #808080;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.32);
}
.btn.btn-block {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 10px;
  width: 50%;
  margin: 0 auto;
  min-width: 200px;
}
.btn.btn-block-small {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
}
.fab {
  border-radius: 50%;
  margin: 0;
  padding: 20px;
}
.material {
  position: relative;
  color: white;
  margin: 20px auto;
  height: 400px;
  width: 500px;
  background: #f45673;
}
.ripple {
  overflow: hidden;
}
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  -moz-animation: ripple-animation 2s;
  -o-animation: ripple-animation 2s;
  -webkit-animation: ripple-animation 2s;
  animation: ripple-animation 2s;
}
@-webkit-keyframes ripple-animation {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0.4;
  }
  to {
    transform: scale3d(100, 100, 1);
    opacity: 0;
  }
}
@keyframes ripple-animation {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0.4;
  }
  to {
    transform: scale3d(100, 100, 1);
    opacity: 0;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-spacing: 10px;
  z-index: 1000;
}
footer .btn {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 10px;
  max-width: 160px;
}
footer .btn i {
  margin-left: -10px;
}
footer .btn i.i-right-open-big {
  margin-left: 10px;
}
footer .btn.btn-primary {
  color: #fff;
}
footer .btn.btn-secondary {
  background: rgba(216, 159, 69, 0.85);
  color: #fff;
  text-shadow: none;
}
.ui-loadingpanel-active ~ #mainPage .btn:not(.active) {
  color: #fff !important;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  box-shadow: none;
}
.ui-loadingpanel-active ~ #mainPage .btn-primary,
.ui-loadingpanel-active ~ #mainPage .btn-secondary {
  opacity: 0.85;
  text-shadow: none;
}
.ui-loadingpanel-active ~ #mainPage .nodata {
  display: none;
}
/* Overlapping footer content fix */
#mainPage > div:last-child {
  padding-bottom: 50px;
}
.daisui-submenu {
  padding-bottom: 50px;
}
/* Login page */
/*.controller-login ~ #loading-indicator {
    top:0;
}*/
.controller-login #navbar {
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
}
.controller-login #navbar h1 {
  display: none;
}
.controller-login .changelang {
  z-index: 1090;
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  width: 80px;
  text-align: right;
  line-height: 1;
  margin-right: 0;
  margin-top: 4px;
}
.container.login {
  background-color: #D1963F;
  background-image: -webkit-linear-gradient(top, #d1963f 0%, #765626 100%);
  background-image: -o-linear-gradient(top, #d1963f 0%, #765626 100%);
  background-image: linear-gradient(to bottom, #d1963f 0%, #765626 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd1963f', endColorstr='#ff765626', GradientType=0);
  background-size: 400%;
  /*-webkit-animation: bgPos 20s ease infinite;
    -moz-animation: bgPos 20s ease infinite;
    -o-animation: bgPos 20s ease infinite;
    animation: bgPos 20s ease infinite;*/
  min-height: 100%;
}
.container.login > * {
  -webkit-backface-visibility: hidden;
}
.container.login .overlay {
  background-image: url(../../../images/logo-overlay.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.container.login .logo {
  width: 191px;
  height: 46px;
  margin: 20px auto 0;
  background-repeat: no-repeat;
  background-image: url(../../../libs/bootstrap/images/logo-text.png);
  background-image: url(../../../images/logo-text.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .container.login .logo {
    background-image: url(../../../libs/bootstrap/images/logo-text-2x.png);
    background-size: 191px 46px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .container.login .logo {
    background-image: url(../../../images/logo-text-2x.png);
    background-size: 191px 46px;
  }
}
.container.login h1 {
  margin-top: 15px;
  text-align: center;
  color: #fff;
}
.container.login .form-control {
  background: rgba(95, 73, 42, 0.4);
  color: #F2C16D;
  font-size: 1.2em;
  border: none;
}
.container.login .form-control::-webkit-input-placeholder {
  color: #fff;
}
.container.login .form-control:focus {
  background-color: rgba(95, 73, 42, 0.6);
  color: #fff;
}
.container.login .btn-block {
  margin-top: 20px;
  background: #C6A575;
  border: none;
  /*&:focus {
            background-color: rgba(95, 73, 42, 0.6);
            color: #D1963F;
        }*/
}
.container.login .captcha-img {
  text-align: center;
}
.container.login .alert {
  margin-bottom: 0;
}
.container.login .social-links {
  display: table-row;
}
.container.login .social-links > li {
  display: table-cell;
  width: 1%;
  padding: 0 5px;
  /*&.fb a {
                background: url("../../images/social/facebook.png") no-repeat center center transparent;
            }

            &.yt a {
                background: url("../../images/social/youtube.png") no-repeat center center transparent;
            }

            &.tw a {
                background: url("../../images/social/twitter.png") no-repeat center center transparent;
            }

            &.mail a {
                background: url("../../images/social/mail.png") no-repeat center center transparent;
            }

            &.gp a {
                background: url("../../images/social/googleplus.png") no-repeat center center transparent;
            }*/
}
.container.login .social-links > li a {
  display: block;
  text-decoration: none;
  line-height: 2.5em;
  position: relative;
  text-align: center;
}
.container.login .social-links > li a i {
  color: #fff;
  font-size: 20px;
}
.container.login #banners {
  /*margin-bottom:50px;*/
  overflow-x: hidden;
  overflow-y: visible;
}
.container.login #banners .swiper-slide {
  margin-right: 2px;
}
.container.login #banners .swiper-slide img {
  border-radius: 4px;
  border: 5px solid rgba(255, 255, 255, 0.4);
  width: 100%;
}
.container.login #banners .swiper-slide .carousel-caption {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.4);
  font-size: 0.8em;
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
.container.login #banners .swiper-pagination {
  position: relative;
  bottom: 0;
  margin-top: 15px;
}
.container.login #banners .swiper-pagination .swiper-pagination-bullet {
  border-radius: 1px;
  width: 30px;
  height: 12px;
  margin: 0 1px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
}
.container.login #banners .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}
.container.login .carousel {
  margin-bottom: 50px;
}
.container.login .carousel .carousel-indicators {
  bottom: -44px;
}
.container.login .carousel .carousel-indicators li {
  border-radius: 1px;
  width: 30px;
  height: 10px;
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}
.container.login .carousel .carousel-indicators li.active {
  background: #fff;
}
.container.login .carousel .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 715px;
  margin: 0 auto;
}
.container.login .carousel .carousel-inner img {
  border-radius: 4px;
  border: 5px solid rgba(255, 255, 255, 0.4);
}
.container.login .carousel .carousel-inner .carousel-caption {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.4);
  font-size: 0.8em;
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
.container.login .carousel .carousel-control {
  position: absolute;
  padding-top: 0;
  top: 50%;
  margin-top: -17px;
  width: 50px;
  background: none;
}
.container.login .carousel .carousel-control.left {
  left: -15px;
}
.container.login .carousel .carousel-control.left i {
  font-size: 26px;
}
.container.login .carousel .carousel-control.right {
  left: auto;
  right: -15px;
}
.container.login .carousel .carousel-control.right i {
  font-size: 26px;
}
.container.login .news-section {
  margin: 0 20px;
  margin-top: 30px;
}
.container.login .news-section .news-item .news-date {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 0.8em;
  color: #D8B872;
  display: block;
}
.container.login .news-section .news-item .news-heading {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  font-size: 0.9em;
  color: #fff;
  display: block;
}
.container.login .news-section .news-item .news-heading:after {
  font-family: mobile-set;
  content: '\e884';
  margin-left: 5px;
  top: 1px;
  position: relative;
}
/*list-views*/
.products {
  /*padding-top: 10px;*/
}
.list-group {
  overflow: hidden;
  /*&#accountsLitView {
        .list-group-item:focus, .list-group-item.active {
            left: 120px;
        }
    }*/
}
.list-group .list-group-item {
  position: relative;
  min-height: 52px;
  left: 0;
  border-radius: 0;
  margin-left: -140px;
  /*-moz-transition: left 0.12s ease-in-out;
        -o-transition: left 0.12s ease-in-out;*/
  -webkit-transition: 0.12s ease-in-out;
  transition: 0.12s ease-in-out;
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
  overflow: hidden;
  padding: 8px 10px;
  /*&:last-child {
            margin-bottom:0;
        }*/
  /*&:focus, &.active {
            left: @move-index;
        }*/
  /*> a {
            //display: block;
            text-decoration: none;
            margin-left: @move-index;
            overflow: hidden;

            span {
                color: #585858;

                &.prodname {
                    font-size: 20px;
                    font-family: @font-family-light;
                    line-height: 25px;
                    .ellipsis();
                    display: block;
                    max-width: 57%;
                    float: left;
                }

                &.secondarylabel {
                    clear: left;
                    float: left;
                    font-family: "RobotoCondensed-Bold";
                    font-weight: 700;
                    font-style: normal;
                    line-height: 15px;
                    font-size: 11px;
                    text-transform: uppercase;
                    margin-right: 2px;
                    .ellipsis();
                    max-width: 57%;
                }

                &.ccy {
                    float: right;
                    .font-condensed;
                    line-height: 42px;
                    text-shadow: 1px 1px #FFF;
                    font-size: 14px;
                    margin-left: 5px;
                    color: #585858;
                }

                &.value {
                    float: right;
                    .font-condensed;
                    line-height: 38px;
                    font-size: 20px;
                }
            }
        }


        span {
            //color: #585858;
            &.prodname {
                font-size: 22px;
                .font-light;
                line-height: 40px;
                .ellipsis();
                display: block;
                max-width: 57%;
                float: left;
            }

            &.ccy {
                float: right;
                .font-condensed;
                line-height: 42px;
                text-shadow: 1px 1px #FFF;
                font-size: 14px;
                margin-left: 5px;
                color: #727272;
            }

            &.value {
                float: right;
                .font-condensed;
                line-height: 40px;
                font-size: 20px;
            }
        }*/
}
.list-group .list-group-item.btn-group-1 {
  margin-left: -70px;
}
.list-group .list-group-item.btn-group-1 > a {
  margin-left: 70px;
}
.list-group .list-group-item.btn-group-1:focus {
  -webkit-transform: translate3d(70px, 0, 1px);
  transform: translate3d(70px, 0, 1px);
}
.list-group .list-group-item.btn-group-2 {
  margin-left: -140px;
}
.list-group .list-group-item.btn-group-2 > a {
  margin-left: 140px;
}
.list-group .list-group-item.btn-group-2:focus {
  -webkit-transform: translate3d(140px, 0, 1px);
  transform: translate3d(140px, 0, 1px);
}
.list-group .list-group-item.btn-group-3 {
  margin-left: -210px;
}
.list-group .list-group-item.btn-group-3 > a {
  margin-left: 210px;
}
.list-group .list-group-item.btn-group-3:focus {
  -webkit-transform: translate3d(210px, 0, 1px);
  transform: translate3d(210px, 0, 1px);
}
.list-group .list-group-item.btn-group-4 {
  margin-left: -280px;
}
.list-group .list-group-item.btn-group-4 > a {
  margin-left: 280px;
}
.list-group .list-group-item.btn-group-4:focus {
  -webkit-transform: translate3d(280px, 0, 1px);
  transform: translate3d(280px, 0, 1px);
}
.list-group .list-group-item.btn-group-5 {
  margin-left: -350px;
}
.list-group .list-group-item.btn-group-5 > a {
  margin-left: 350px;
}
.list-group .list-group-item.btn-group-5:focus {
  -webkit-transform: translate3d(350px, 0, 1px);
  transform: translate3d(350px, 0, 1px);
}
.list-group .list-group-item .btn-group {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 0;
  margin-left: -10px;
  margin-right: 0;
  bottom: 0;
  font-size: 0;
  height: 100%;
  z-index: 2;
}
.list-group .list-group-item .btn-group .btn {
  font-size: 11px;
  float: none;
  width: 70px;
  height: 70px;
  border-radius: 0;
  border-width: 0;
  height: 100%;
}
.list-group .list-group-item .btn-group .btn .icon {
  font-family: mobile-set;
  color: #fff;
  font-style: normal;
}
.list-group .list-group-item .btn-group .btn span {
  color: #fff;
}
.list-group .list-group-item .btn-group .btn.btn-gray {
  background: #9198A3;
}
.list-group .list-group-item .btn-group .btn.btn-green {
  background: #6B8F00;
}
.list-group .list-group-item .btn-group .btn.btn-green-light {
  background: #99CC00;
}
.list-group .list-group-item .btn-group .btn.btn-red {
  background: #FF4D4D;
}
.list-group .list-group-item .btn-group .btn.btn-blue {
  background: #7EB7CD;
}
.list-group .list-group-item .btn-group .btn:hover,
.list-group .list-group-item .btn-group .btn:focus,
.list-group .list-group-item .btn-group .btn:active {
  border: none;
}
.list-group .list-group-item .btn-group .btn .icon {
  font-size: 20px;
}
.list-group .list-group-item .btn-group .btn .context-label {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  display: block;
  text-transform: uppercase;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  text-align: center;
}
.list-group .list-group-item-heading {
  margin-left: 0;
  margin-bottom: 0;
  border: none;
  color: #000;
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  height: auto;
  padding-top: 0;
  margin-top: 20px;
  min-height: initial !important;
}
.list-group .list-group-item-heading h2 {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  font-size: inherit;
}
.list-group .list-group-item-heading:first-child {
  margin-top: 15px;
}
.list-group .list-group-item-heading .av-balance {
  margin: 0 auto;
  max-width: 300px;
}
.list-group .list-group-item-heading .av-balance > span {
  display: inline-block;
}
.list-group .list-group-item-heading .av-balance .change-ccy {
  display: inline-block;
}
.list-group .list-group-item-heading .av-balance .change-ccy .dais-dropdown {
  color: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 5px;
  position: relative;
  bottom: 3px;
  border-left: 1px solid #e1e1e1;
  display: inline-block;
}
.list-group .list-group-item-heading .av-balance .change-ccy .dais-dropdown > span {
  font-size: 22px;
  color: #A3A3A3;
}
.list-group .list-group-item-heading .av-balance .change-ccy .dais-dropdown i {
  display: inline-block;
  font-size: 22px;
  color: #A3A3A3;
}
.list-group .list-group-item-heading .av-balance .change-ccy .dais-dropdown i:before {
  margin-left: 0;
}
.list-group .list-group-item .ripple-effect {
  background-color: #F3F3F3;
}
.list-group .list-group-item:nth-child(2n+1):not(.list-group-item-heading) {
  background-color: #F3F3F3;
}
.list-group .list-group-item:nth-child(2n+1):not(.list-group-item-heading) .ripple-effect {
  background-color: #FFF;
}
.list-group .list-group-item .list-group-item-inner {
  display: flex;
  justify-content: space-between;
}
.list-group .list-group-item .list-group-item-inner .description {
  display: flex;
  flex-shrink: 300;
  flex-wrap: wrap;
}
.list-group .list-group-item .list-group-item-inner .description span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  line-height: 1.34;
}
.list-group .list-group-item .list-group-item-inner .description span.prodname {
  font-size: 18px;
  font-family: "Roboto-Light";
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.list-group .list-group-item .list-group-item-inner .description span.secondarylabel {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  text-transform: uppercase;
  margin-right: 2px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list-group .list-group-item .list-group-item-inner > span {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #585858;
}
.list-group .list-group-item .list-group-item-inner > span.value {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  flex-grow: 300;
  justify-content: flex-end;
}
.list-group .list-group-item .list-group-item-inner > span.ccy {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #585858;
  margin-top: 4px;
  margin-left: 4px;
  justify-content: flex-end;
}
.list-group .list-group-item.debit .value {
  color: #FF4D4D;
}
.list-group.info .list-group-item {
  margin-left: 0;
  overflow: hidden;
  height: auto;
}
.list-group.info .list-group-item > a {
  margin-left: 0;
}
.list-group.info .list-group-item label {
  font-size: 16px;
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  line-height: 40px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-width: 57%;
  float: left;
  margin-bottom: 0;
  line-height: 1.2;
}
.list-group.info .list-group-item .value {
  float: right;
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
  font-size: 18px;
}
.list-group.info .list-group-item .value.value-block {
  float: none;
  clear: both;
  display: block;
  line-height: 1;
}
.list-group.list-group-pmt .list-group-item {
  /*margin-left: 0;
            overflow: hidden;*/
}
.list-group.list-group-pmt .list-group-item span.prodname {
  font-size: 18px;
  line-height: normal;
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-width: 57%;
  float: left;
  margin-bottom: 0;
  color: #BB8C3D;
}
.list-group.list-group-pmt .list-group-item span.ccy {
  align-items: baseline;
  color: #727272;
}
.list-group.list-group-pmt .list-group-item span.value {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  position: absolute;
  right: 40px;
  top: 10px;
  line-height: 1;
}
.list-group.list-group-pmt .list-group-item span.secondarylabel {
  clear: both;
  float: left;
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  color: #585858;
}
.list-group.list-group-pmt .list-group-item span.secondarylabel .payer,
.list-group.list-group-pmt .list-group-item span.secondarylabel .payee {
  /*color:#525252;*/
}
.list-group.list-group-pmt .list-group-item .additional-info {
  width: 100%;
}
.list-group.list-group-pmt .list-group-item .additional-info span {
  width: auto;
}
.list-group.list-group-pmt .list-group-item .additional-info .secondarylabel {
  clear: none;
  color: #999;
  margin-right: 2px;
}
.list-group.list-group-pmt .list-group-item .additional-info .secondarylabel.payer,
.list-group.list-group-pmt .list-group-item .additional-info .secondarylabel.payee {
  color: #585858;
}
.list-group.list-group-pmt .list-group-item .alert {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  clear: both;
  font-size: 12px;
}
.list-group.list-group-pmt .list-group-item .alert:before {
  display: none;
}
.list-group.label-value .list-group-item {
  margin-left: 0;
  overflow: hidden;
  height: auto;
  min-height: 64px;
}
.list-group.label-value .list-group-item > a {
  margin-left: 0;
}
.list-group.label-value .list-group-item label {
  font-size: 16px;
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  line-height: 40px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-width: 55%;
  float: left;
  margin-bottom: 0;
  line-height: 44px;
}
.list-group.label-value .list-group-item .value {
  float: right;
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 44px;
  font-size: 18px;
}
.list-group.label-value .list-group-item .value.value-block {
  float: none;
  clear: both;
  display: block;
  line-height: 1;
}
.list-group#accountsLitView .list-group-item-heading {
  color: #6B8F00;
  border-bottom: 2px solid #6B8F00;
}
.list-group#accountsLitView .prodname {
  color: #6B8F00;
}
.list-group#depositsListView .list-group-item-heading {
  color: #0092bc;
  border-bottom: 2px solid #0092bc;
}
.list-group#depositsListView .prodname {
  color: #0092bc;
}
.list-group#rpccardsListView .list-group-item-heading {
  color: #00c7b1;
  border-bottom: 2px solid #00c7b1;
}
.list-group#rpccardsListView .prodname {
  color: #008E7E;
}
.list-group#facilitiesListView .list-group-item-heading {
  color: #e57200;
  border-bottom: 2px solid #e57200;
}
.list-group#facilitiesListView .prodname {
  color: #A15000;
}
.list-group#facilitiesListView .list-group-item span.prodname {
  line-height: 38px;
}
.list-group#facilitiesListView .list-group-item a.warning span.prodname {
  color: #FF4D4D;
}
.list-group#facilitiesListView .list-group-item a.warning span.prodname:before {
  font-family: mobile-set;
  content: '\e83d';
  margin-right: 5px;
}
.list-group-block .list-group-item label {
  max-width: 100% !important;
  float: none !important;
  line-height: 1.4 !important;
  white-space: normal !important;
}
.list-group-block .list-group-item .value {
  float: none !important;
  line-height: 1.4 !important;
}
/* Icons defined by page controller */
.controller-products h2 {
  margin-top: 0;
}
.controller-products .btn-gray .icon:before {
  content: '\e883';
}
.controller-products .btn-green .icon:before {
  content: '\e837';
}
.controller-products .btn-green-light .icon:before {
  content: '\e883';
}
.controller-products .btn-red .icon:before {
  content: '\e883';
}
.controller-products .btn-blue .icon:before {
  content: '\e82f';
}
.action-debitcardslist .ccy,
.action-debitcardslist .value {
  display: none;
}
.action-debitcardslist .prodname,
.action-debitcardslist .secondarylabel {
  max-width: 100% !important;
}
.action-debitcardslist .btn-blue .icon:before {
  content: '\e82f';
}
/* Header panel (strange background thing at the top)  */
.panel {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  position: relative;
}
.panel-header {
  background-image: url(../../../images/background/bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*height: 175px;*/
  overflow: hidden;
  margin-bottom: 0;
  /*-webkit-animation: bgPos 60s ease infinite;
    -moz-animation: bgPos 60s ease infinite;
    animation: bgPos 60s ease infinite;*/
}
.panel-header.panel-blue {
  background-image: url(../../../images/background/bg-1.jpg);
}
.panel-header.panel-green {
  background-image: url(../../../images/background/bg-2.jpg);
}
.panel-header.panel-grey {
  background-image: url(../../../images/background/bg-6.jpg);
}
.panel-header.panel-brown {
  background-image: url(../../../images/background/bg-3.jpg);
}
.panel-header.panel-lightblue {
  background-image: url(../../../images/background/bg-5.jpg);
}
.panel-header.panel-orange {
  background-image: url(../../../images/background/bg-4.jpg);
}
@-webkit-keyframes bgPos {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@-moz-keyframes bgPos {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes bgPos {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.panel-header .overlay {
  background-image: url(../../../images/logo-overlay.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /*position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;*/
  padding-top: 30px;
  padding-bottom: 30px;
}
.panel-header h2 {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-family: "Roboto-Thin";
  font-weight: 100;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 5px;
}
.panel-header .value {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 26px;
  font-family: "Roboto-Thin";
  font-weight: 100;
  font-style: normal;
  margin-top: -5px;
}
.panel-header .shortdescr {
  color: #fff;
  text-align: center;
  display: block;
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
}
.panel-header .shortdescr em {
  color: rgba(238, 238, 238, 0.8);
  font-style: normal;
}
.panel-header hr {
  margin: 5px auto;
  width: 150px;
  opacity: 0.8;
}
.panel-header .glyphicon-chevron-left,
.panel-header .glyphicon-chevron-right {
  position: absolute;
  top: 40%;
  left: 25px;
  margin-top: -10px;
  color: #fff;
  font-size: 1.4em;
  display: none;
}
.panel-header .glyphicon-chevron-right {
  right: 25px;
  left: auto;
}
.panel-header .steps-indicator {
  border: 1px solid #eee;
  overflow: hidden;
  margin: 0 auto;
  line-height: 0;
  width: 167px;
  height: 11px;
  padding: 1px;
  margin-bottom: 10px;
}
.panel-header .steps-indicator div {
  width: 40px;
  height: 7px;
  float: left;
  margin: 0;
  margin-right: 1px;
  background: rgba(238, 238, 238, 0.45);
  line-height: 0;
  padding: 0;
}
.panel-header .steps-indicator div:last-child {
  margin-right: 0;
}
.panel-header .steps-indicator.step1 div:first-child {
  background: rgba(238, 238, 238, 0.85);
}
.panel-header .steps-indicator.step2 div:first-child,
.panel-header .steps-indicator.step2 div:nth-child(2) {
  background: rgba(238, 238, 238, 0.85);
}
.panel-header .steps-indicator.step3 div:first-child,
.panel-header .steps-indicator.step3 div:nth-child(2),
.panel-header .steps-indicator.step3 div:nth-child(3) {
  background: rgba(238, 238, 238, 0.85);
}
.panel-header .steps-indicator.step4 div {
  background: rgba(238, 238, 238, 0.85);
}
table {
  width: 100%;
}
table td {
  padding: 5px;
  vertical-align: middle;
}
/* Product Details pages */
.controller-accountoverview .panel-header .overlay {
  padding-bottom: 50px;
}
.controller-accountmovements .additional-info .secondarylabel {
  float: none;
  clear: both;
}
.controller-carddetails .panel-header .overlay {
  padding-bottom: 60px;
}
.controller-facilitiesdetails .panel-header .overlay {
  padding-bottom: 54px;
}
.controller-facilitiesdetails .alert-warning {
  color: #FF4D4D;
  margin: 15px 5px -10px;
}
.controller-facilitiesdetails #submenu > .btn-group {
  /*position:absolute;
        top:200px;
        margin:0;*/
}
.controller-viewpayments .panel-header .overlay {
  padding-bottom: 50px;
}
.controller-viewpayments .btn-gray .icon:before {
  content: '\e83a';
}
.controller-viewpayments .btn-green > span {
  white-space: normal;
  line-height: 11px;
}
.controller-viewpayments .btn-green .icon:before {
  content: '\e844';
}
.controller-viewpayments .btn-green-light .icon:before {
  content: '\e841';
}
.controller-viewpayments .btn-red .icon:before {
  content: '\e842';
}
.controller-viewpayments .btn-blue .icon:before {
  content: '\e843';
}
/* Overview page charts */
.controller-overview h2 {
  text-align: center;
}
.controller-overview hr {
  opacity: 1;
}
.controller-overview #overviewDonutChart {
  min-width: 320px;
  max-width: 400px;
  margin: 10px auto;
  /*&:before {
            content:'AVAILABLE BALANCE';
        }*/
}
.controller-overview #overviewDonutChart .dxc-tooltip tspan:nth-child(2) {
  fill: #444;
  baseline-shift: -4px;
}
.controller-overview #overviewDonutChart .dxc-legend .dxc-item tspan:nth-child(2) {
  baseline-shift: -4px;
}
.controller-overview #overviewDonutChart .dxc-legend .dxc-item:first-child tspan:first-child {
  fill: #6B8F00;
}
.controller-overview #overviewDonutChart .dxc-legend .dxc-item:nth-child(2) tspan:first-child {
  fill: #00c7b1;
}
.controller-overview #overviewDonutChart .dxc-legend .dxc-item:last-child tspan:first-child {
  fill: #0092bc;
}
.controller-overview .total-amt {
  position: absolute;
  top: 145px;
  text-align: center;
  left: 50%;
  width: 160px;
  margin-left: -80px;
  z-index: -1;
}
.controller-overview .total-amt h2 {
  font-size: 26px;
  margin: 0;
}
.controller-overview .total-amt h2 em {
  color: #666;
}
.controller-overview .total-amt span {
  display: block;
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  line-height: 15px;
  font-size: 11px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #898989;
}
.controller-overview #overviewBarChart .dxc-labels {
  /*text {
                transform: translate(0,-15px);
            }

            tspan {
                  //fill: #444;
                  fill: #333;
                  
                  font-size: 12px;
                  
            }

            tspan:first-child {
                  fill: #33B4E5;
                  baseline-shift: 0;
                  //baseline-shift: 0;
                  //transform: translate(74px,0px);
            }*/
}
/* Messages */
.messages .list-group-item.critical {
  border-left: 8px solid #FF4D4D;
}
.messages .list-group-item.warning {
  border-left: 8px solid #FFBB33;
}
.messages .list-group-item.info {
  border-left: 8px solid #33B5E5;
}
.messages .list-group-item > a {
  margin-left: 0;
}
.messages .list-group-item > a span.prodname {
  max-width: 100%;
  white-space: normal;
}
#submenu > .btn-group {
  margin-top: -38px;
}
#submenu > .btn-group .btn {
  background: rgba(204, 204, 204, 0.15);
  color: #fff;
  text-align: center;
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-top: 3px solid transparent;
  border-radius: 0;
  padding: 8px 2px 10px;
  z-index: 1;
}
#submenu > .btn-group .btn.active {
  border-top: 3px solid #DFA94E;
  color: #BB8C3D;
  background: #fff;
}
#submenu #submenu_container {
  /*margin-top: 20px;*/
}
.controller-ccyrates {
  background: rgba(204, 204, 204, 0.15);
  /* Flag icons thanks to www.icondrawer.com */
}
.controller-ccyrates .form-group {
  margin-bottom: 10px;
  text-align: center;
}
.controller-ccyrates h2 {
  display: inline-block;
  margin: 20px auto 5px auto;
  background-repeat: no-repeat;
  background-position: 0 -2px;
  padding-left: 30px;
  font-size: 19px;
}
.controller-ccyrates .list-group-item-heading {
  display: block;
  width: 70px;
  margin: 10px auto 0px auto !important;
  background-repeat: no-repeat;
  background-position: 0 2px;
  padding: 0 0 0 30px !important;
  font-size: 19px;
  min-height: 40px;
  color: #BB8C3D;
}
.controller-ccyrates .BGN {
  background-size: 24px;
  background-image: url(../../../libs/bootstrap/images/flags/bg.png);
  background-image: url(../../../images/flags/bg.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .controller-ccyrates .BGN {
    background-image: url(../../../libs/bootstrap/images/flags/bg.png);
    background-size: 24px 24px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .controller-ccyrates .BGN {
    background-image: url(../../../images/flags/bg.png);
    background-size: 24px 24px;
  }
}
.controller-ccyrates .EUR {
  background-size: 24px;
  background-image: url(../../../libs/bootstrap/images/flags/eu.png);
  background-image: url(../../../images/flags/eu.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .controller-ccyrates .EUR {
    background-image: url(../../../libs/bootstrap/images/flags/eu.png);
    background-size: 24px 24px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .controller-ccyrates .EUR {
    background-image: url(../../../images/flags/eu.png);
    background-size: 24px 24px;
  }
}
.controller-ccyrates .USD {
  background-size: 24px;
  background-image: url(../../../libs/bootstrap/images/flags/usa.png);
  background-image: url(../../../images/flags/usa.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .controller-ccyrates .USD {
    background-image: url(../../../libs/bootstrap/images/flags/usa.png);
    background-size: 24px 24px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .controller-ccyrates .USD {
    background-image: url(../../../images/flags/usa.png);
    background-size: 24px 24px;
  }
}
.controller-ccyrates .GBP {
  background-size: 24px;
  background-image: url(../../../libs/bootstrap/images/flags/uk.png);
  background-image: url(../../../images/flags/uk.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .controller-ccyrates .GBP {
    background-image: url(../../../libs/bootstrap/images/flags/uk.png);
    background-size: 24px 24px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .controller-ccyrates .GBP {
    background-image: url(../../../images/flags/uk.png);
    background-size: 24px 24px;
  }
}
.controller-ccyrates .CHF {
  background-size: 24px;
  background-image: url(../../../libs/bootstrap/images/flags/sw.png);
  background-image: url(../../../images/flags/sw.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .controller-ccyrates .CHF {
    background-image: url(../../../libs/bootstrap/images/flags/sw.png);
    background-size: 24px 24px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .controller-ccyrates .CHF {
    background-image: url(../../../images/flags/sw.png);
    background-size: 24px 24px;
  }
}
#submenu.page-ccy {
  margin-top: 15px;
  background: transparent;
}
#submenu.page-ccy .panel {
  background: #fff;
}
#submenu.page-ccy .btn-group {
  margin-top: 0;
}
#submenu.page-ccy .btn-group .btn {
  background: transparent;
  color: #666;
}
#submenu.page-ccy .btn-group .btn.active {
  border-top: 3px solid #DFA94E;
  color: #BB8C3D;
  background: #fff;
}
#submenu.page-ccy .list-group-item label {
  max-width: 75%;
}
#submenu.page-ccy .list-group-item-heading {
  margin-top: 0;
  padding-top: 20px;
}
.panel-filter {
  padding: 10px;
  margin: 10px !important;
  border-radius: 2px;
}
.panel-filter .form-group {
  margin-bottom: 20px;
}
.panel-filter h2 {
  margin-top: 5px;
}
.panel-filter .account-simple {
  margin-bottom: 10px;
}
.panel-filter .advancedFilter {
  /*border-top:1px solid #ccc;
        background:#f7f7f7;*/
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.2s ease-in-out;
  -o-transition: max-height 0.2s ease-in-out;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}
.panel-filter .advancedFilter.open {
  max-height: 250px;
}
.panel-filter .advancedFilter .btn-payer {
  width: 180px;
  margin: 0 auto;
  display: block;
}
.panel-filter .advancedFilter .col-xs-6 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.panel-filter .advanced-filter-toggler {
  background: #fff;
}
.panel-filter .advanced-filter-toggler span:before,
.panel-filter .advanced-filter-toggler i:before {
  margin: 0;
}
.panel-filter .form-group-buttons {
  margin-bottom: 20px;
}
#submenu.payments .panel-header {
  /*padding-bottom:30px;*/
}
#submenu.payments > .btn-group {
  position: absolute;
  top: 125px;
  margin-top: 0;
  z-index: 1;
}
#submenu.payments .panel-filter {
  margin: 0;
  position: relative;
  overflow: hidden;
}
#submenu.payments .panel-filter .btn-block {
  width: 200px;
  margin: 10px auto;
}
/*.my-accounts {

        .list-group-item {
            margin-left: -100px;

            > a {
                margin-left:120px;

                &:before {
                    font-family: mobile-set;
                    content: '\e863';
                    position: absolute;
                    left: 117px;
                    top: 20px;
                    color: #777;
                }
            }

            &.all-accounts {
              margin-bottom: 20px;
            }

        }

        

        .list-group-item.selected {
            margin-left: -100px;
            background:#D89F45 !important;
            color: #fff;

            > a {

                &:before {
                    font-family: mobile-set;
                    content: '\e878';
                    position: absolute;
                    left: 109px;
                    top: 14px;
                    color: #fff;
                    font-size: 22px;
                }

                > span {
                    color: #fff;
                    text-shadow: none;
                }
            }
        }

        .list-group-item-heading {
            color: #BB8C3D;
            margin-left: 0;
            font-size: 1.4em;
        }
    }*/
.pmtwizard.step-2 .panel-header .overlay {
  padding-bottom: 60px;
}
.pmtwizard h1 {
  color: #BB8C3D;
  text-align: center;
  font-size: 1.4em;
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
}
.pmtwizard .btn-payer {
  width: 180px;
  margin: 10px auto;
  display: block;
}
.pmtwizard .wizardbody hr {
  opacity: 1;
  width: 200px;
  margin: 10px auto;
}
.pmtwizard .wizardbody .account-simple {
  margin-bottom: 0;
}
.pmtwizard .wizardbody h2 {
  text-align: center;
}
.pmtwizard .my-accounts .list-group-item {
  margin-left: -100px;
}
.pmtwizard .my-accounts .list-group-item > a {
  margin-left: 125px;
}
.pmtwizard .my-accounts .list-group-item > a:before {
  font-family: mobile-set;
  content: '\e863';
  position: absolute;
  left: 117px;
  top: 20px;
  color: #777;
}
.pmtwizard .my-accounts .list-group-item.selected {
  margin-left: -100px;
  background: #D89F45 !important;
  color: #fff;
}
.pmtwizard .my-accounts .list-group-item.selected > a:before {
  font-family: mobile-set;
  content: '\e878';
  position: absolute;
  left: 109px;
  top: 14px;
  color: #fff;
  font-size: 22px;
}
.pmtwizard .my-accounts .list-group-item.selected > a > span {
  color: #fff;
  text-shadow: none;
}
.pmtwizard .my-accounts .list-group-item-heading {
  color: #BB8C3D;
  margin-left: 0;
  font-size: 1.4em;
}
.pmtwizard .select-payee {
  /*margin-top:20px;*/
}
.pmtwizard .select-payee h1 {
  margin-bottom: 25px;
}
.pmtwizard .select-payee .btn-loadbeneficiary {
  width: 200px;
  margin: 20px auto 10px;
}
.pmtwizard .select-payee .btn-loadbeneficiary i {
  margin-right: 5px;
}
.pmtwizard .select-payee a {
  /*color: #444;
            display: block;
            margin: 0 auto;
            width: 80%;
            position:relative;
            font-size: 26px;
            padding-right: 10px;

            &:focus {
                background:#f7f7f7;
            }*/
}
.pmtwizard .select-payee a .payee-title {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
}
.pmtwizard .select-payee a .payee-title em {
  color: #B28439;
  font-style: normal;
}
.pmtwizard .select-payee a .subtext {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  display: block;
  line-height: 15px;
  font-size: 11px;
  text-transform: uppercase;
  color: #777;
  margin-left: 4px;
}
.pmtwizard .select-payee a .i-right-open-big {
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -10px;
  font-size: 20px;
  color: #777;
}
.pmtwizard .select-payee hr {
  opacity: 1;
}
.daispopup {
  /*position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../../images/background/bg-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    height: auto;
    overflow: auto;
    margin-bottom: 0;
    padding-top:50px;*/
}
.daispopup .btn-close {
  font-family: "Roboto-Thin";
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1090;
  padding: 0;
}
.daispopup .list-group-item.all-accounts {
  margin-bottom: 20px;
}
.daispopup .list-group-item.all-accounts > a > span {
  overflow: auto;
  max-width: 100%;
}
.daispopup .list-group-item > a {
  margin-left: 140px;
}
.daispopup .list-group-item label {
  max-width: 100%;
}
.picker {
  height: 100%;
}
.picker h2 {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  position: fixed;
  text-align: center;
  top: 0;
  right: 50px;
  left: 50px;
  padding-top: 0;
  margin: 0;
  color: #fff;
  line-height: 48px;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1090;
}
.picker .value {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 2em;
  font-family: "Roboto-Thin";
  font-weight: 100;
  font-style: normal;
  /*margin-top: -8px;*/
}
.picker .shortdescr {
  color: #fff;
  text-align: center;
  display: block;
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
}
.picker .shortdescr em {
  color: rgba(238, 238, 238, 0.45);
  font-style: normal;
}
.picker hr {
  margin: 5px auto;
  width: 150px;
  opacity: 0.8;
}
.picker .list-group {
  /*width: 98%;*/
  margin: 0 auto;
  margin-top: 20px;
}
.pmt-preview h1 {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  position: fixed;
  text-align: center;
  top: 0;
  right: 50px;
  left: 50px;
  padding-top: 0;
  margin: 0;
  color: #fff;
  line-height: 48px;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1090;
}
.pmt-preview hr {
  margin: 10px;
  display: none;
}
.pmt-preview .shortdescr {
  color: #fff;
  text-align: left;
  display: block;
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  text-transform: uppercase;
  width: 80%;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 5px;
}
.pmt-preview .shortdescr.create-like {
  line-height: 11px;
  white-space: normal;
}
.pmt-preview .btn-close {
  top: 8px;
}
.pmt-preview .list-group.label-value .list-group-item label {
  max-width: 100%;
  float: none;
  line-height: 1.6;
  white-space: normal;
}
.pmt-preview .list-group.label-value .list-group-item .value {
  float: none;
  line-height: 1.2;
}
.pmt-preview footer .btn {
  padding: 0;
}
.pmt-preview footer .btn i {
  font-size: 24px;
  display: block;
  margin: 0 auto;
}
.pmt-preview footer .btn .shortdescr {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
}
.controller-viewtemplates .panel-header {
  /*height: 160px;*/
}
.controller-viewtemplates .form-group {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 0;
}
.controller-viewtemplates .form-group .btn {
  background: rgba(255, 255, 255, 0.2);
  border-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 0;
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 0;
}
.controller-viewtemplates .form-group .form-control {
  background: rgba(204, 204, 204, 0.25);
  color: #fff;
}
.beneficiaries-list .list-group-item {
  /*margin-left: -100px;*/
}
.beneficiaries-list .list-group-item > a:after {
  font-family: mobile-set;
  content: '\e812';
  position: absolute;
  right: 10px;
  top: 20px;
  color: #777;
}
.beneficiaries-list .list-group-item > a span.prodname {
  max-width: 100%;
  color: #BB8C3D;
}
.beneficiaries-list .list-group-item > a .additional-info {
  clear: both;
}
.beneficiaries-list .list-group-item > a .additional-info span.secondarylabel {
  clear: none;
  color: #999;
}
.beneficiaries-list .list-group-item > a .additional-info span.secondarylabel.iban,
.beneficiaries-list .list-group-item > a .additional-info span.secondarylabel.ccy-label {
  color: #585858;
}
.action-contacts .panel-header {
  /*height: 145px;*/
}
.action-contacts .panel-header h2 {
  font-size: 24px;
}
.controller-bankbranches .page-title {
  display: none;
}
.controller-bankbranches h2 {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  position: fixed;
  text-align: center;
  top: 0;
  right: 50px;
  left: 50px;
  padding-top: 0;
  margin: 0;
  color: #fff;
  line-height: 48px;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1090;
}
.pac-container {
  z-index: 1050;
}
.pac-item {
  cursor: pointer;
  padding: 7px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
  font-family: sans-serif;
  font-size: 12px;
  background: #fff;
  z-index: 1051;
}
.pac-item:nth-child(odd) {
  background: #f6f6f6;
}
.cluster div {
  color: #fff !important;
}
#bankBranches {
  /*padding-bottom:0 !important;*/
  margin-top: 0;
  overflow: visible !important;
  z-index: 1050;
}
#bankBranches > .gm-style {
  overflow: visible !important;
}
#bankBranches .filterContainer {
  top: -5px !important;
  width: 200px;
  background: #fff;
}
#bankBranches .filterContainer p {
  margin: 10px;
}
#bankBranches .filterContainer p input[type=checkbox] {
  display: none;
}
#bankBranches .filterContainer p input[type=checkbox] + label {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 6px;
  margin-bottom: 0;
}
#bankBranches .filterContainer p input[type=checkbox] + label:before {
  font-family: mobile-set;
  content: '\e863';
  margin-right: 13px;
  font-size: 14px;
  color: #ccc;
}
#bankBranches .filterContainer p input[type=checkbox]:checked + label {
  padding-left: 0;
}
#bankBranches .filterContainer p input[type=checkbox]:checked + label:before {
  font-family: mobile-set;
  content: '\e877';
  margin-right: 8px;
  font-size: 14px;
  color: #106F10;
}
#bankBranches .container-search {
  margin-top: -48px;
}
#bankBranches .container-search .searchDiv {
  width: 260px;
  margin-right: 5px;
}
#bankBranches .container-search .form-control {
  color: #656565;
  background-color: #fff;
  border: none;
  margin-top: 2px;
}
#bankBranches .container-search .form-control::-webkit-input-placeholder {
  color: #656565;
}
#bankBranches .container-search .btn {
  color: #fff;
  font-size: 18px;
}
#bankBranches #submenu {
  margin-top: -48px;
}
#bankBranches #submenu > .btn-group {
  margin-top: 0;
  width: 200px;
}
#bankBranches #submenu > .btn-group .btn {
  font-size: 14px;
  padding: 10px 2px;
  background: transparent;
}
#bankBranches #submenu > .btn-group .btn.active {
  background: #fff;
}
#bankBranches #centerOnMe {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 0;
  text-align: center;
  padding-top: 9px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.55);
}
#bankBranches #centerOnMe .i-location:before {
  font-size: 28px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}
#bankBranches .infoBox {
  padding: 10px;
  opacity: 1 !important;
}
#bankBranches .infoBox h4 {
  margin-top: 0;
}
#bankBranches .infoBox p {
  font-size: 14px;
  color: #646060;
}
/*# sourceMappingURL=dev.rbb.style.css.map */