<div class="form-group">
    <label for="Details1">{{:~GetString("ID_STR_PAYMENY_DETAILS") }}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.Details1, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.Details1'" />
</div>
<div class="form-group">
    <label for="Details2">{{:~GetString("ID_STR_PAYMENY_DETAILS_ADDTIONAL") }}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.Details2, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.Details2'" />
</div>
<div class="form-group">
    {{:~RenderPartial('text!Mobile/Templates/Common/DirtyMoneyPicker.html', #data)}}
    <div data-bind="partial: { path: 'Payments/Wizard/Details/Partials/PaymentTypeRings' }"></div>
</div>

