<div class="form-group">
    <label for="PayeeAddress">{{:~GetString("ID_STR_PAYER_ADDRESS")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.PayerAddress, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.PayerAddress'" />
</div>
<div class="form-group">
    <label for="PayeeAddress">{{:~GetString("ID_STR_BENEFICIRAY_ADDRESS")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.PayeeAddress, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.PayeeAddress'" />
</div>
<div class="form-group">
    <label for="Details1">{{:~GetString("ID_STR_PAYMENY_DETAILS")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.Details1, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.Details1'" />
</div>
<div class="form-group">
    <label for="Details2">{{:~GetString("ID_STR_PAYMENY_DETAILS_ADDTIONAL")}}</label>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.Details2, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.Details2'" />

    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.Details3, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.Details3'" />

    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.Details4, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.Details4'" />
</div>
    {{:~RenderPartial('text!Mobile/Templates/Common/DirtyMoneyPicker.html', #data)}}
    {{:~RenderPartial('text!Mobile/Templates/Payments/Wizard/Details/Partials/OpCodesTemplate.html', #data)}}
