<div class="form-group">
    <label for="ticketSelect">{{>~GetString("ID_STR_RATIO") }}</label>
    <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
        data: {
            value: AdditionalViewData.thereIsTicketComp,
            options: [
                { value: false, text: jQuery.GetResString('ID_STR_STANDART_RATE') },
                { value: true, text: jQuery.GetResString('ID_STR_NEGOTIATED_RATE') }
            ],
            optionsText: 'text',
            optionsValue: 'value'
        }
    }"></div>
</div>

<div data-bind="visible: $root.Details.ThereIsTicket" class="form-group" style="overflow:hidden">
    <h2>{{>~GetString("ID_STR_NEGOTIATED_RATIO_LABEL") }}</h2>
    <div class="col-xs-6">
        <div data-bind="partial: { path: 'Common/Input', data: { value: Details.FinalRate, type: 'number' } }"></div>
    </div>
    <div class="col-xs-6">

        <div class="input-group-btn" data-bind="partial: { path: 'Common/DropDownList',
        data: { options: AdditionalViewData.RateTypeOptions, optionsText: 'text', value: AdditionalViewData.SelectedRateType }
    }"></div>
    </div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.FinalRate'" />
</div>
<div class="form-group">
    <h2>{{>~GetString("ID_STR_REFERENCE") }}</h2>
    <div data-bind="partial: { path: 'Common/Input', data: { value: Details.Reference, type: 'text' } }"></div>
    <span class="validation-msg" data-bind="validationMessageFor: 'Details.Reference'" />
</div>

    {{:~RenderPartial('text!Mobile/Templates/Common/DirtyMoneyPicker.html', #data)}}
